
/*** 手機選單、選單 色塊-變色  ***/
.b-color, .slicknav_menu { background:#fff;} /** 選單顏色 ***/
.slicknav_icon-bar { background-color: #FFF;} /** 手機選單ICON按鈕色 ***/
.slicknav_btn { background:#666666;	} /** 手機選單ICON按鈕底色 ***/
.b-color>li:hover, .b-color>li>ul>li>a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {  background: #999999; } /** 選單滑入顏色 ***/


/***  選單與下拉  ***/
 .menu>li { color:#fff; }
 .menu>li>a { color:#4d4d4d; }  
 .menu>li>a:hover {border-bottom:2px solid #666666; border-top:2px solid #666666; color:#444444; }


/** 次選單 **/

.menu.sub-menu>li:hover>ul { position:absolute; width:130px; padding:12px 0 0 0; display: block; left:-50%; top:33px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; margin-left:5px; }

.menu.sub-menu>li>ul>li{ font-size:15px; background: #666666;
 opacity: .9; /* 透明度90% FireFox 的寫法 */ 
filter: Alpha(Opacity=90); /* 透明度90% IE 的寫法 */ }
.menu.sub-menu>li>ul>li>a:hover{ color:#ccc;}



/** 首頁最新消息 **/
.i-news h2 span{ color:#666666; }
.i-news ul li .month{ background:#666666; }
.i-news ul li .contect .contect-title{ color:#444444;}


/***  首頁-關於我們  ***/
.i-about-content h2 span{color: #666666; }
.i-about-content .more a{ background:#666666; color:#fff;}
.i-about-content .more a:hover{ background:#444444; }
.i-about .tableLayout .fig{ background:url(../images/knowledge-img.jpg) no-repeat top left; background-size:cover;}



/** 首頁-常見問題 **/
.i-qa h2{ }
.i-qa h2 span{color: #666666; }
.i-qa ul li i{color: #666666; }


/*****  內頁架構  *****/
.page-title { color:#666666; }
.page-title span:before{ color:#666666;}

.theme-title{ border-bottom:1px dashed #e5bebe; }
.theme-title i{ color:#666666; }


/*****  內頁選單  *****/
.in-left-menu>ul>li>a:hover { background:#666666; border:1px solid #666666;}
.in-left-menu>ul>li>a.active{background:#666666; border:1px solid #666666; color:#FFF;}
.in-left-menu>ul>li>a.active:after{ border-color: #666666 transparent transparent transparent; }




/*** 消息 ***/
.news h2{ font-size:30px; color:#333; }

.news ul li .month{ color:#fff;  background:#666666; }

.news ul li .contect{ color: #4d4d4d;  }
.news ul li .contect a{ color:#4d4d4d;}
.news ul li .contect a:hover{color:#3d8022;}

.news ul li .contect .contect-title{ color:#444444; }

.news-detaile .time{ color:#666666;}


/***** 產品明細 *****/
h3.pro-introduce { color:#666; }
h3.pro-introduce span{ background:#666666; color:#FFF; }


/*****  FAQ  *****/
.faq ul li .qa_title>a:before{ background:#666666; }
.faq ul li .qa_title>a i{ color:#FFF; }
.faq ul li .qa_content a{ background:#666666;}


/*****  聯絡我們  *****/
.contact-note { background:#666666 url(../images/footer-bg.png) ; color:#FFF;}

a.btn-send { background: #333333; color:#fff;}
a.btn-send:hover { background: #666666;}
a.btn-reset { background:#333333; color:#fff; }
a.btn-reset:hover { background:#666666;}


/* 頁次 */	
.page a { background: #333333; color:#fff; }
.page a:hover { background: #666666; color: #fff;}


/******  底部資訊  ******/
footer { background:#333 url(../images/footer-bg.png) ; }
