@charset "utf-8";
.warpper { max-width:640px; margin:7% 0 0 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0;}




.home { display:none; }
.home_w { display: block; position:absolute; top:20px; left:10px; width:30px; height:auto; }
.m-banner { width:100%; overflow:hidden; position: relative; z-index:1000;}
.m-banner img { position:absolute; top:-50%;  }
.banner { }
.banner img { width:100%;}


@media screen and (max-width: 380px) {
	.head-main .logo{ top:10px;}
	.head-main .logo img{ width:150px;}
	
} 

.banner-bg {margin:-3.5% 0 0 0;}

.oproject { display: inline; color:#900;}

/*****  內頁架構  *****/
.page-title { margin:30px 0; font-size:27px;  }
.theme-title{ font-size:18px;}
.theme-title-02{ margin:20px 2% 0 2%;}
@media screen and (max-width: 400px) {
	.page-title span{ text-align:center; margin-top:10px; font-size:22px; color:#666;}
	.page-title span:before{ font-size:18px; bottom:0;}
	.page-title img{ margin-right:0;}
	.theme-title{ font-size:19px; margin:0 2%;}
	
} 

/** 左邊展開選單 **/
.sample1>ul>li>.sub-menu{ display:none;}
.sample1>ul>li:hover>.sub-menu{ display:none;}
.service-sub-menu{ display:block;}



/*** 流程服務 ***/
.process ul.pc{ display:none;}
.process ul.mobi{ display:block;}

/***  知識庫  ***/
.share-tool{ margin:15px 15px 10px 15px; color:#999;}


/***** 訂單列表  *****/
.order-search { padding-left:0px;}
ul.order-list li.th { display:none;}
.order-list { padding-left:0px;} 
.order-list-img, .order-list-img02 { float:left; width:100%; font-size:15px; text-align:center;}
  .order-list-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}
  .order-list .order-list-td { font-size:15px; color: #333; text-align: left;}
  
  
.order-list-name { float: ; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.order-list-price { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02 { float:left; width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02 { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-del { float:left; width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.order-list-del a { padding: 5px 10%;}

.order-list .portal { width:100%; text-align: center;}
.order-list .freight { width:100%;  text-align: center;}
.order-list .oproject { font-size:15px; color:#000; display: inline; }

.order-ditaile-info { padding:0 0 0 0px; }

/*****  購物車  *****/
ul.shopping-car-list li.th { display:none;}
.shopping-car { padding-left:0px;} 
.shop-car-img { width:100%; text-align:center; border-bottom:1px #D3D3D3 dotted; margin-bottom:10px; display:block;}
  .shop-car-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:10px; border:1px #CCC solid; margin:10px; text-align:center;}
  
.shop-car-name { float:none; display:block;  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.shop-car-price {  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-quantity {  width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-subtotal{ width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-del {  width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.shop-car-del a { padding: 5px 10%;}

.shopping-car .portal { width:100%; text-align: center;}
.shopping-car .freight { width:100%;  text-align: center;}
.shopping-car .oproject { font-size:15px; color:#000; display: inline; }

.checkout-box { background:#F4F3F0; padding: 10px; margin-left:0px; border-bottom:2px #FFF dotted; }


/*****  產品專區  *****/
.pro-store-info {  padding:10px 0 10px 0px; }
.pro-list ul li {  width:48%; padding:1%; margin:10px 1%; }
.pro-detaile { padding-left:0px; }
.pro-qr-code { text-align:center; padding-bottom:20px;}
.pro-qr-code img { width:200px; height:auto;}
.cart-info .price { font-size:28px; text-align:center; display:block; padding:10px 0 20px 0;}
.cart-info .quantity {text-align: center;}
.cart-info .check-out { text-align:center; clear:both; display:block;}
.cart-info .check-out a { font-size:15px; width:100%; padding:10px 0px; margin-left:0px; display:block;}

@media screen and (max-width: 460px) {
	.pro-list ul li { width:96%; padding:1%; margin:10px 2%; }
	
} 


h3.pro-introduce { padding:5px 0; }
.pro-content{ padding:0 1%; }
.pro-specification {  }


/*****  聯絡我們  *****/
.contact-body { padding:0 0 0 0px;}
.contact-note { padding:10px; text-align:left; }
.contact-left { max-height:200px; overflow:hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.contact-left img { width:100%; height:auto; margin-top:10px;}

a.btn-send {padding: 5px 0;  width:49%; margin:5px 1% 0 0; display:block; float:left;}
a.btn-reset { padding: 5px 0; width:49%; margin:5px 0 0 1%; display:block; float:left;}
a.btn-send-over { padding: 3px  0px; color:#fff; width:100%; display:block; float:left; margin-top:5px;}

/* 聯絡我們頁籤 */

.content-box .infor{ width:100%; margin:0 0 10px 0; float:none;}
.content-box .map{ width:100%; float:none;  }

@media screen and (max-width: 360px) {
	#location ul li{ font-size:13px;}
} 




/*****  內頁架構  *****/
.page-main { padding: 0 15px 0 15px; }
.left-menu-title { font-size:15px; border-top:1px #999 dotted;}


.sample1>ul>li{ font-size:14px;}


/*****  首頁產品  *****/
.index-pro ul li {  width:48%; padding:1%; text-align:center; float:left;}


/*****  首頁連結  *****/
.index-link ul li { float:left; width:50%; margin:0; padding:0; border:0;}

/*****  首頁 最新消息模組  *****/
.i-news { padding-left:0px; margin: 0 auto 40px auto;}
.i-news h2{ font-size:24px; max-width: 94%;}
.i-news h2 span{font-size:26px;}



/** 常見問題 **/
.i-qa h2{ max-width:94% ; font-size:24px; margin-top:20px;}
.i-qa h2 span{ font-size:26px;}
.i-qa ul li a{}




/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B; text-align:center;}
.login-tool {text-align:center; }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}


/***  版面欄位  ***/
.main { padding: 0;}
.col-m  { width:100%; margin-right:0%; float:none;}
.col-100 {}
.col-015, 
.col-020, 
.col-025, 
.col-030, 
.col-035, 
.col-040, 
.col-045, 
.col-050, 
.col-055, 
.col-060, 
.col-065, 
.col-070, 
.col-075, 
.col-080,
.col-085 { width:100%; margin-right:0%;}


.cor-015, 
.cor-020, 
.cor-025, 
.cor-030, 
.cor-035, 
.cor-040, 
.cor-045, 
.cor-050, 
.cor-055, 
.cor-060, 
.cor-065, 
.cor-070, 
.cor-075, 
.cor-080,
.cor-085 { width:100%;}


/*****  首頁-最新消息  *****/

.i-news ul{width:96%;}



/*** 關於我們 ***/
.about{ margin:0;}
.about-history{ margin: 0 0 20px 0; padding:5px 0;} 
.history .event-list{background: url(../images/year-line.png) repeat-y 0px bottom; max-width:100%; margin-bottom:20px; min-height:340px; }
.about-history .image-box{ position:static; max-width:100%; margin:0 auto;}
.about-history .image-box img{ width:47%; margin:10px 1%; box-shadow:0 0 10px #CCC;}
.about-history .image-box img.full{ width:99%;}
.history .event-list ul li .event {padding: 1px 3px 5px 95px; font-size:15px;}
.history .event-list ul li .year{ margin-left:22px; }


/*** 消息 ***/
.news-detaile{ margin:30px 0; padding:0 3%;}
@media screen and (max-width: 450px) {
	.news ul li .month{ width:90px; padding:20px 1%; margin:0 3% 0 0 ; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
	.news ul li .contect{ padding-left: 90px;}
} 
@media screen and (max-width: 370px) {
	.news ul li .month{ width:70px; padding:20px 1%; margin:0 3% 0 0 ; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
	.news ul li .contect{ padding-left: 80px;}
	.news ul li .contect .contect-title{ height:30px; overflow:hidden;}
	
} 


/***  流程服務  ***/
.service-detaile{ margin:0 3%; font-size:15px;}
.service-sort{ display:none;}


/***  首頁-關於我們  ***/

.i-about-content{ width:100%; padding: 40px 3%; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
.i-about-content h2{ font-size:24px; max-width:100%; }
.i-about-content h2 span{font-size:26px;}
.i-about-content h2 .more{ }
.i-about-content h2 .more a{ width:54px;}




/***  產品專區  ***/
.pro-detaile{ padding:0 10px;}
.pro-detaile .pro-photo { width:92%; margin:0 auto 20px auto;}
 
 
 


/***  表單欄位  ***/
.contact-note{ font-size:14px;}
.form-box { min-width: 260px; padding:15px 5% 4% 5%; margin:30px 2% 0 2%;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 3%; line-height:20px; width:93%;}
.input-main-style02 {  padding:5px 3%; width:93.3333%; }

.opinion { margin-bottom:0; }
.opinion-left01 { float:none; width:100%;padding:0 0 5px 0; display:block; font-size:14px;  }
.opinion-right01 { float:none width:100%; padding:0px 2%;}
.input-main-style01 { float:left; width:81%; margin:0; padding:5px 3%; -webkit-border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px;}


.select-style { font-size:15px; width:96%; line-height:20px; padding:5px 2%;   }
.input-style01, .input-main-style02, .input-main-style03 { float:none; width:100%;}
.checkout-box h3 { margin-right:0;}

/* 頁次 */	
.page{ height:100px;}
.page br { display: block;}


/******  底部資訊  ******/
@media screen and (max-width: 430px) {
	footer .footer-box .infor{ width:98%; margin:0 auto 10px auto; text-align:center; } 
	footer .footer-box .infor .qr-code{ float:none; margin:0 0 5px 0;}
} 


footer .footer-box .copytight{ padding:0;}
footer .footer-box .copytight .wd{ padding:0;}



