
/*** 手機選單、選單 色塊-變色  ***/
.b-color, .slicknav_menu { background:#fff;} /** 選單顏色 ***/
.slicknav_icon-bar { background-color: #FFF;} /** 手機選單ICON按鈕色 ***/
.slicknav_btn { background:#f15f7c;	} /** 手機選單ICON按鈕底色 ***/
.b-color>li:hover, .b-color>li>ul>li>a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {  background: #fb93a7; } /** 選單滑入顏色 ***/


/***  選單與下拉  ***/
 .menu>li { color:#fff; }
 .menu>li>a { color:#4d4d4d; }  
 .menu>li>a:hover {border-bottom:2px solid #f2899e; border-top:2px solid #f2899e; color:#f15f7c; }


/** 次選單 **/

.menu.sub-menu>li:hover>ul { position:absolute; width:130px; padding:12px 0 0 0; display: block; left:-50%; top:33px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; margin-left:5px; }

.menu.sub-menu>li>ul>li{ font-size:15px; background: #f15f7c;
 opacity: .9; /* 透明度90% FireFox 的寫法 */ 
filter: Alpha(Opacity=90); /* 透明度90% IE 的寫法 */ }
.menu.sub-menu>li>ul>li>a:hover{ color:#FF6;}



/** 首頁最新消息 **/
.i-news h2 span{ color:#f15f7c; }
.i-news ul li .month{ background:#f15f7c; }
.i-news ul li .contect .contect-title{ color:#e6395b;}


/***  首頁-關於我們  ***/
.i-about-content h2 span{color: #f15f7c; }
.i-about-content .more a{ background:#f15f7c; color:#fff;}
.i-about-content .more a:hover{ background:#ef3f62; }
.i-about .tableLayout .fig{ background:url(../images/knowledge-img.jpg) no-repeat top left; background-size:cover;}



/** 首頁-常見問題 **/
.i-qa h2{ }
.i-qa h2 span{color: #f15f7c; }
.i-qa ul li i{color: #f15f7c; }


/*****  內頁架構  *****/
.page-title { color:#f15f7c; }
.page-title span:before{ color:#f15f7c;}

.theme-title{ border-bottom:1px dashed #e5bebe; }
.theme-title i{ color:#f15f7c; }


/*****  內頁選單  *****/
.in-left-menu>ul>li>a:hover { background:#f15f7c; border:1px solid #f15f7c;}
.in-left-menu>ul>li>a.active{background:#f15f7c; border:1px solid #f15f7c; color:#FFF;}
.in-left-menu>ul>li>a.active:after{ border-color: #f15f7c transparent transparent transparent; }




/*** 消息 ***/
.news h2{ font-size:30px; color:#333; }

.news ul li .month{ color:#fff;  background:#f15f7c; }

.news ul li .contect{ color: #4d4d4d;  }
.news ul li .contect a{ color:#4d4d4d;}
.news ul li .contect a:hover{color:#3d8022;}

.news ul li .contect .contect-title{ color:#e6395b; }

.news-detaile .time{ color:#d16b73;}


/***** 產品明細 *****/
h3.pro-introduce { color:#666; }
h3.pro-introduce span{ background:#f15f7c; color:#FFF; }


/*****  FAQ  *****/
.faq ul li .qa_title>a:before{ background:#f15f7c; }
.faq ul li .qa_title>a i{ color:#FFF; }
.faq ul li .qa_content a{ background:#f15f7c;}


/*****  聯絡我們  *****/
.contact-note { background:#f15f7c url(../images/footer-bg.png) ; color:#FFF;}

a.btn-send { background: #e63a5c; color:#fff;}
a.btn-send:hover { background: #f15f7c;}
a.btn-reset { background:#e63a5c; color:#fff; }
a.btn-reset:hover { background:#f15f7c;}


/* 頁次 */	
.page a { background: #e63a5c; color:#fff; }
.page a:hover { background: #f15f7c; color: #fff;}


/******  底部資訊  ******/
footer { background:#f68198 url(../images/footer-bg.png) ; }
