@charset "utf-8";
.wrapper { max-width:640px; margin:0 auto;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0;}


header { height:150px; padding-top:0px;}
.head-main .logo { width:150px;  position:static; line-height:1.1em; margin:0 auto; text-align:center;}
.head-main .logo img { width:100%; height:auto;}
.head-tool { width:310px; position:static; margin:10px auto; }

.home { display:none; }
.home_w { display: block; position:absolute; top:20px; left:10px; width:30px; height:auto; }
.m-banner { width:100%; overflow:hidden; position: relative; z-index:1000;}
.m-banner img { position:absolute; top:-50%;  }
.banner { }
.banner img { width:100%;}
.oproject { display: inline; color:#900;}

/***** 訂單列表  *****/
.order-search { padding-left:0px;}
ul.order-list li.th { display:none;}
.order-list { padding-left:0px;} 
.order-list-img, .order-list-img02 { float:left; width:100%; font-size:15px; text-align:center;}
  .order-list-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}
  .order-list .order-list-td { font-size:15px; color: #333; text-align: left;}
  
  
.order-list-name { float: ; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.order-list-price { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02 { float:left; width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02 { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-del { float:left; width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.order-list-del a { padding: 5px 10%;}

.order-list .portal { width:100%; text-align: center;}
.order-list .freight { width:100%;  text-align: center;}
.order-list .oproject { font-size:15px; color:#000; display: inline; }

.order-ditaile-info { padding:0 0 0 0px; }

/*****  購物車  *****/
ul.shopping-car-list li.th { display:none;}
.shopping-car { padding-left:0px;} 
.shop-car-img { width:100%; text-align:center; border-bottom:1px #D3D3D3 dotted; margin-bottom:10px; display:block;}
  .shop-car-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:10px; border:1px #CCC solid; margin:10px; text-align:center;}
  
.shop-car-name { float:none; display:block;  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.shop-car-price {  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-quantity {  width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-subtotal{ width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-del {  width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.shop-car-del a { padding: 5px 10%;}

.shopping-car .portal { width:100%; text-align: center;}
.shopping-car .freight { width:100%;  text-align: center;}
.shopping-car .oproject { font-size:15px; color:#000; display: inline; }

.checkout-box { background:#F4F3F0; padding: 10px; margin-left:0px; border-bottom:2px #FFF dotted; }


/*****  產品專區  *****/
.pro-store-info {  padding:10px 0 10px 0px; }
.pro-list ul li {  width:48%; padding:1%; }
.pro-detaile { padding-left:0px; }
.pro-qr-code { text-align:center; padding-bottom:20px;}
.pro-qr-code img { width:200px; height:auto;}
.cart-info .price { font-size:28px; text-align:center; display:block; padding:10px 0 20px 0;}
.cart-info .quantity {text-align: center;}
.cart-info .check-out { text-align:center; clear:both; display:block;}
.cart-info .check-out a { font-size:15px; width:100%; padding:10px 0px; margin-left:0px; display:block;}

/*****  聯絡我們  *****/
.contact-body { padding:0 0 0 0px;}
.contact-left { max-height:200px; overflow:hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.contact-left img { width:100%; height:auto; margin-top:10px;}

a.btn-send {padding: 5px 0;  width:49%; margin:5px 1% 0 0; display:block; float:left;}
a.btn-reset { padding: 5px 0; width:49%; margin:5px 0 0 1%; display:block; float:left;}
a.btn-send-over { padding: 3px  0px; color:#fff; width:100%; display:block; float:left; margin-top:5px;}

/*****  內頁架構  *****/
.page-main { padding: 0 0 0 0px; }
.left-menu-title { font-size:15px; border-top:1px #999 dotted;}

/*****  首頁產品  *****/
.index-pro ul li {  width:48%; padding:1%; text-align:center; float:left;}


/*****  首頁連結  *****/
.index-link ul li { float:left; width:50%; margin:0; padding:0; border:0;}

/*****  首頁 搜尋 最新消息模組  *****/
.i-news { padding-left:0px;}
.i-news h3 { border-bottom:1px #CCC solid;}

/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B; text-align:center;}
.login-tool {text-align:center; }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}


/***  版面欄位  ***/
.main { padding: 0px 2% 0 2%;}
.col-m  { width:100%; margin-right:0%; float:none;}
.col-100 {}
.col-015, 
.col-020, 
.col-025, 
.col-030, 
.col-035, 
.col-040, 
.col-045, 
.col-050, 
.col-055, 
.col-060, 
.col-065, 
.col-070, 
.col-075, 
.col-080,
.col-085 { width:100%; margin-right:0%;}


.cor-015, 
.cor-020, 
.cor-025, 
.cor-030, 
.cor-035, 
.cor-040, 
.cor-045, 
.cor-050, 
.cor-055, 
.cor-060, 
.cor-065, 
.cor-070, 
.cor-075, 
.cor-080,
.cor-085 { width:100%;}


nav { }

@media screen and (max-width: 640px) {
	.slicknav_menu { display:none;}
	.js #menu {	display:none;}
	.js .slicknav_menu {display:block;}
} 

 .menu { list-style:none;}
 .menu li { color:#fff; width:100%;  text-align:center; float:none;}
 
 
 
/*** 訂位區塊  ***/
.info-box { font-size:14px; color:#7E7E7E; line-height:20px;}

/***  定位-選項-時段  ***/
.order-opinion { width:100%; margin-right:0; float: none;}
.time { width:100%; float: none;}

.time ul li {margin:1% 1% 0 0; width:24%;}


/***  表單欄位  ***/
.form-box { min-width: 280px;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 3%; line-height:20px; width:93%;}
.input-main-style02 {  padding:5px 3%; width:93.3333%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.opinion { margin-bottom:5px; }
.opinion-left01 { float:left; width:15%;padding:5px 3%; display:none;}
.opinion-right01 { float:left; width:7.5%; padding:0px 2%;}
.input-main-style01 { float:left; width:81%; margin:0; padding:5px 3%; -webkit-border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px;}

.bottom-info-main { padding:0 20px;}
footer .copytight { max-width:1000px; margin:0 auto; padding:30px 10px; color:#fff; font-size:13px; text-shadow:-1px -1px 0px #7b6f48; line-height:24px; }
footer .copytight img.footer-logo { width:220px; height: auto; margin:0 auto 20px auto; display:block;} 

.select-style { font-size:15px; width:96%; line-height:20px; padding:5px 2%;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.input-style01, .input-main-style02, .input-main-style03 { float:none; width:100%;}
.checkout-box h3 { margin-right:0;}

/* 頁次 */	
.page{ height:100px;}
.page br { display: block;}

/******  底部資訊  ******/

.bottom-info-main h3 { font-size:15px; color:#fff; border-bottom:1px #d4a0a0 solid; line-height:40px; margin-top:0; }

footer .copytight { text-align:center; text-shadow:0 0 0 #2D2D2D; }
footer .copytight .footer-logo { float: none;  margin-right:0px; } 


