@charset "utf-8";
*{font-family:"微軟正黑體";}
body { width:100%; height:101%; margin:0; padding:0; font-family:"微軟正黑體";  font-size: 14px; line-height:1.5;}
html { width:100%; height:100%;}

.wrapper {}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a{display:inline-block; text-decoration:none; outline:none; hlbr:expression(this.onFocus=this.blur()); -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
img{border:0; max-width:100%; height:auto; width:auto\9; /* ie8 */ vertical-align:middle;}
input,textarea{outline:none;}
textarea{resize:none;}
input{vertical-align:middle;}
.slicknav_menu {display:none;}
input.select-box { border:1px #CBCBCB solid; padding:5px 3%; width:20px; height:20px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; }
.l-wrapper{width:95%; max-width:1160px; margin:0 auto;}
.fb-comments, .fb-comments iframe[style] { width: 100% !important; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100% !important; }



/*** padding and border no width ****/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}



/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder { color: #333; }
::-moz-placeholder { color:#333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333; } /* ie */
input:-moz-placeholder { color:#333; }

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#333; }
#field3::-webkit-input-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#333; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#333; }
#field3::-moz-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#333; }




/*** 手機選單、選單 色塊-變色  ***/
.slicknav_menu { background:#333; }
.slicknav_icon-bar { background-color: #FFF;}
.slicknav_btn { background:#5e5e5e;}
.slicknav_btn:hover{background:#777;}

.b-color>li:hover, .b-color>li>ul>li>a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {  background: #c8c8c8; }
.slicknav_nav>li { border-bottom:1px #a3a3a3 solid;}
.slicknav_nav>li:last-child { border-bottom:0;}
.slicknav_nav>li.first { } 
.border-color { border-left:7px #A0A0A0 solid;} /** 標題顏色 ***/


header { background:#f7f7f7; height:100px; }
.head-main { width:95%; max-width:1160px; margin:0 auto; height:100px; position:relative; }
.head-tool { width:310px; position: absolute; top:20px; right:0; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border:1px #E5E3E3 solid; text-align:center; overflow:hidden;}
.head-tool li { list-style:none; padding:0px; margin:0; float:left; width:33.33%;}
.head-tool li a { margin:0; padding:5px; display:block; color:#767575;}
.head-tool li a:hover { background: #666666; color:#fff; }


.head-main .logo {display:inline-block; width:279px; height:73px; float:left;}
@media screen and (max-width:380px){
	.head-main .logo {display:inline-block; width:76%; height:auto; float:left;}
}
.head-main .logo a {display:inline-block; color:#777777;}
.head-main .logo img {margin-top:13.5px;}
.home { display: block; position:absolute; top:-35px; right:0px; width:25px; height:auto;}
.home_w { display:none;}



.banner { width:100%; overflow: hidden; position: relative; }
.banner img { vertical-align:middle; width:100%; height:auto; position:absolute;}

h3.login-title { margin:0 0 10px 0; font-family:"Times New Roman"; font-size:24px; line-height:30px; color:#9B9B9B;}
.login-tool { }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/* 首頁-關於富陽 */
.index-about{background:url(../images/index-about-bg.jpg); background-size:cover;}
.index-about .l-wrapper{display:table; padding:54px 0 64px 0;}
.index-about .l-wrapper>div{display:table-cell; text-align:center; vertical-align:middle;}
@media screen and (max-width:800px){
	.index-about .l-wrapper>div{display:block;}
}
.index-about .l-wrapper .i-about-title{background:#ededed; width:374px; height:374px; padding-right:20px;}
@media screen and (max-width:800px){
	.index-about .l-wrapper .i-about-title{display:none;}
}
.index-about .l-wrapper .i-about-main{background:url(../images/i-about-bg.jpg) center center; background-size:cover;}
@media screen and (max-width:800px){
	.index-about .l-wrapper .i-about-main{padding:0;}
}
.index-about .l-wrapper .i-about-main .i-about-title-m{display:none;}
@media screen and (max-width:800px){
	.index-about .l-wrapper .i-about-main .i-about-title-m{display:block;}
}
.index-about .l-wrapper .i-about-main .i-about-title-m img{width:50%; margin:20px 0; min-width:250px;}
.index-about .l-wrapper .i-about-main p{font:24px/36px "微軟正黑體"; color:#fff;}
.index-about .l-wrapper .i-about-main p span{display:inline-block;}
.index-about .l-wrapper .i-about-main a:link, .index-about .l-wrapper .i-about-main a:visited{display:inline-block; font:bold 12px/28px Arial; color:#fefefe; background:#373534; text-align:center; padding:0 15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.index-about .l-wrapper .i-about-main a:hover, .index-about .l-wrapper .i-about-main a:active{text-decoration:none; background:#515151;}
@media screen and (max-width:800px){
	.index-about .l-wrapper .i-about-main a:link, .index-about .l-wrapper .i-about-main a:visited{display:inline-block; font:normal 18px/40px Arial; color:#fefefe; background:#7d5a26; text-align:center; padding:0 1em; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
	.index-about .l-wrapper .i-about-main a:hover, .index-about .l-wrapper .i-about-main a:active{text-decoration:none; background:#fefefe; color:#7d5a26;}
}

/* 首頁-相關產品 */
.index-product{background:#f7f7f7;}
.index-product .slider{position:relative;}
.index-product .slider>div{}
.index-product .slider>div a{display:block;}
.index-product .slider>div a img{width: 60.71%;height:auto;float: right;}
.index-product .slider .caption{position:absolute; top:13.53%; left:12.28%;}
@media screen and (max-width:1000px){
	.index-product .slider>div a img{width:100%;height:auto;float:none;}
	.index-product .slider .caption{position:relative; top:5%; left:0; padding:0 60px;}
}
@media screen and (max-width:850px){
	.index-product .slider .caption{position:relative; margin-top:5%; margin-bottom:50px;}
}

.index-product .slider .caption>div{font:18px/30px "微軟正黑體"; color:#4e4e4e; margin:77px 0 0 20px;}
@media screen and (max-width:1300px){
	.index-product .slider .caption>div{font:16px/24px "微軟正黑體"; margin:30px 0 0 20px; width:256px; height:192px; overflow:hidden;}
	}
@media screen and (max-width:1000px){
	.index-product .slider .caption>div{font:16px/24px "微軟正黑體"; margin:30px 0 0 20px; width:100%; height:192px; overflow:hidden;}
	}
.index-product .slider .directionNav{}
.index-product .slider .directionNav a.prevNav{position:absolute; left:0; top:46.20%; display:block; background:url(../images/bn_prev.jpg); width:50px; height:50px; text-indent:-9999px;}
.index-product .slider .directionNav a.nextNav{position:absolute; right:0; top:46.20%; display:block; background:url(../images/bn_next.jpg); width:50px; height:50px; text-indent:-9999px;}
.index-product .slider .controlNav{position:absolute; left:17.14%; bottom:9.12%; display:block; }
@media screen and (max-width:1000px){
	.index-product .slider .controlNav{position:relative; left:0; display:block; padding:0 0 30px 80px; }
}
.index-product .slider .controlNav a{display:inline-block; width:14px; height:14px; background:url(../images/bn_controlnav.png); text-indent:-99999px; overflow:hidden; margin-right:16px;}
.index-product .slider .controlNav a.active{background:url(../images/bn_controlnav.png) 0 -14px;}

/* 首頁-相片集 */
.index-gallery{}
.index-gallery ul{margin:0; padding:0; list-style:none;}
.index-gallery ul li{margin:0; padding:0; float:left; width:25%;}
@media screen and (max-width:700px){
	.index-gallery ul li{width:50%;}
}
.index-gallery ul li a{display:block;}
.index-gallery ul li a img{width:100%;}

/* 首頁-最新消息 */
.index-news{}
.index-news .l-wrapper{padding:86px 0 120px 0;}
.index-news .i-news{position:relative; float:right; width:75%; padding-left:50px;}
@media screen and (max-width:850px){
	.index-news .i-news{position:relative; float:none; width:100%; padding-left:0px;}
}
.index-news .i-news h3{margin:0 0 22px; padding:0;}
@media screen and (max-width:500px){
	.index-news .i-news h3{margin:-60px 0 72px 0;}
}
.index-news .i-news .carousel-container{}
.index-news .i-news .carousel-container ul{margin:0; padding:0; list-style:none; height:361px; overflow:hidden;}
.index-news .i-news .carousel-container ul li{margin:0 0.86%; padding:0; float:left; width:31.61%;}
@media screen and (max-width:700px){
	.index-news .i-news .carousel-container ul li{margin:0 1%; padding:0; float:left; width:48%;}
}
@media screen and (max-width:500px){
	.index-news .i-news .carousel-container ul li{margin:0 2%; padding:0; float:left; width:96%;}
}
.index-news .i-news .carousel-container ul li a{display:block;}
.index-news .i-news .carousel-container ul li a:hover{text-decoration:none;}
.index-news .i-news .carousel-container ul li a .img{width:100%; height:260px;}
.index-news .i-news .carousel-container ul li a .txt{background:#ededed; padding:7px 30px;}
.index-news .i-news .carousel-container ul li a .txt h4{margin:0; padding:0; font:normal 18px/36px "微軟正黑體"; color:#000; height:36px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.index-news .i-news .carousel-container ul li a .txt p{font:13px/20px "微軟正黑體"; color:#888; height:40px; overflow:hidden;}

.carousel-container a.prev{display:block; width:40px; height:40px; position:absolute; top:0 ; right:48px; background:url(../images/arrow001.png) no-repeat;}
.carousel-container a.prev:hover{background:url(../images/arrow001_h.png) no-repeat;}
.carousel-container a.next{display:block; width:40px; height:40px; position:absolute; top:0 ; right:3px; background:url(../images/arrow002.png) no-repeat;}
.carousel-container a.next:hover{background:url(../images/arrow002_h.png) no-repeat;}


.index-news .i-facebook{width:25%; float:left; overflow:hidden;}
@media screen and (max-width:850px){
	.index-news .i-facebook{width:100%; float:left; overflow:hidden; margin:30px 0;}

}

/* 首頁-聯絡我們 */
.index-contact{background:url(../images/index-about-bg.jpg); background-size:cover;}
.index-contact.order{background:url(../images/index-order-bg.jpg);}
.index-contact .l-wrapper{}
.index-contact .l-wrapper .i-contact{width:100%; max-width:580px; float:right; background:url(../images/i-contact-bg.jpg); overflow:hidden; padding:55px 85px 50px 75px;}
@media screen and (max-width:500px){
	.index-contact .l-wrapper .i-contact{padding:35px 20px 35px 20px;}
}
.index-contact .l-wrapper .i-contact h3{margin:0 0 22px; padding:0;}
.index-contact .l-wrapper .i-contact form input{margin:0; padding:0 20px; font:14px/40px "微軟正黑體"; min-height:40px; background:#e4e4e4; border:0; width:100%; margin-bottom:9px;}
.index-contact .l-wrapper .i-contact form input[type="radio"]{width:auto;}
.index-contact .l-wrapper .i-contact form input.btn-send{background:#929292 url(../images/icon-send.png) no-repeat 13px center; width:auto; height:30px; padding:0 10px 0 30px; color:#fff; font:14px/30px "微軟正黑體"; text-align:left;}
.index-contact .l-wrapper .i-contact form input.btn-send:hover{background:#5b5b5b url(../images/icon-send.png) no-repeat 13px center;}
.index-contact .l-wrapper .i-contact form textarea{margin:0; padding:0 20px; font:14px/40px "微軟正黑體"; background:#e4e4e4; border:0; width:100%; height:120px; margin-bottom:9px;}
.data-type-radio{margin:0; padding:0 20px; font:14px/40px "微軟正黑體"; background:#e4e4e4; border:0; width:100%; margin-bottom:9px;}

.i-link{margin-top:46px;}
.i-link div{width:46.30%; float:left;}
.i-link div:first-child{margin-right:7.4%;}
.i-link div a{display:block; font:normal 18px/40px "微軟正黑體"; color:#5b5b5b; text-align:center; height:40px; border:1px solid #a8a8a8; margin-bottom:12px;}
.i-link div a:hover{text-decoration:none; background:#5b5b5b; color:#fff;}
.i-link div img{-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; width:100%;}


/***** 訂單列表  *****/

.order-search { padding-left:30px;}
.order-list { padding-left:30px;} 
.order-list td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.order-list img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.order-list .order-list-th { font-size:15px; color:#FFF; text-align:center; line-height:25px;}
.order-list .order-list-td { font-size:15px; color: #333; text-align: center;}
.order-list .price { font-size:15px; color:#900;}
.order-list .numb { font-size:15px; color: #788BAC; text-align:left;}
.order-list .numb a {color: #788BAC;}
.order-list .count { font-size:15px; color: #333;}
.order-list .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.order-list .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.order-list .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}
.oproject { display:none; color:#900;}


ul.order-list { list-style:none; margin:0 ; padding:0;}
ul.order-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.order-list li:nth-child(odd){ background: #F5F5F5;}
ul.order-list li.th { background: #666; color: #fff; text-shadow:-1px -1px 0 #333; padding:3px 0; -webkit-border-radius:  2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; border:0;}
.th .order-list-img, .th .order-list-name, .th .order-list-price, .th .order-list-quantity, .th .order-list-subtotal, .th .order-list-del { padding-top:5PX; }

.order-list-img { float:left; width:10%; display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
.order-list-img02 { float:left; width:10%; display:table-cell; font-size:15px;  padding-top:5px; vertical-align:middle; text-align:center;}
  .sorder-list-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}


.order-list-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.order-list-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


.order-ditaile-info { padding:0 0 0 40px; font-size:15px; color: #333; line-height:1.5em; }
.jump-window-box  { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

/*** 會員登入  ***/
.member-login-box { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*****  購物車  *****/
.cart-body { max-width:1000px; margin:0 auto;}
.shopping-car { padding-left:30px;} 
th.shopping-car-th { background: #69C; font-size:15px; color:#FFF; text-align:center; line-height:25px;  border-right:1px #fff dotted;} 
.shopping-car td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.shopping-car img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.shopping-car .pro-name { font-size:15px; color: #333; text-align:left;}
.shopping-car .price { font-size:15px; color:#900;}
.shopping-car .numb { font-size:15px; color: #66F;}
.shopping-car .count { font-size:15px; color: #333;}
.shopping-car .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.shopping-car .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.shopping-car .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}



ul.shopping-car-list { list-style:none; margin:0 ; padding:0;}
ul.shopping-car-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.shopping-car-list li.th { background: #777; color: #fff; text-shadow:-1px -1px 0 #393939;  min-height:0px; padding:5px 0; border:0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
.th .shop-car-img, .th .shop-car-name, .th .shop-car-price, .th .shop-car-quantity, .th .shop-car-subtotal, .th .shop-car-del { padding-top:5PX; }

.shop-car-img { display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
  .shop-car-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}
.shop-car-name { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;} 
.shop-car-price {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-quantity { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-subtotal{  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.shop-car-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.shopping-car .oproject { font-size:15px; color:#000; display:none; font-weight:bold; }


.checkout-box { background:#eee; padding:10px; margin-left:30px; border-bottom:2px #FFF dotted;}
.checkout-box h3 { background: #999; border-left:5px #333 solid; font-size:18px; color:#fff; text-shadow:-1px -1px 0 #666; line-height:30px; padding-left:20px; font-weight:500;}
.check-box { padding:5px; font-size:15px; color:#000;}
.check-box a { color:#000;}
.check-box a:hover { color:#960; } 

.appointment { max-width:600px; margin:0 auto;}
.appointment-title { text-align:center;}

/*****  產品專區  *****/
.search { padding:0 10px;}
.search-input { padding:10px 0; position:relative;}
.search-input img { position:absolute; right:0; top:10px;}
.search input { background: #e8d5d5; font-size:15px; color: #737946; padding:5px 0 5px 5%; line-height:31px; height:31px; width:85%; 
                -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 10% 0 0; right:70px; vertical-align:middle;}
.search img { vertical-align:middle;}

.pro-store-info { font-size:13px; line-height:1.5em; color:#666; padding:10px 0 10px 35px; margin-bottom:20px;}
.pro-search-info { font-size:18px; color:#64691F; line-height:1.5em; border-bottom:1px #CCC dotted; margin-bottom:20px; text-align:center; padding-bottom:10px;}

.pro-list {}
.pro-list ul { max-width:1160px; margin:0 auto; padding:0; list-style:none;}
.pro-list ul li { width:25%; text-align:center; float:left; margin-bottom:20px;}
@media screen and (max-width:800px){
	.pro-list ul li { width:50%; text-align:center; float:left; margin-bottom:20px;}
}
@media screen and (max-width:400px){
	.pro-list ul li { width:100%; text-align:center; float:left; margin-bottom:20px;}
}
.pro-list ul li:hover { }
.pro-list ul li h4 { font:normal 15px/1.5em "微軟正黑體"; color:#504f4d; padding:5px 0; margin:0; }

.pro-photo.link { background:#fff; width:100%; vertical-align: middle; position: relative;}
.pro-photo img.index-pro-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	border:10px solid #f7f7f7;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
.pro-photo img.index-pro-img:hover {border:10px solid #cbcbcb;}

.pro-list ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block;}
.pro-list ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }
.pro-list ul li a.cart { padding:3px; color: #7E7E7E;  font-size:15px; display:block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px #DCDCDC solid;}
.pro-list ul li a.cart img { padding-right:20px; vertical-align:middle;}
.pro-list ul li a.cart:hover { background: #fff; border:1px #eee solid;}


.pro-detaile { padding-left:30px; }
h3.pro-detaile-title { font:bold 36px "微軟正黑體"; color:#5e5e5e; line-height:1.8; margin:30px auto 20px auto; padding-bottom:10px; font-weight:normal; text-align:center;}
.product-detail-top{background:#f7f7f7; padding:50px 0;}
.product-detail-body{padding:50px 0;}
.pro-detaile .pro-photo {background:#fff; width:100%; margin:0 0 10px 0; padding:0;}
.pro-photo img { width:100%; height:auto;}
.pro-specification { position:relative; margin-bottom:10px; vertical-align:middle;}
.pro-specification p { font-size:14px; line-height:2em; color:#333;}
.pro-content { padding:0 0 30px 0; font-size:14px; line-height:2em; color:#999; clear:both;} 
.pro-content p.spec { margin:0; padding:0; font-size:12px; line-height:1.5em; color:#333;}

h3.pro-introduce { font-weight:normal; padding:0 0 2.4em 0; font-size:22px; line-height:1em; color:#333; text-align:center;}
.pro-qr-code {}
.pro-qr-code img { width:100px; height:auto;}
.cart-info { vertical-align:middle; }
.cart-info .price { font-size:28px; font-weight:bold; color: #F00;  vertical-align:middle; display:block;}
.cart-info .quantity { font-size:16px; color: #333;  vertical-align:middle; display:block; text-align:right; padding:10px 0; line-height:30px;}
.cart-info .quantity select { line-height:25px;}
 .check-out { text-align:center;  vertical-align:middle; display:block;}
 .check-out a {display:block; vertical-align:middle;  font-size:13px; min-width:130px; color:#333; padding:5px 10px; margin:10px 0; text-shadow:-1px -1px 0 #fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #FFF; border:1px #D4D4D4 solid;}	
 			  
 .check-out a:hover { background: #D4D4D4;  text-shadow:-1px -1px 0 #A2A2A2; color:#333;}
 .check-out a img { vertical-align:middle; margin-right:10px;}
.cart-btn { padding:15px 0 10px 0; text-align:center; margin-top:15px; border-top:1px #CCC dotted; }



/**** 產明細圖片特效樣式 ****/
.slider-wrap								{ width: 100%;}	
.stripViewer .panelContainer		        { width: 400% !important;}	
.stripViewer .panelContainer  .panel ul		{ text-align: left; margin: 0 15px 0 30px; width: 100%}
.stripViewer								{ position: relative; overflow: hidden; width:100%; height: auto; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; width:400%; }
.stripViewer .panelContainer .wrapper       { width:100%;}
.stripViewer .panelContainer img            { width:100%; height:auto;}
.stripViewer .panelContainer .panel			{ float: left; position: relative;}
.stripNavL, .stripNavR, .stripNav			{ display: none; width:100%; }
.nav-thumb 									{ margin-right: 5px; }
#movers-row									{ margin:5px 0 0 0; width:101%; }
#movers-row div								{ width: 25%; float: left; padding-right:1%; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; margin-top: 0px; position: relative; padding-top: 0px;}
.active-thumb 								{ background: transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat; }
.panel { width:25%;} /**四張圖 乘 四分之一 **/



/*****  聯絡我們  *****/
.contact-body { padding:0 0 0 27px;}
.contact-note { padding:10px 0; font-size:13px; color:#F00;}
.contact-left { }
.contact-left img { width:100%; height:auto; margin-top:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.btn-send { font-size:13px;} 
a.btn-send { background: #999; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-send:hover { background: #B88283;}
a.btn-reset { background:#666;  padding: 3px 20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-reset:hover { background:#777;}


a.btn-send-over { background: #79919F; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-send-over:hover { background: #63AEBD;}

img.code { width:100px; height:32px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:0 5px; vertical-align:middle;}

/*****  FAQ  *****/
.faq {}
.faq ul { margin:0; padding:0; list-style:none;}
.faq ul li { border-bottom:1px #fff solid; }
.faq ul li .qa_title { background: #DDDCD7; font-weight:normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-left:8px #333 solid;}
.faq ul li a { color: #333; font-size:15px; display:block; padding:10px 0 10px 10px; text-shadow:1px 1px 0 #fff;}
.faq ul li a:hover { background:#C5C4B7; color:#fff;  text-shadow:-1px -1px 0 #666;}
.faq ul li .qa_content { border-top:1px #CCC dotted; padding:10px 0 20px 25px; font-size:13px; line-height:1.5em; color:#666;}



/*****  最新消息  *****/
.news {}
.news ul { margin:0; padding:0; list-style:none;}
.news ul h3{margin-left:270px;}
.news-list .blog-img{max-width:250px; margin-right:20px;}
.news-list .blog-img img.img-responsive{width:100%;}
.opacl { font-size:12px; line-height:20px; padding-bottom:10px; }
.opacl a { background: #888888; color:#fff; padding: 3px 10px; margin:0 5px; -webkit-border-radius: 5px 5px 0 0px; -moz-border-radius: 5px 5px 0 0px; border-radius: 5px 5px 0 0px;}
.opacl a:hover { background:#699;}
a.close_qa { font-size:12px;} 
#qaContent{}
.accordionPart{}


/*** news-list  最新消息 ***/
.news-list { list-style:none; margin-bottom:50px;}
.news-list .meta{display:inline-block;}
.news-list li { clear:both; padding:50px 0; border-bottom:3px solid #ddd; }
.news-list li:first-child{padding-top:0;}
.news-list li span { float:left; width:130px; line-height:25px; display:block; padding:7px 0 7px 30px; color: #A6A6A6;}
.news-list li .news-lis-cont { margin:0 0 0 130px;  padding:7px 0;}
.news-list li .news-lis-cont a { color:#333; display:block;}
.news-list li .news-lis-cont a:hover { color:#5C97BD;}
.time { color:#3CA3D5; padding:10px 0 10px 40px; border-bottom:1px #D7D7D7 dotted;}


/*****  內頁架構  *****/
.content-body {max-width:1160px; margin:50px auto 0 auto; }
.page-title { font-size:16px; color:#333; padding:0 0 10px; line-height:30px; margin:0 0 0 0; border-bottom:4px double #eee}
.page-main { padding: 0 0 0 40px; font-size: 13px; color:#666; line-height:1.5em;  }

.left-menu-title { background: #909090; text-align:center; font-size:18px; color: #fff; text-shadow:-1px -1px 0px #666;   padding:5px 0 10px 0; border-top:1px #999 dotted;  
                   -webkit-border-radius:0 0 5px 0px; -moz-border-radius:0 0 5px 0px; border-radius:0 0 5px 0px;}
.in-left-menu { margin-bottom:30px; padding:15px; background:#fff; border:1px solid #eee; border-radius:4px; }
.in-left-menu>ul { margin:0; padding:10px 0 0px 0; list-style:none; border-bottom:3px #DBDBDB solid;}
.in-left-menu>ul>li  { font-size:15px; color:#666; padding:5px 0;}
.in-left-menu>ul>li>a { color:#333; display:block; padding:5px 15px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.in-left-menu>ul>li>a:hover { background:#f7f7f7; text-decoration:none;}
.in-left-menu>ul>li ul { margin:5px 0 0 40px; padding:0; list-style: square;} 
.in-left-menu>ul>li ul li { border-top:1px #CCC dotted; padding:5px;}
.in-left-menu>ul>li ul li:hover { background: #E8E8E6;} 
.in-left-menu>ul>li ul li a { font-size:13px; color:#666; display:block;}
.in-left-menu>ul>li ul li a:hover { color: #71743D;  }



/*****  內頁BANNER  *****/
.inside-banner { background: #f7f7f7; padding:20px 0; }
.inside-banner .submenu { width:95%; max-width: 1000px; margin:0 auto; font-size:13px; color:#fff; margin:0 auto; padding:0; line-height:30px;  }
.inside-banner .submenu ul{margin:0; padding:0; list-style:none;}
.inside-banner .submenu ul li{margin:0 1em 0 0; padding:0; float:left;}
.inside-banner .submenu ul li a{display:inline-block; color:#333; padding:0 15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; text-decoration:none; font-family:"微軟正黑體";}
.inside-banner .submenu ul li a:hover, .inside-banner .submenu ul li a.active{text-decoration:none; color:#fff; background:#777777;}


/*****  首頁產品  *****/
.index-pro { max-width:1000px; margin:0 auto;}
.index-pro-title {font-size:24px; color:#333; line-height:30px; padding-bottom:10px; text-align:center; font-weight:normal; border-bottom:3px #DFDFDF solid;} 
.index-pro ul { max-width:1000px; margin:0 auto; padding:0; list-style:none;}
.index-pro ul li { width:20%; padding:1%; text-align:center; float:left;}
.index-pro ul li:hover { background:#f8f6f6;}
.index-pro ul li h4 { font-size:15px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }

.index-pro ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block; }
.index-pro ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }
.index-pro ul li a.cart { padding:8px; color:#333; font-size:15px; display:block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px #DBDBDB solid; }
.index-pro ul li a.cart img { padding-right:20px; vertical-align:middle;}
.index-pro ul li a.cart:hover { background: #EDEDED;}
.index-more { max-width:1000px; border-top:1px #dad0d0 solid; margin:50px auto 0 auto; height:50px; position:relative; }
.index-more a { background:url(../images/index-more-pro.png) no-repeat; color:#a7a7a7; width:132px; height:36px; display:block; margin:0 auto; text-align:center; position:absolute; top:-10px; left:50%; margin-left:-66px;}


/*****  首頁連結  *****/
.index-link { max-width:1000px; margin:0 auto;}
.index-link h3 { color:#333; font-size:36px; font-weight:normal; text-align:center; line-height:0.8em; letter-spacing:2px;}
.index-link h3 .red { color:#d45500; font-size:24px; letter-spacing:0px;}
.index-link h3 .brwon { color:#c2ab8a; font-size:24px; padding-left:15px; letter-spacing:0px;}

.index-link-top { height:75px;}

.index-link ul { background:#e1e1e1; margin:0; padding:0; list-style:none;}
.index-link ul li { float:left; width:25%; margin:0; padding:0; border:1px  #fff dotted; overflow:hidden;}
.index-link ul li img { width:100%; height:auto; border:0; margin:0; padding:0;}


/*****  首頁 搜尋 最新消息模組  *****/
.index-news { width:100%; position:relative;}
.index-news-line { position:absolute; width:100%; border-bottom:1px #d1d1d1 solid; top:50px; z-index:-1; }

.index-search-news { max-width:1000px; margin:0 auto;}
.index-search { }
.index-search h3 { font-size:24px; color:#333; font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0; }
.index-search span { display:block; float:right; font-size:15px; color:#d1d1d1; font-weight:normal;}
.index-search-input { padding:10px 0 20px 0; position:relative; color:#333;}
.index-search-input img { position:absolute; right:0; top:10px;}
.index-search input { background: #e8d5d5; font-size:15px; color: #333; padding:5px 0 5px 20px; line-height:21px; width:100%; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 5% 0 0; right:51px; vertical-align:middle;}
.index-search img { vertical-align:middle;}

.i-news {}
.i-news h3 { font-size:24px; color:#333;  font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0;}
.i-news h3 span { display:block; float:right; font-size:14px; color:#afaaaa; font-weight:normal;}
.i-news h3 span a {color:#333;}
.i-news h3 span a:hover { color: #12A8D5;}
.i-news ul { list-style:square; color:#333; padding:0 0 0 20px; margin:0; }
.i-news ul li { padding:5px 0; font-size:15px; line-height:1.5em; border-bottom:1px #E7E7E7 solid;  }
.i-news ul li a { color:#333; display:block;  }
.i-news ul li a:hover { color:#F96;}


/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}
.calender { width:30px; height:auto;}


/***  版面欄位  ***/
.main {  }
.col-100 {float:left; width:100%;}
.col-010 { width:9%; margin-right:1%; float:left;}
.col-015 { width:14%; margin-right:1%; float:left;}
.col-020 { width:19%; margin-right:1%; float:left;}
.col-025 { width:24%; margin-right:1%; float:left;}
.col-030 { width:29%; margin-right:1%; float:left;}
.col-040 { width:39%; margin-right:1%; float:left;}
.col-045 { width:44%; margin-right:1%; float:left;}
.col-050 { width:49%; margin-right:1%; float:left;}
.col-055 { width:54%; margin-right:1%; float:left;}
.col-060 { width:59%; margin-right:1%; float:left;}
.col-065 { width:64%; margin-right:1%; float:left;}
.col-070 { width:69%; margin-right:1%; float:left;}
.col-075 { width:74%; margin-right:1%; float:left;}
.col-080 { width:79%; margin-right:1%; float:left;}
.col-085 { width:84%; margin-right:1%; float:left;}

.cor-010 { width:10%; float:left;}
.cor-015 { width:15%; float:left;}
.cor-020 { width:20%; float:left;}
.cor-025 { width:25%; float:left;}
.cor-030 { width:30%; float:left;}
.cor-035 { width:35%; float:left;}
.cor-040 { width:40%; float:left;}
.cor-045 { width:45%; float:left;}
.cor-050 { width:50%; float:left;}
.cor-055 { width:55%; float:left;}
.cor-060 { width:60%; float:left;}
.cor-065 { width:55%; float:left;}
.cor-070 { width:70%; float:left;}
.cor-075 { width:75%; float:left;}



/***  選單與下拉  ***/
nav { float:right; }
 .menu { margin:0; padding:0; list-style:none;}
 .menu>li {margin:0; padding:0; float:left; text-align:center;}
 .menu>li>a {display:inline-block;  font:16px/100px "微軟正黑體"; color:#2b2b2b; background:url(../images/menu-hover-bg.gif) repeat-x center 105px; margin:0 0 0 2em; height:100px;}  
 .menu>li>a:hover {color:#676767; background:url(../images/menu-hover-bg.gif) repeat-x bottom; box-sizing:border-box; text-decoration:none;}

 .menu>li>ul { display:none; margin:0; padding:0; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
 .menu>li:hover>ul { position:absolute; display: block; width:100%; left:0; top:30px;}
 .menu>li>ul>li { display:block; border-top:1px #fff dotted; }
 .menu>li>ul>li>a {display:block; color:#fff;}


/*** 訂位填寫  ***/
.show-date { background:#14A1F0; padding:5px 10px; font-size:14px; color:#fff; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.show-date a { color:#D0FF00; text-decoration:none;}
.show-date a:hover { color:#F0FF9B;}
.kyein-be-member { background: #FF1115; padding:5px 10px; font-size:14px; color: #FFDADA; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*** 訂位區塊  ***/
.info-box { font-size:14px; color: #686868; line-height:20px; padding-bottom:10px; margin-bottom:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
h4.info-title { background: #FFEDED; font-size:17px; line-height:30px; color: #AD3A3C; padding: 0 0 0 10px; margin:5px 0px 10px 0px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:normal;}
.info-content { padding:0 0 10px 20px;}
.info-content ul { list-style:square; margin:0 0 0 0px; padding:0 0 0 20px;}
.info-content ul li { border-bottom:1px #BFBFBF dotted; margin-bottom:10px; color: #A41C1F;}
.info-content ul li p { font-size:12px; color:#767676; margin:0 0 10px 0; padding:0;}
h5.info-set-opint { color:#69B7FF; font-size:15px; line-height:25px; border-bottom:1px #D9D9D9 solid; margin:0 0 10px 0;}

/***  step  ***/
.step { list-style:none; margin:0; padding: 20px 0;}
.step li { float:left; width:25%; font-size:28px; line-height:1.2em; color:#D9D9D9; border-left:1px #D9D9D9 solid; padding:0px 0; text-align:center;}
.step li.active , .step li.active span { color: #0091ED;}
.step li span { color:#7F7F7F; display:block; font-size:15px; line-height:18px; padding: 5px 0 0 0px; border-top:1px #DBD8D8 dotted; margin:10px auto 0 auto; width:80%;}


/***  定位-選項-時段  ***/
.order-opinion { padding: 0 0 10px 0; }

.time { font-size:14px; color:#7E7E7E; line-height:20px;}
.time ul { margin:0; padding:0; list-style:none;}
.time ul li { background:#FF5558; float:left; text-align:center; font-size:14px; color:#fff; line-height:20px; padding:3px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:1% 1% 0 0; width:11.5%;}
.time ul li a { color:#fff;}
.time ul li:hover { background: #D30003; }
.time ul li.finish { background:#D3D2D2;}
.time ul li span { display:block; border-top:1px #FFB6B7 solid; line-height:20px;}

.order-note { color:#DF0205; padding:10px 0;}


/***  歷史訂單  ***/
.table-border { background: #DBDBDB; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:10px;}
.table-border th {  font-size:14px; color:#fff; padding:3px 5px;}
.table-border td { font-size:14px; color: #515151; padding:3px 5px; text-align:center; }

.table-border tr:first-child { background:#FF6700; font:12px; padding:3px 5px; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.table-border tr:last-child { background:#FFF; font:12px; padding:3px 5px; -webkit-border-radius:0 0px 5px 5px; -moz-border-radius:0 0px 5px 5px; border-radius:0 0px 5px 5px;}
.table-border tr:nth-child(2n){ background:#FFF; }
.table-border tr:nth-child(2n+3){ background:#FFFBF0; }

/***  表單欄位  ***/
.form-box { min-width: 280px;}
.form-box input, .form-box img { vertical-align:middle;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 0 10px 0; line-height:20px; width:100%;}

.opinion { margin-bottom:5px; }
.opinion-left01 { background:#fff; float:left; width:30%; border:1px #CBCBCB solid; border-right:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                  -webkit-border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px;}
				  
.opinion-right01 { float:left; width:7.5%; border:1px #CBCBCB solid; padding:0px 2%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; border-left:0;
                  -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;}
				  
.input-main-style01 { float:left; width:55%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                      -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                  -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                  box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				      }
.input-main-style02 { background:#fff; float:left; width:70%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                     -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;
				     -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				     }			
.input-main-style03 { float:left; width:93.3333%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; text-align:center;
                     -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
				     -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				     }						 
					 
.select-style { font-size:15px; color:#666; line-height:20px; padding:5px 10px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.order-numb { color:#FF0004;}

/***  輸入欄位  ***/

input { }
.input-style01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%; margin-bottom:5px;
                 -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				 }

.input-botton01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:18px; font-size:13px; font-family:"微軟正黑體"; color:#4E4E4E; width:100px; margin:0 auto; text-align:center; 
                  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}

.select-style01 {border:1px #CBCBCB solid; padding:5px 3%; width:99%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; margin:0;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
                 -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */}

.input-botton-blue {
background: #feffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2UyZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWVkZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffff 0%, #e2feff 35%, #9eede6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#e2feff), color-stop(100%,#9eede6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eede6',GradientType=0 ); /* IE6-8 */
}


.bg-gary-whrite {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.bg-red-orange {
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/* 頁次 */	
.page{ font:13px/20px "微軟正黑體"; color:#333; text-align: center; clear:both; margin:30px 0 50px; }
  .page a { background: #a3a3a3; color:#fff; padding:2px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-decoration:none;}
  .page a:hover { background: #777; color: #fff; text-decoration:none;}
.page br { display:none;}
.page span{display:inline-block; margin-bottom:20px;}

/******  底部資訊  ******/
.bottom-info { background: url(../images/bottom-info.jpg); padding-bottom:30px;}
.bottom-info-main { max-width:1000px; margin:0 auto; background:url(../images/bottom-info-bg.jpg) center top no-repeat; min-height:200px;}
.bottom-info-main h3 { font-size:15px; color:#fff; border-bottom:1px #999 solid; line-height:40px; }
.bottom-info-main ul.bottom-link { list-style:none; margin-left:0; padding-left:0; }
.bottom-info-main ul.bottom-link li { float:left; font-size:15px; width:95px; line-height:1.7em;}
.bottom-info-main ul.bottom-link li a { color:#fff;}
.bottom-info-main ul.bottom-link li a:hover { color: #FFFE82}
.bottom-info-main p.content { font-size:12px; color:#fff; line-height:24px;}  

.bottom-info-main .bottom-tool { border-top:1px #999 solid; margin-top:20px; padding-top:20px;}

footer { background:#f7f7f7; }
footer .f-logo{ display:inline-block; float:left; margin:16px 47px 0 0; }
footer .site-info{ display:inline-block; float:left; margin:24px 30px 24px 0; color:#808080; font:14px/24px "微軟正黑體"; }
footer .site-info a{display:inline-block; color:#808080; font:14px/24px "微軟正黑體"; }
footer .site-info a:hover{color:#5b5b5b; text-decoration:none;}
footer .site-info span{display:inline-block;}
footer .designer{float:right;}
footer .designer a{font:14px/24px "微軟正黑體"; color:#808080; padding:36px 0;}
@media screen and (max-width:1130px){
	footer .designer{float:left; display:block; width:100%;}
	footer .designer a{font:14px/24px "微軟正黑體"; color:#808080; padding:0px 0;}
}


footer .designer a:hover{color:#5b5b5b; text-decoration:none;}



/* 產品列表 */
.product-list{}
.product-list ul{margin:0; padding:0; list-style:none;}
.product-list ul li{margin:0 0 5px; padding:0;}
.product-list ul li a{display:block;}
.product-list ul li a img{width:100%; height:auto;}


/* 商品訂購 */
.index-contact .l-wrapper .i-contact.toorder form input{margin:0; padding:0; font:14px/20px "微軟正黑體"; min-height:0px; background:none; border:0; width:auto; margin-bottom:0;}
.index-contact .l-wrapper .i-contact.toorder form input[type="radio"]{width:auto;}
.index-contact .l-wrapper .i-contact.toorder form input.btn-send{background:#929292 url(../images/icon-send.png) no-repeat 13px center; width:auto; height:30px; padding:0 10px 0 30px; color:#fff; font:14px/30px "微軟正黑體"; text-align:left;}
.index-contact .l-wrapper .i-contact.toorder form input.btn-send:hover{background:#5b5b5b url(../images/icon-send.png) no-repeat 13px center;}
.index-contact .l-wrapper .i-contact.toorder form textarea{margin:0; padding:0; font:14px/40px "微軟正黑體"; background:#e4e4e4; border:0; width:100%; height:120px; margin-bottom:9px;}
.index-contact .l-wrapper .i-contact.toorder form .form-row{background:#e4e4e4; margin-bottom:9px; min-height:40px; padding:0 20px; font:14px/40px "微軟正黑體";}
.index-contact .l-wrapper .i-contact.toorder form .form-row span{display:inline-block;}
.index-contact .l-wrapper .i-contact.toorder form .form-row select{}
.index-contact .l-wrapper .i-contact.toorder form .form-row input{border:0; border-bottom:1px solid #fff;}