@charset "utf-8";
.wrapper { max-width:1000px; margin:0 auto;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0; vertical-align:middle;}

.slicknav_menu {display:none;}


header { }
.head-main .logo { font-size: 30px; font-family: "Times New Roman";}

.home { display: block; position:absolute; top:-35px; right:0px; width:25px; height:auto;}
.home_w { display:none;}
.banner {}


/***** 訂單列表  *****/

ul.order-list li.th { display:none;}
.order-list { padding-left:0px;} 
.order-list-img, .order-list-img02 { float:left; width:100%; font-size:15px; text-align:center;}
  .order-list-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}
  
.order-list-name { float: ; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.order-list-price { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02 { float:left; width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02 { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-del { float:left; width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.order-list-del a { padding: 5px 10%;}

.order-list .portal { width:100%; text-align: center;}
.order-list .freight { width:100%;  text-align: center;}
.order-list .oproject { font-size:15px; color:#000; display: inline; }

.i-news { padding-left:30px;}


/*****  購物車  *****/
  .shop-car-img img { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}


/*****  產品專區  *****/
.pro-list ul li {  width:31%; padding:1%; }

/*****  首頁產品  *****/
.index-pro ul li {  width:23%; padding:1%; text-align:center; float:left;}



/*****  首頁連結  *****/
.index-link ul li { float:left; width:33.3333%; margin:0; padding:0; border:0;}


/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}


/***  版面欄位  ***/
.main { padding-top:0px;}
.col-p-100 {width:100%;}
.col-p-015 { width:13%; margin-right:2%; float:left;}
.col-p-020 { width:18%; margin-right:2%; float:left;}
.col-p-025 { width:23%; margin-right:2%; float:left;}
.col-p-030 { width:28%; margin-right:2%; float:left;}
.col-p-040 { width:38%; margin-right:2%; float:left;}
.col-p-045 { width:43%; margin-right:2%; float:left;}
.col-p-050 { width:48%; margin-right:2%; float:left;}
.col-p-055 { width:53%; margin-right:2%; float:left;}
.col-p-060 { width:58%; margin-right:2%; float:left;}
.col-p-065 { width:63%; margin-right:2%; float:left;}
.col-p-070 { width:68%; margin-right:2%; float:left;}
.col-p-075 { width:73%; margin-right:2%; float:left;}
.col-p-080 { width:78%; margin-right:2%; float:left;}
.col-p-085 { width:83%; margin-right:2%; float:left;}

.cor-p-015 { width:15%; float:left;}
.cor-p-020 { width:20%; float:left;}
.cor-p-025 { width:25%; float:left;}
.cor-p-030 { width:30%; float:left;}
.cor-p-035 { width:35%; float:left;}
.cor-p-040 { width:40%; float:left;}
.cor-p-045 { width:45%; float:left;}
.cor-p-050 { width:50%; float:left;}
.cor-p-055 { width:55%; float:left;}
.cor-p-060 { width:60%; float:left;}
.cor-p-065 { width:55%; float:left;}
.cor-p-070 { width:70%; float:left;}
.cor-p-075 { width:75%; float:left;}


/***  選單與下拉  ***/
nav { }

/***  定位-選項-時段  ***/
.order-opinion { width:100%; margin-right:0; float: none;}
.time { width:100%; float: none;}



/***  輸入欄位  ***/
.input-style01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%;}

.input-botton01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:16px; font-family:Arial; color:#4E4E4E;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}


.input-botton-blue { }


footer { text-align:center;}