@charset "utf-8";


/** 語系 **/
.head-tool {border:1px #2e83b4 solid; }
.head-tool .LANGUAGE{ color:#fff; background:#2e83b4 url(../images/LANGUAGE-icon.png) no-repeat right center;   }


/** 首頁選單 **/
 .menu { border-left:1px #68dbf2 solid; background:#32bad5;  }
 .menu>li { color:#fff; width:12.5%;  border-right:1px #68dbf2 solid; }
 .menu>li>a { color:#ffffff;}  
 .menu>li>a:hover { background:#159bb6 url(../images/menu_h.png) 49% 65px no-repeat; color:#fff;  padding:20px 0;}
.icon{ background:#32bad5; }



/** 底部背景**/
footer .slgan{ border-bottom:1px #718ca5 solid;}
footer .i-footer-e{ background:#36414b; /* Old browsers */}
footer .footer-e{ background:#36414b; /* Old browsers */}