@charset "utf-8";
body { background:url(../images/bg.jpg) top center; background-attachment:fixed; width:100%; height:100%; margin:0; padding:0; font-family:"微軟正黑體";  font-size: 14px; line-height: 20px;}
html { width:100%; height:100%;}

.warpper { padding-bottom:30px;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0; vertical-align:middle;}
input { vertical-align:middle;}
.slicknav_menu {display:none;}
input.select-box { border:1px #CBCBCB solid; padding:5px 3%; width:20px; height:20px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; }


/*** padding and border no width ****/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}



/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999; }

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#333; }
#field3::-webkit-input-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#333; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#333; }
#field3::-moz-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999; }




/*** 手機選單、選單 色塊-變色  ***/
.b-color, .slicknav_menu { background:#FFF; } /** 選單顏色 ***/
.slicknav_icon-bar { background-color: #FFF;} /** 手機選單ICON按鈕色 ***/
.slicknav_btn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bedf79+0,8dc21f+99 */
background: #bedf79; /* Old browsers */
background: -moz-linear-gradient(top,  #bedf79 0%, #8dc21f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bedf79 0%,#8dc21f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bedf79 0%,#8dc21f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bedf79', endColorstr='#8dc21f',GradientType=0 ); /* IE6-9 */

	} /** 手機選單ICON按鈕底色 ***/

.b-color>li:hover, .b-color>li>ul>li>a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {  background: #a6cf64; } /** 選單滑入顏色 ***/
.slicknav_nav>li { background:#90b94e; border-bottom:1px #c3e58b solid;} 
.slicknav_nav>li.first { border-top:1px #c3e58b solid;} 
.border-color { border-left:7px #A0A0A0 solid;} /** 標題顏色 ***/


header { background:#FFF; }


.head-main { max-width:1140px; margin:0 auto; height:88px; padding-top:15px; position:relative; }

.head-main .logo { font-size: 30px; font-family: "Times New Roman"; position:absolute; left:10px; top: 15px; width:275px; height:auto;}
.head-main .logo a { color:#777777;}
.head-main .logo img { width:177px; height:auto;}
.home { display: block; position:absolute; top:-35px; right:0px; width:25px; height:auto;}
.home_w { display:none;}


.head-tool { width:340px; position: absolute; top:15px; right:15px; text-align:center; overflow:hidden; float:right;}
.head-tool .language{ line-height:30px;}
.head-tool .language li { list-style:none; padding:0px 10px; margin:0; float:left;}
.head-tool .language li a {color:#767575; font-size:12px;}
.head-tool .language li a.active{ color:#93c52b;}
.head-tool-m { display:none;}


/**--- 搜尋 ---**/
.top-search{ float:right;}
.top-search .search-btn{ width:33px; height:31px; background:url(../images/search-icon.png) no-repeat 5px 5px; border:0; line-height:24px; font-family:微軟正黑體; color:#650e51; font-size:14px; margin:0; padding:0; cursor: pointer; }
.top-search .field { background:#cad7e6; width:161px; height:29px; line-height:29px;  padding:0 5px; margin:0 3px 0 0 ; font-family:微軟正黑體; color:#ffffff; font-size:14px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 　border: 0; text-align: center;}




.banner { max-width:1140px; margin:-30px auto 0 auto; overflow: hidden; position: relative; }
.banner .edm{ background:url(../images/edm-bg.png) no-repeat top left; max-width:720px; 
-moz-background-size:contain;
-webkit-background-size:contain;
-o-background-size:contain;
background-size:contain;}


h3.login-title { margin:0 0 10px 0; font-family:"Times New Roman"; font-size:24px; line-height:30px; color:#9B9B9B;}
.login-tool { }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}



/***** 訂單列表  *****/

.order-search { padding-left:30px;}
.order-list { padding-left:30px;} 
.order-list td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.order-list img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.order-list .order-list-th { font-size:15px; color:#FFF; text-align:center; line-height:25px;}
.order-list .order-list-td { font-size:15px; color: #333; text-align: center;}
.order-list .price { font-size:15px; color:#900;}
.order-list .numb { font-size:15px; color: #788BAC; text-align:left;}
.order-list .numb a {color: #788BAC;}
.order-list .count { font-size:15px; color: #333;}
.order-list .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.order-list .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.order-list .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}
.oproject { display:none; color:#900;}


ul.order-list { list-style:none; margin:0 ; padding:0;}
ul.order-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.order-list li:nth-child(odd){ background: #F5F5F5;}
ul.order-list li.th { background: #666; color: #fff; text-shadow:-1px -1px 0 #333; padding:3px 0; -webkit-border-radius:  2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; border:0;}
.th .order-list-img, .th .order-list-name, .th .order-list-price, .th .order-list-quantity, .th .order-list-subtotal, .th .order-list-del { padding-top:5PX; }

.order-list-img { float:left; width:10%; display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
.order-list-img02 { float:left; width:10%; display:table-cell; font-size:15px;  padding-top:5px; vertical-align:middle; text-align:center;}
  .sorder-list-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}


.order-list-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.order-list-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


.order-ditaile-info { padding:0 0 0 40px; font-size:15px; color: #333; line-height:1.5em; }
.jump-window-box  { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

/*** 會員登入  ***/
.member-login-box { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*****  購物車  *****/
.cart-body { max-width:1000px; margin:0 auto;}
.shopping-car { padding-left:30px;} 
th.shopping-car-th { background: #69C; font-size:15px; color:#FFF; text-align:center; line-height:25px;  border-right:1px #fff dotted;} 
.shopping-car td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.shopping-car img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.shopping-car .pro-name { font-size:15px; color: #333; text-align:left;}
.shopping-car .price { font-size:15px; color:#900;}
.shopping-car .numb { font-size:15px; color: #66F;}
.shopping-car .count { font-size:15px; color: #333;}
.shopping-car .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
              W.count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.shopping-car .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.shopping-car .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}



ul.shopping-car-list { list-style:none; margin:0 ; padding:0;}
ul.shopping-car-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.shopping-car-list li.th { background: #777; color: #fff; text-shadow:-1px -1px 0 #393939;  min-height:0px; padding:5px 0; border:0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
.th .shop-car-img, .th .shop-car-name, .th .shop-car-price, .th .shop-car-quantity, .th .shop-car-subtotal, .th .shop-car-del { padding-top:5PX; }

.shop-car-img { display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
  .shop-car-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}
.shop-car-name { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;} 
.shop-car-price {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-quantity { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-subtotal{  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.shop-car-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.shopping-car .oproject { font-size:15px; color:#000; display:none; font-weight:bold; }


.checkout-box { background:#eee; padding:10px; margin-left:30px; border-bottom:2px #FFF dotted;}
.checkout-box h3 { background: #999; border-left:5px #333 solid; font-size:18px; color:#fff; text-shadow:-1px -1px 0 #666; line-height:30px; padding-left:20px; font-weight:500;}
.check-box { padding:5px; font-size:15px; color:#000;}
.check-box a { color:#000;}
.check-box a:hover { color:#960; } 

.appointment { max-width:600px; margin:0 auto;}
.appointment-title { text-align:center;}


/*****  產品專區  *****/
.search { padding:0 10px;}
.search-input { padding:10px 0; position:relative;}
.search-input img { position:absolute; right:0; top:10px;}
.search input { background: #e8d5d5; font-size:15px; color: #737946; padding:5px 0 5px 5%; line-height:31px; height:31px; width:85%; 
                -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 10% 0 0; right:70px; vertical-align:middle;}
.search img { vertical-align:middle;}

.pro-store-info { font-size:13px; line-height:1.5em; color:#666; padding:0 0 10px 10px; margin-bottom:20px;}
.pro-store-info img{ width:100%;}


.pro-search-info { font-size:18px; color:#64691F; line-height:1.5em; border-bottom:1px #CCC dotted; margin-bottom:20px; text-align:center; padding-bottom:10px;}

.pro-list {}
.pro-list ul { max-width:1000px; margin:0 auto; padding:0; list-style:none;}
.pro-list ul li {  width:33.3%; text-align:center; float:left; margin-bottom: 15px;}
.pro-list ul li:hover {}
.pro-list ul li h4 { font-size:14px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }
.pro-list ul li .pro-style{ display:inline-table; width:100%;}


.pro-photo { width:100%; display: table; position: relative;}
.pro-photo a { display: table-cell; vertical-align: middle; text-align:center;}
.pro-photo img.index-pro-img { width:94%; height: auto; max-width:100%; max-height:100%;}

.pro-list ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block;;}
.pro-list ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }


/**----- 產品明細 -----**/
.pro-detaile { padding-left:10px; }
h3.pro-detaile-title { border-bottom:1px #CCC dashed; font-size:20px; color:#9bd16c; line-height:30px; margin:0 0 20px 3%; padding-bottom:5px;}
h3.pro-detaile-title span{ font-size:14px; color:#333; display:block; padding:0 5px;}

.pro-detaile .pro-photo { width:100%; margin:0 0 10px 0; padding:0;}
.pro-detaile .pro-photo img { width:100%; height:auto;}
.pro-specification { font-size:14px; line-height:1.8em; color:#333; position:relative; margin:0 0 10px 4%;}
.pro-specification p { }

.pro-specification ui{ background:#000;}
.pro-specification ui li{font-size:14px; line-height:1.8em; color:#9bd16c;}

.pro-content { padding:0px 0; font-size:12px; line-height:1.5em; color:#999; clear:both;} 
.pro-content img{ width:100%;}


/**產品明細圖片輪播**/
.pro-detaile .top{width:100%;margin:0;border:3px solid #dad7c9;margin-bottom:8px;box-sizing: border-box;}
.pro-detaile .top img{ width:100%; height:auto;}
.pro-detaile .bottom{ text-align:center; width:100%; margin:0;}
.pro-detaile .bottom a{display:inline-table; width:33%; margin-right:.5%;}
.pro-detaile .bottom a:last-child{margin-right:0;}
.pro-detaile .bottom img{ width:100%; height:auto; border: #dad7c9 2px solid; }



h3.pro-introduce { border-bottom:1px #CCC dashed;  padding:5px 0; font-size:20px; color:#737373;}
.pro-qr-code {}
.pro-qr-code img { width:100px; height:auto;}
.cart-info { vertical-align:middle; }
.cart-info .price { font-size:28px; font-weight:bold; text-align:right; margin:20px 0; color: #F00;  vertical-align:middle; display:block;}
.cart-info .quantity { font-size:16px; color: #333;  vertical-align:middle; display:block; padding:10px 0; line-height:30px;}
.cart-info .quantity select { line-height:25px;}
 .check-out { text-align:center;  vertical-align:middle; display:block;}
 .check-out a {display:block; vertical-align:middle;  font-size:13px; min-width:130px; color:#333; padding:5px 10px; margin:10px 0; text-shadow:-1px -1px 0 #fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #FFF; border:1px #D4D4D4 solid;}	
 			  
 .check-out a:hover { background: #D4D4D4;  text-shadow:-1px -1px 0 #A2A2A2; color:#333;}
 .check-out a img { vertical-align:middle; margin-right:10px;}
.cart-btn { padding:15px 0 10px 0; text-align:center; margin-top:15px; border-top:1px #CCC dotted; }

.size { margin:5px 0; padding:7px 0; border-bottom:1px #DFDFDF solid;  border-top:1px #DFDFDF solid; }
.size ul { list-style:none; margin:0 auto; padding:0;}
.size ul li { background:#AAAAAA; font-size:12px; color:#ffffff;  margin:0 2px; float:left; cursor:pointer; width:25px; line-height:25px; text-align:center;}
.size ul li:hover { background:#5E9BC7;}
.size ul li.active { background:#5E9BC7; }
.size ul li.none { background:#E7E7E7; }
.size ul li.title { background: none; font-size:15px; color:#575757; width:auto; }

/**** 產明細圖片特效樣式 ****/
.slider-wrap								{ width: 100%;}	
.stripViewer .panelContainer		        { width: 400% !important;}	
.stripViewer .panelContainer  .panel ul		{ text-align: left; margin: 0 15px 0 30px; width: 100%}
.stripViewer								{ position: relative; overflow: hidden; width:100%; height: auto; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; width:400%; }
.stripViewer .panelContainer .wrapper       { width:100%;}
.stripViewer .panelContainer img            { width:100%; height:auto;}
.stripViewer .panelContainer .panel			{ float: left; position: relative;}
.stripNavL, .stripNavR, .stripNav			{ display: none; width:100%; }
.slider-wrap a                              { height:auto;}
.nav-thumb 									{ margin-right: 5px; }
#movers-row									{ margin:5px 0 0 0; width:101%; }
#movers-row div								{ width: 25%; float: left; padding-right:1%; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; margin-top: 0px; position: relative; padding-top: 0px;}
.active-thumb 								{ background: transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat; }
.panel { width:25%;} /**四張圖 乘 四分之一 **/



/*****  聯絡我們  *****/
.contact-body { padding:0 10px;}
.contact-note { padding:10px 0; font-size:13px; color:#F00;}
.contact-left { padding:0 3%; }
.contact-left img { width:100%; height:auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.btn-send { font-size:13px;} 
a.btn-send { background: #999; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-send:hover { background: #B88283;}
a.btn-reset { background:#666;  padding: 3px 20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-reset:hover { background:#777;}


a.btn-send-over { background: #79919F; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-send-over:hover { background: #63AEBD;}

img.code { width:100px; height:32px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:0 5px; vertical-align:middle;}

/*****  FAQ  *****/
.faq {}
.faq ul { margin:0; padding:0; list-style:none;}
.faq ul li { border-bottom:1px #fff solid; }
.faq ul li .qa_title { background: #DDDCD7; font-weight:normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-left:8px #333 solid;}
.faq ul li a { color: #333; font-size:15px; display:block; padding:10px 0 10px 10px; text-shadow:1px 1px 0 #fff;}
.faq ul li a:hover { background:#C5C4B7; color:#fff;  text-shadow:-1px -1px 0 #666;}
.faq ul li .qa_content { border-top:1px #CCC dotted; padding:10px 0 20px 25px; font-size:13px; line-height:1.5em; color:#666;}



/*****  最新消息  *****/
.news {}
.news ul { margin:0 0 20px 0; padding:0; list-style:none; border-top:1px dashed #acaba1;}

.news-list { list-style:none; }
.news-list li { clear:both; border-bottom:1px #E3E3E3 dotted; padding:10px 0 10px 10px; border-bottom:1px dashed #acaba1; font-size:15px; color:#6e6d66; position:relative; }
.news-list li .news-image{ float:left; width:160px; line-height:25px; display:block; padding:7px 0; color: #A6A6A6;}
.news-list li .news-image img{ width:100%;}
.news-list li .news-lis-cont { margin:0 0 0 200px;  padding:10px 0;}
.news-list li .news-lis-cont .date{ font-size:13px;}
.news-list li .news-lis-cont h4{ margin:0; padding:0; font-weight:normal; }
.news-list li .news-lis-cont a { color:#6e6d66; display:block;}
.news-list li .news-lis-cont a:hover { color:#93c52b;}

.news-list li a.more{ position:absolute; right:10px; bottom:10px; font-size:12px; color:#8d8b83;}
.news-list li a.more:hover { color:#93c52b;}

.time { color:#3CA3D5; padding:10px 0 10px 40px; border-bottom:1px #D7D7D7 dotted;}


.news-detaile{}
.news-detaile .time{font-size:14px; color:#9bd16c; padding:0; border:0;}
.news-detaile .news-title{ font-size:18px; color:#9bd16c; margin:3px 0 10px 0;}


.opacl { font-size:12px; line-height:20px; padding-bottom:10px; }
.opacl a { background: #888888; color:#fff; padding: 3px 10px; margin:0 5px; -webkit-border-radius: 5px 5px 0 0px; -moz-border-radius: 5px 5px 0 0px; border-radius: 5px 5px 0 0px;}
.opacl a:hover { background:#699;}
a.close_qa { font-size:12px;} 
#qaContent{}
.accordionPart{}



/*****  內頁架構  *****/
.content-body {max-width:1140px; margin:25px auto 0 auto; }
.page-title { font-size:22px; color:#737373; padding:0 0px 5px 10px; line-height:30px; margin:10px 0 10px 0;  }
.page-main { padding: 0 10px; font-size: 14px; color:#666; line-height:1.6em;  }

.left-menu-title { background: #909090; text-align:center; font-size:18px; color: #fff; text-shadow:-1px -1px 0px #666;   padding:5px 0 10px 0; border-top:1px #999 dotted;  }


/**左側選單樣式01**/
.in-left-menu { background:#FFF; margin:0 5%; border:3px solid #f1f1f1; box-shadow:0 0 1px #AAA; padding:0 0 30px 0; }
.in-left-menu h3{ font-size:12px; font-family:Arial; color:#989898; margin:0; padding:10px 20px;}
.in-left-menu>ul { margin:0; padding:0; list-style:none; }
.in-left-menu>ul>li {font-size:15px; color:#666; margin:0 0 15px 0; }
.in-left-menu>ul>li>a { display:block; padding:0 20px 0 18px; font-size:18px; color:#737373; }
.in-left-menu>ul>li>a:hover { }
.in-left-menu>ul>li>a.active{ background:url(../images/left-menu-list-bg.png) no-repeat top right #9bd16c; color:#FFF; border:1px solid #71b155; text-align:right; padding-right:22px; line-height:24px;
-webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}

.in-left-menu>ul>li ul { margin:5px 0 0 0; padding:0; list-style:none;} 
.in-left-menu>ul>li ul li {  margin-bottom:5px; }
.in-left-menu>ul>li ul li a { background:url(../images/left-menu-list-bg-2.png) no-repeat 12px 3px; font-size:15px; color:#666; display:block; padding:0 18px 0 35px;}
.in-left-menu>ul>li ul li a:hover { color: #9bd16c;  }
.in-left-menu>ul>li ul li a.active{ background:url(../images/left-menu-list-bg.png) no-repeat top right #9bd16c; color:#FFF; border:1px solid #71b155; text-align:right; padding-right:22px; line-height:24px;
-webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}


/**左側選單樣式02**/
.left-menu-02 { margin:0 5%; border:3px solid #8fbe7e; box-shadow:0 0 1px #AAA; padding:0 5px 30px 5px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}
.left-menu-02 h3{ font-size:20px; font-family:Arial; color:#457535; margin:0; padding:20px 20px 0 20px; font-weight: normal;}
.left-menu-02>ul { margin:0; padding:0; list-style:none; }
.left-menu-02>ul>li {font-size:15px; color:#666; margin:8px 0; border-bottom: 1px #9dae97 solid;}
.left-menu-02>ul>li>a { padding:5px 20px 5px 18px; font-size:18px; color:#737373; display: block; }
.left-menu-02>ul>li>a:hover { }

.left-menu-02>ul>li ul { margin:5px 0 0 0; padding:0; list-style:none;} 
.left-menu-02>ul>li ul li {  margin-bottom:5px; }
.left-menu-02>ul>li ul li a { background:url(../images/left-menu-list-bg-2.png) no-repeat 12px 1px; font-size:15px; color:#666; display:block; padding:0 18px 0 38px;}
.left-menu-02>ul>li ul li a:hover { color: #9bd16c;  }
.left-menu-02>ul>li ul li a.active{ background:url(../images/left-menu-list-bg.png) 5px 5px #9bd16c no-repeat; color:#FFF; text-align:right; line-height:24px;
-webkit-border-radius:0 20px 20px 0; -moz-border-radius:0 20px 20px 0; border-radius:0 20px 20px 0; padding: 5px 20px 5px 5px;}




/*****  內頁BANNER  *****/
.inside-banner { background: #909090; padding:20px 0; }
.inside-banner .banner-title { max-width: 1000px; font-size:18px; color:#fff; margin:0 auto; border-left:4px #AAA8A8 solid; padding:0 0 0 20px; line-height:30px;  }


/*****  首頁產品  *****/
.index-pro { max-width:1000px; margin:0 auto;}
.index-pro-title {font-size:24px; color:#333; line-height:30px; padding-bottom:10px; text-align:center; font-weight:normal; border-bottom:3px #DFDFDF solid;} 
.index-pro ul { max-width:1000px; margin:0 auto; padding:0; list-style:none;}
.index-pro ul li {  width:20%; padding:1%; text-align:center; float:left;}
.index-pro ul li:hover { background:#f8f6f6;}
.index-pro ul li h4 { font-size:15px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }

.index-pro ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block; text-decoration: line-through; }
.index-pro ul li .index-pro-price { color:#b83400; font-size:20px; padding:0 0 10px 0; display:block; font-family:Helvetica, Arial; }


a.cart { background:#9B9B9B; padding:5px 8px; color:#ffffff; font-size:15px; display:block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:0px #DBDBDB solid;  width:48%; margin-right:2%; float:left;}
a.cart img { padding-right:0px; vertical-align:middle;}
a.cart:hover { background: #A7A7A7;}

a.check { background:#9B9B9B; padding:5px 8px; color:#ffffff; font-size:15px; display:block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:0px #DBDBDB solid;  width:48%; margin-left:2%; float:left;}
a.check img { padding-right:0px; vertical-align:middle;}
a.check:hover { background: #A7A7A7;}

.index-more { max-width:1000px; border-top:1px #dad0d0 solid; margin:50px auto 0 auto; height:50px; position:relative; }
.index-more a { background:url(../images/index-more-pro.png) no-repeat; color:#a7a7a7; width:132px; height:36px; display:block; margin:0 auto; text-align:center; position:absolute; top:-10px; left:50%; margin-left:-66px;}


/*****  首頁連結  *****/
.index-link { max-width:1000px; margin:0 auto;}
.index-link h3 { color:#333; font-size:36px; font-weight:normal; text-align:center; line-height:0.8em; letter-spacing:2px;}
.index-link h3 .red { color:#d45500; font-size:24px; letter-spacing:0px;}
.index-link h3 .brwon { color:#c2ab8a; font-size:24px; padding-left:15px; letter-spacing:0px;}

.index-link-top { height:75px;}

.index-link ul { background:#e1e1e1; margin:0; padding:0; list-style:none;}
.index-link ul li { float:left; width:25%; margin:0; padding:0; border:1px  #fff dotted;}
.index-link ul li img { width:100%; height:auto; border:0; margin:0; padding:0;}


/*****  首頁 搜尋 最新消息模組  *****/
.index-news { width:100%; position:relative;}
.index-news-line { position:absolute; width:100%; border-bottom:1px #d1d1d1 solid; top:50px; z-index:-1; }

.index-search-news { max-width:1000px; margin:0 auto;}
.index-search { }
.index-search h3 { font-size:24px; color:#333; font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0; }
.index-search span { display:block; float:right; font-size:15px; color:#d1d1d1; font-weight:normal;}
.index-search-input { padding:10px 0 20px 0; position:relative; color:#333;}
.index-search-input img { position:absolute; right:0; top:10px;}
.index-search input { background: #e8d5d5; font-size:15px; color: #333; padding:5px 0 5px 20px; line-height:21px; width:100%; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 5% 0 0; right:51px; vertical-align:middle;}
.index-search img { vertical-align:middle;}


/**-----首頁最新消息-----**/
.i-infor{ margin:70px 0 20px 0; padding:0 15px 0 2%;}

.i-infor .i-news { background:#01a87f; padding:16px 2.5%; margin-bottom:10px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.i-infor .i-news .news-title{ margin:0 4% 0 0; padding:6px 0; float:left; }
.i-infor .i-news .news-list{ margin:0; padding:5px 0 0 0; float:left;}
.i-infor .i-news .news-list li{ background:url(../images/i-news-list-bg.png) no-repeat -2px 5px; font-size:12px; color:#FFF; border-bottom:0; padding:0 0 0 10px;}
.i-infor .i-news .news-list li a{ color:#FFF;}
.i-infor .i-news .news-list li a:hover{ text-decoration:underline;}

.i-infor .btn{ width:100%;}
.i-infor .btn .btn-about{ width:39.5%; margin-right:3%; }
.i-infor .btn .btn-pro{ width:56%;}

/**-----首頁 產品-----**/
.i-product { text-align:center; width:100%;}
.i-product img { width:95%; height: auto;}
.i-product .goods{ margin:35px 0 20px 0; padding:0 15px 0 0; position:relative;}
.i-product .goods .ar-left a{ display:block; background:url(../images/ar-left.png) no-repeat 0 0; width:20px; height:32px; position:absolute; left:5px; top:20%; }
.i-product .goods .ar-left a:hover{background:url(../images/ar-left.png) no-repeat 0 -32px;}

.i-product .goods .ar-right a{ display:block; background:url(../images/ar-right.png) no-repeat 0 0; width:20px; height:32px; position:absolute; right:5px; top:20%; }
.i-product .goods .ar-right a:hover{background:url(../images/ar-right.png) no-repeat 0 -32px;}

.i-product .goods ul{ margin:0; padding:0 7% 0 5%; list-style:none;}
.i-product .goods ul li{ float:left; width:46%; margin:0 2%; }

.i-product .goods ul li .pro-photo { background:none; width:100%; display: table; position: relative; margin-bottom:4px;}
.i-product .goods ul li .pro-photo a { display: table-cell; height:auto; vertical-align: middle; text-align:center;}
.i-product .goods ul li .pro-photo img.index-pro-img { width: auto; height: auto; max-width:100%; max-height:100%;}

.i-product .goods ul li .pro-name{ font-size:12px; padding-top: 10px;}

.i-product .show{ margin-top:-28px;}


.showcase{ padding-top: 30px;}
.showcase ul{ margin:0 auto; padding:0; list-style:none; max-width:375px;}
.showcase ul li{ float:left; margin:0 5px; width:30%;}
.showcase ul li img{ width:100%;}



/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}
.calender { width:30px; height:auto;}


/***  版面欄位  ***/
.index-main { max-width:1140px; margin:-25px auto 0 auto;}
.main { min-height:400px;}
.col-100 {float:left; width:100%;}
.col-010 { width:9%; margin-right:1%; float:left;}
.col-015 { width:14%; margin-right:1%; float:left;}
.col-020 { width:19%; margin-right:1%; float:left;}
.col-025 { width:24%; margin-right:1%; float:left;}
.col-030 { width:29%; margin-right:1%; float:left;}
.col-040 { width:39%; margin-right:1%; float:left;}
.col-045 { width:44%; margin-right:1%; float:left;}
.col-050 { width:49%; margin-right:1%; float:left;}
.col-055 { width:54%; margin-right:1%; float:left;}
.col-060 { width:59%; margin-right:1%; float:left;}
.col-065 { width:64%; margin-right:1%; float:left;}
.col-070 { width:69%; margin-right:1%; float:left;}
.col-075 { width:74%; margin-right:1%; float:left;}
.col-080 { width:79%; margin-right:1%; float:left;}
.col-085 { width:84%; margin-right:1%; float:left;}

.cor-010 { width:10%; float:left;}
.cor-015 { width:15%; float:left;}
.cor-020 { width:20%; float:left;}
.cor-025 { width:25%; float:left;}
.cor-030 { width:30%; float:left;}
.cor-035 { width:35%; float:left;}
.cor-040 { width:40%; float:left;}
.cor-045 { width:45%; float:left;}
.cor-050 { width:50%; float:left;}
.cor-055 { width:55%; float:left;}
.cor-060 { width:60%; float:left;}
.cor-065 { width:55%; float:left;}
.cor-070 { width:70%; float:left;}
.cor-075 { width:75%; float:left;}



/**----- 選單-mobi -----**/
nav {  }
 .menu { display:none; margin:0; padding:0; list-style:none; position:absolute; top:55px; right:0; width:540px; margin: 0 auto;  }
 .menu>li { color:#fff; width:16.6%; float:left; font-size:15px; text-align:center; position:relative;  line-height:20px; cursor:pointer;}
 .menu>li:nth-child(7n){  border-right:0px;}
 .menu>li>a { color:#898989; display:block;}  
 .menu>li>a:hover { color:#95cb66;}

 .menu>li.sub>ul.sub-menu { background:rgba(0,0,0,0.5); display: none; position:static; z-index:999; margin:0; padding:0; -webkit-border-radius:  0 0 5px 5px; -moz-border-radius:  0 0 5px 5px;border-radius: 0 0 5px 5px; overflow:hidden;}
 .menu>li.sub:hover ul.sub-menu { position:absolute; display: block; width:100%; left:0; top:47px;
 }
 .menu>li.sub>ul.sub-menu>li { display:block; border-top:1px #fff dotted; }
 .menu>li.sub>ul.sub-menu:hover li { display:block;}
 .menu>li.sub>ul.sub-menu>li>a { display:block; color:#fff;}
 .menu>li.sub>ul.sub-menu>li>a:hover { background: #3CACE3;}
 

/**----- 選單-PC -----**/
 .menu-pc { margin:0; padding:0; list-style:none; position:absolute; top:55px; right:0; width:540px; margin: 0 auto; z-index:9999; }
 .menu-pc>li { color:#fff; width:16.6%; float:left; font-size:15px; text-align:center; position:relative;  line-height:20px; cursor:pointer;}
 .menu-pc>li:nth-child(7n){  border-right:0px;}
 .menu-pc>li>a { color:#898989; display:block;}  
 .menu-pc>li>a:hover { color:#95cb66;}

 .menu-pc>li.sub>ul.sub-menu { background:rgba(0,0,0,0.5); display: none; position:static; z-index:999; margin:0; padding:0; -webkit-border-radius:  0 0 5px 5px; -moz-border-radius:  0 0 5px 5px;border-radius: 0 0 5px 5px; overflow:hidden;}
 .menu-pc>li.sub:hover ul.sub-menu { position:absolute; display: block; width:100%; left:0; top:47px;
 }
 .menu-pc>li.sub>ul.sub-menu>li { display:block; border-top:1px #fff dotted; }
 .menu-pc>li.sub>ul.sub-menu:hover li { display:block;}
 .menu-pc>li.sub>ul.sub-menu>li>a { display:block; color:#fff;}
 .menu-pc>li.sub>ul.sub-menu>li>a:hover { background: #3CACE3;}

 
 
 /* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}



/*** 訂位填寫  ***/
.show-date { background:#14A1F0; padding:5px 10px; font-size:14px; color:#fff; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.show-date a { color:#D0FF00; text-decoration:none;}
.show-date a:hover { color:#F0FF9B;}
.kyein-be-member { background: #FF1115; padding:5px 10px; font-size:14px; color: #FFDADA; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*** 訂位區塊  ***/
.info-box { font-size:14px; color: #686868; line-height:20px; padding-bottom:10px; margin-bottom:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
h4.info-title { background: #FFEDED; font-size:17px; line-height:30px; color: #AD3A3C; padding: 0 0 0 10px; margin:5px 0px 10px 0px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:normal;}
.info-content { padding:0 0 10px 20px;}
.info-content ul { list-style:square; margin:0 0 0 0px; padding:0 0 0 20px;}
.info-content ul li { border-bottom:1px #BFBFBF dotted; margin-bottom:10px; color: #A41C1F;}
.info-content ul li p { font-size:12px; color:#767676; margin:0 0 10px 0; padding:0;}
h5.info-set-opint { color:#69B7FF; font-size:15px; line-height:25px; border-bottom:1px #D9D9D9 solid; margin:0 0 10px 0;}

/***  step  ***/
.step { list-style:none; margin:0; padding: 20px 0;}
.step li { float:left; width:25%; font-size:28px; line-height:1.2em; color:#D9D9D9; border-left:1px #D9D9D9 solid; padding:0px 0; text-align:center;}
.step li.active , .step li.active span { color: #0091ED;}
.step li span { color:#7F7F7F; display:block; font-size:15px; line-height:18px; padding: 5px 0 0 0px; border-top:1px #DBD8D8 dotted; margin:10px auto 0 auto; width:80%;}


/***  定位-選項-時段  ***/
.order-opinion { padding: 0 0 10px 0; }

.time { font-size:14px; color:#7E7E7E; line-height:20px;}
.time ul { margin:0; padding:0; list-style:none;}
.time ul li { background:#FF5558; float:left; text-align:center; font-size:14px; color:#fff; line-height:20px; padding:3px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:1% 1% 0 0; width:11.5%;}
.time ul li a { color:#fff;}
.time ul li:hover { background: #D30003; }
.time ul li.finish { background:#D3D2D2;}
.time ul li span { display:block; border-top:1px #FFB6B7 solid; line-height:20px;}

.order-note { color:#DF0205; padding:10px 0;}


/***  歷史訂單  ***/
.table-border { background: #DBDBDB; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:10px;}
.table-border th {  font-size:14px; color:#fff; padding:3px 5px;}
.table-border td { font-size:14px; color: #515151; padding:3px 5px; text-align:center; }

.table-border tr:first-child { background:#FF6700; font:12px; padding:3px 5px; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.table-border tr:last-child { background:#FFF; font:12px; padding:3px 5px; -webkit-border-radius:0 0px 5px 5px; -moz-border-radius:0 0px 5px 5px; border-radius:0 0px 5px 5px;}
.table-border tr:nth-child(2n){ background:#FFF; }
.table-border tr:nth-child(2n+3){ background:#FFFBF0; }

/***  表單欄位  ***/
.form-box { min-width: 280px;}
.form-box input, .form-box img { vertical-align:middle;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 0 10px 0; line-height:20px; width:100%;}

.opinion { margin-bottom:8px; }
.opinion-left01 { background:#fff; float:left; width:30%; border:1px #CBCBCB solid; border-right:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                  -webkit-border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px;}
				  
.opinion-right01 { float:left; width:7.5%; border:1px #CBCBCB solid; padding:0px 2%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; border-left:0;
                  -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;}
				  
.input-main-style01 { float:left; width:55%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                      -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                  -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                  box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				      }
.input-main-style02 { background:#fff; float:left; width:70%; border:1px #CBCBCB solid; margin:0; padding:5px 2%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                     -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;
				     -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				     }			
.input-main-style03 { float:left; width:93.3333%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; text-align:center;
                     -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
				     -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				     }						 
					 
.select-style { font-size:15px; color:#666; line-height:20px; padding:5px 10px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.order-numb { color:#FF0004;}

/***  輸入欄位  ***/

input { }
.input-style01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%; margin-bottom:5px;
                 -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				 }

.input-botton01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:18px; font-size:13px; font-family:"微軟正黑體"; color:#4E4E4E; width:100px; margin:0 auto; text-align:center; 
                  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}

.select-style01 {border:1px #CBCBCB solid; padding:5px 3%; width:99%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; margin:0;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
                 -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */}

.input-botton-blue {
background: #feffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2UyZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWVkZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffff 0%, #e2feff 35%, #9eede6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#e2feff), color-stop(100%,#9eede6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eede6',GradientType=0 ); /* IE6-8 */
}


.bg-gary-whrite {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.bg-red-orange {
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/* 頁次 */	
.page{ height:40px; font:13px/40px "微軟正黑體"; color:#333; text-align: center; clear:both; margin-top:10px; }
  .page a { background: #499347; color:#fff; padding:5px 15px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
  .page a:hover { background: #78bb77 ; color: #fff;}
.page br { display:none;}

/******  底部資訊  ******/
footer { height:80px; }
footer .footer-main { max-width:1140px; margin:0 auto; padding:10px; color:#888; font-size:12px; text-shadow:0px 0px 0px #7b6f48; line-height:24px; position:relative; }


footer .footer-main .f-left{ position:absolute; left:10px; top:22px;}
footer .footer-main .f-left .f-logo{ width:130px; float:left; margin:2px 12px 0 0; }
footer .footer-main .f-left .f-logo img { width:100%; height: auto; }
footer .footer-main .f-left .copytight{ font-size:12px; color:#a1a1a1; line-height:17px; float:left; margin-right:12px;}
footer .footer-main .f-left .infor{ font-size:12px; color:#a1a1a1; line-height:17px; float:left;}


footer .footer-main .f-right { position:absolute; right:0px; top:18px; height:42px; border-left:1px #a0a0a0 solid;  padding:0 0 0 20px;}



footer .footer-main .f-right .tel .red{ color:#db1f1f; padding-left:6px;}
footer .footer-main .f-right .tel .size-22{ font-size:22px; }

footer .footer-main .f-right .service-time{  border-right:1px #a0a0a0 solid;  font-size:12px; color:#a1a1a1; line-height:13px; font-family:"新細明體"; float:left; padding-right:10px; margin-right:20px;}
footer .footer-main .f-right .service-time h4{ color:#000; font-size:12px; margin:0; padding:0; font-weight:normal;}

footer .footer-main .f-right .fb{ padding-top:3px; float:left;}

@media screen and (max-width: 1050px) {
	footer .footer-main .f-left{ position:static; max-width:558px; margin:0 auto 10px auto;}
	footer .footer-main .f-right{ position:static; max-width:558px; margin:0 auto; clear:both;  padding:0 0 0 10px;}
} 

