@charset "utf-8";
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
@import url(slicknav.css) screen and (max-width: 768px);

:root{
  --main-color: #f15f7c; /* rgb(241, 95, 124) */
}

html *{font:14px/20px "Microsoft JhengHei"; color:#4d4d4d;}
a:hover{text-decoration:none;}
img{width:auto; height:auto; max-width:100%; max-height:100%;}
[type=reset], [type=submit], button, html [type=button]{-webkit-appearance:none;}
a:not([href]):not([tabindex]){color:#fff;}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{color:#fff;}

/* 上版 */
header{position:relative; background-color:rgba(255,255,255,.85); z-index:2;}
header .container .row{align-items:center;}
header .container .logo{margin:10px 0;}
@media screen and (max-width: 768px){
	header{position:absolute; top:5px; background-color:rgba(255,255,255,0); z-index:99;}
	header .container .row{margin:0;}
	header .container .logo{margin:0;}
	header .container .logo img{height:100%; max-height:45px; width:auto; max-width:100%;}
}
/* 選單 */
nav{margin-left:auto;}
nav>ul#menu{display:flex; margin:0; padding:0;}
nav>ul#menu li{position:relative; margin:0; padding:0; list-style:none; text-align:center;}
nav>ul#menu>li>a{display:block; margin:0 1em; padding:0; font-size:medium; line-height:1.8; border:2px solid transparent; border-right:none; border-left:none;}
nav>ul#menu>li:hover>a{border:2px solid #f15f7c; border-right:none; border-left:none; color:#f15f7c;}
nav>ul#menu>li>ul{display:none; position:absolute; left:calc(-50% + 28px); width:130px; margin:0; padding:12px 0 0 0; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; margin-left:5px;}
nav>ul#menu>li>ul::before{content:" "; display:block; position:absolute; top:3px; left:calc(50% - 9px); border-style:solid; border-width:0 9px 9px 9px; border-color:transparent transparent #f15f7c transparent; z-index:99; opacity:.9; filter:Alpha(Opacity=90);}
nav>ul#menu>li:hover>ul{display:block;}
nav>ul#menu>li>ul>li{background-color:#f15f7c; border-bottom:1px solid #fff; opacity:.9; filter:Alpha(Opacity=90);}
nav>ul#menu>li>ul>li:last-child{border-bottom:0;}
nav>ul#menu>li>ul>li:hover{opacity:1; filter:Alpha(Opacity=100);}
nav>ul#menu>li>ul>li>a{font-size:15px; line-height:30px; color:#fff;}
nav>ul#menu>li>ul>li>a:hover{color:#ffff66;}
/* 手機版選單 */
.slicknav_menu{display:none;}
@media screen and (max-width:768px){
	nav{display:none;}
	.slicknav_menu *{font-size:16px;}
	.slicknav_menu{position:absolute; top:0; display:block; width:100%; background-color:rgba(255,255,255,.85); z-index:98;}
	.slicknav_menu ul{margin:0; padding:5px 15px;}
	.slicknav_menu .slicknav_icon *{font-size:20px;}
	.slicknav_menu .slicknav_icon{display:flex; flex-wrap:wrap;}
	.slicknav_btn{background-color:#f15f7c; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
	.slicknav_menu .slicknav_icon-bar{height:2px;}
	.slicknav_nav>li{margin:2px 0; padding:5px 0;}
	.slicknav_nav li{background-color:#ddd;}
	.slicknav_nav a{color:#222;}
	.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav .slicknav_row:hover a{background-color:rgba(241, 95, 124, .85); color:#fff;}
	.slicknav_nav .slicknav_arrow {font-family:'Open Sans', sans-serif;}
}

/* BANNER */
.banner-wrapper{margin-top:-97px; width:100%; overflow:hidden;}
.banner{position:relative; left:50%; width:200vw; overflow:hidden; background:url(../images/p-banner.jpg) no-repeat center top; background-size:cover; height:360px; border-radius:0 0 80% 80%; margin-bottom:50px; -webkit-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); transform:translate(-50%, 0); z-index:-99;}

/* 次選單 */
aside{margin-bottom:45px;}
aside ul{margin:0; padding:0; list-style:none;}
aside ul li{margin:0 5px; padding:5px 0; font-size:15px; color:#666;}
aside ul li a{position:relative; display:block; padding:3px 10px; font-size:15px; line-height:1.5em; color:#333; border: 1px solid #DDD; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-transition:500ms; -moz-transition:500ms; transition:500ms;}
aside ul li a.active{position:relative; background-color:#f15f7c; color:#fff; border:1px solid #f15f7c;}
aside ul li a.active:hover{color:#fff;}
aside ul li a.active:after{content:""; position:absolute; bottom:-5px; left:calc(50% - 5px); width:0; height:0; border-style:solid; border-width: 5px 5px 0 5px; border-color:#f15f7c transparent transparent transparent;}
aside ul li a:hover{color:#f15f7c; border:1px solid #f15f7c;}

/* 主要內容 */
h1.i-title{margin-bottom:30px; font-size:32px; font-family:'Playfair Display', serif; color:#f15f7c; text-align:center;}
h1.i-title>span{font-size:30px; line-height:47px; color:#333;}
h1.i-title>a{display:inline-block; margin-left:10px; padding:0; width:21px; height:21px; background:url(../images/more-icon.png);}
h1.i-title>a:hover{ background:url(../images/more-icon.png) 0 21px;}
h2.p-title{display:flex; margin-bottom:30px; padding-bottom:10px; font-size:22px; line-height:1.4; color:#f15f7c; border-bottom:1px solid #f15f7c;}
h2.p-title i{margin-right:10px; font-size:22px; line-height:1.4; color:#f15f7c;}
article{padding-bottom:50px;}
article p{font-size:16px; line-height:1.8;}
.date{margin-bottom:1em; font-size:14px; color:#f15f7c;}

/* 頁次模組 */
.page{display:flex; flex-wrap:wrap; justify-content:center; margin:10px 0 50px;}
.page span{margin:0 .5em; line-height:40px;}
.page a{margin:0 .5em; padding:5px 15px; background-color:#f15f7c; color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; transition:300ms; -moz-transition:300ms; -webkit-transition:300ms;}
.page a:hover{opacity:.85;}

/* 下版 */
footer{background-color:rgba(241, 95, 124, .8);}
footer .row{justify-content:center; margin:0;}
footer .f-logo{margin:0 7.5px 15px; width:100%; text-align:center;}
footer .f-info{display:flex; flex-wrap:wrap; margin:23px 7.5px; justify-content:center; text-align:center;}
@media (min-width: 576px){
	footer .f-logo{margin:0 7.5px; width:auto; text-align:center;}
	footer .f-info{text-align:left;}
}
footer .f-content{color:#fff; align-self:center;}
footer .f-content span{display:inline-block; color:#fff;}
footer .copyright{margin:0 0 23px; color:#fff; align-self:flex-end; text-align:center;}
@media (min-width:992px){
	footer .row{justify-content:space-between;}
	footer .copyright{text-align:right;}
}
footer .copyright a{color:#fff;}
footer .copyright a:hover{color:#ffff66;}




/* 首頁-EDM */
section.edm-wrapper{margin-top:-97px; width:100%; overflow:hidden;}
.edm{position:relative; left:50%; width:200vw; overflow:hidden; border-radius:0 0 50% 50%; margin-bottom:50px; -webkit-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); transform:translate(-50%, 0); z-index:1;}
@media (max-width:768px){
	section.edm-wrapper{margin-top:0;}
}

/* 首頁-最新消息 */
.i-news{margin-bottom:50px;}
.i-news .col-lg-4{margin-bottom:10px;}
.i-news a{display:flex; background-color:#f8f8f8; padding:15px;}
.i-news .date{background:#f15f7c; width:80px; margin-right:15px; padding:3px; font-weight:bold; font-size:14px; color:#fff; text-align:center;}
.i-news .date .day{display:block; font:bold 30px/24px "Times New Roman"; color:#fff;}
.i-news .date .year{font-weight:bold; color:#fff;}
.i-news .brief{width:calc(100% - 95px);}
.i-news .title{margin-bottom:5px; font-size:16px; line-height:20px; color:#f15f7c; height:20px; overflow:hidden;}
.i-news .content{height:39px; overflow:hidden;}

/* 首頁-關於我們 */
.i-about .fig{background:url(../images/i-about.jpg) no-repeat center center; background-size:cover; min-height:300px;}
.i-about .content{background-color:#f9f8f8; padding:60px 3%;}
.i-about .content p{font-size:16px; line-height:1.8;}
.i-about .more a{display:inline-block; background-color:#f15f7c; padding:5px 1em; color:#fff; -webkit-transition: 300ms; -moz-transition: 300ms; transition:300ms; opacity:.8; filter:Alpha(Opacity=80);}
.i-about .more a:hover{padding:5px 1.2em; opacity:1; filter:Alpha(Opacity=100);}

/* 首頁-常見問題 */
.i-faq{background:url("../images/i-faq.jpg") no-repeat center top; background-size:cover; padding:50px 0;}
.i-faq ul{margin:0; padding:0; list-style:none;}
.i-faq ul li{display:flex; margin:0.8% 0; line-height:24px;}
.i-faq ul li a{display:flex; background:#fcfcfc; padding:15px; width:100%; font-size:16px; line-height:1.5; border-radius:5px; box-shadow:3.5px 3.5px 2px 0 #999; -webkit-transition: 300ms; -moz-transition: 300ms; transition:300ms;}
.i-faq ul li a:hover{color:#f15f7c;}
.i-faq ul li i{margin:-3px 10px 0 0; font-size:30px; color:#f15f7c; vertical-align:middle;}
    
/* 最新消息 */
.news{margin-bottom:50px;}
.news .col-lg-6{margin-bottom:20px;}
.news a{display:flex; background-color:#f8f8f8; padding:15px; -webkit-transition:500ms; -moz-transition:500ms; transition:500ms;}
.news a:hover{box-shadow:0 0 5px #999;}
.news .date{background:#f15f7c; width:100px; margin-right:15px; padding:16px 5px; font-weight:bold; font-size:14px; color:#fff; text-align:center;}
.news .date .day{display:block; font:bold 30px/24px "Times New Roman"; color:#fff;}
.news .date .year{font-weight:bold; color:#fff;}
.news .brief{width:calc(100% - 115px);}
.news .title{margin-bottom:5px; font-size:16px; line-height:20px; color:#f15f7c; height:20px; overflow:hidden;}
.news .content{height:70px; overflow:hidden;}

/* 產品介紹-list */
.pro-list .img{background-color:#f7f7f7; background-repeat:no-repeat; background-position:center center; background-size:contain;}
.pro-list .pro-name{display:block; margin:10px 0 30px; height:48px; font-size:16px; line-height:1.5; text-align:center; overflow:hidden;}
.pro-list>div img{border:1px solid transparent; -webkit-transition:500ms; -moz-transition:500ms; transition:500ms;}
.pro-list>div:hover img{border:1px solid #f15f7c;}
.pro-list>div:hover .pro-name{color:#f15f7c;}

/* 產品介紹-detail */
/* 圖片特效樣式 */
.pro-photo{width:100%; margin-bottom:20px;}
.stripViewer .panelContainer{width:400% !important;}
.stripViewer .panelContainer .panel ul{text-align:left; margin:0 15px 0 30px; width:100%}
.stripViewer{position:relative; overflow:hidden; width:100%; height:auto;}
.stripViewer .panelContainer{position:relative; left:0; top:0; width:400%;}
.stripViewer .panelContainer .wrapper{width:100%;}
.stripViewer .panelContainer img{width:100%; height:auto;}
.stripViewer .panelContainer .panel{float:left; position:relative;}
.stripNavL, .stripNavR, .stripNav{display:none; width:100%;}
.nav-thumb{margin-right:5px;}
#movers-row{margin:5px 0 0 0; width:101%;}
#movers-row div{width:25%; float:left; padding-right:1%;}
#movers-row div a.cross-link{float:right;}
.photo-meta-data{background:url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png); padding:10px; height:30px; margin-top:-50px; position:relative; z-index:9999; color:white;}
.photo-meta-data span{font-size:13px;}
.cross-link{display:block; margin-top:0; position:relative; padding-top:0;}
.active-thumb{background:transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat;}
.panel{width:25%;}
.pro-detail .pro-spec{position:relative; margin-bottom:10px; padding:10px 5px; font-size:15px; line-height:1.7; color:#333;}
.pro-detail .pro-content .pro-intro{margin:20px 0 40px; border-bottom:1px solid #ddd;}
.pro-detail .pro-content .pro-intro b{display:inline-block; padding:5px 20px; background-color:#f15f7c; font-weight:normal; font-size:18px;  color:#fff; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.pro-content, .pro-content p{font-size:15px; line-height:1.5; color:#333;}


/* FAQ */
.faq{margin:40px 0; padding:0 2%;}
.faq ul{margin:0; padding:0; list-style:none;}
.faq ul li{border-bottom:1px #fff solid; margin-bottom:10px;}
.faq ul li .qa_title{font-weight:normal;}
.faq ul li .qa_title>a{color:#444; font-size:16px; display:block; padding:10px 0 10px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:1px solid #CCC; position:relative;}
.faq ul li .qa_title>a:before{content:" "; display:block; position:absolute; left:0; top:0; background:#f15f7c; width:42px; height:100%; z-index:-1;}
.faq ul li .qa_title>a i{color:#FFF; font-size:26px; margin:-3px 15px 0 0; float:left;}
.faq ul li .qa_title>a span{display:inline; padding:3px 5px 0 3px; font-size:16px;}
.faq ul li .qa_content{background: rgba(90%,90%,90%,0.3); padding:10px 15px 15px 20px; line-height:1.5em; color:#666; border:0px solid #d8ecb6;}
.faq ul li .qa_content *{font-size:15px;}
.faq ul li .qa_content a{color:#f15f7c;}
.faq ul li .qa_content a.close_qa{background:#f15f7c; color:#fff;  padding:3px 7px;}
a.close_qa{font-size:12px;}

/* 聯絡我們 */
.contact{margin:30px 2%; padding:4% 7%;; box-shadow:0 0 8px #999;}
.contact-note{background:#f15f7c; padding:10px; font-size:15px; color:#fff; text-align:center; margin-bottom:15px;}
.contact-note span{display:inline-block; color:#fff;}
.col-form-label{display:inline-block; font-size:16px; word-break:keep-all;}
.form-control{background:rgba(90%,90%,90%,0.3); border:0;}
