@charset "utf-8";
/* CSS Document */
@import "bootstrap.min.css"/** bootstrap **/;
@import "font-awesome.min.css"/** 文字icon **/;
@import "DM+Sans.css"/** 英文字型 **/;
@import "Noto+Sans+TC.css"/** edm中文字型 **/;
:root {
	--main-color: #43321e;/** 主色系 **/
	--secondary-color: #e4b37b;/** 次要色系 **/
	--auxiliary-white-color: #ffffff;/** 副色系-白 **/
	--auxiliary-dark-gray-color: #333333;/** 副色系-深灰 **/
	--auxiliary-light-gray-color: #666666;/** 副色系-淺灰 **/
	--background-color: #f7f3ee;/** 背景 **/
	--font: 'Microsoft JhengHei','arial';/** 字型 **/
	--font-en: 'DM Sans', sans-serif;/** 英文字型 **/
	--font-edm: 'Noto Sans TC', sans-serif;/** edm中文字型 **/
}

*, *:before, *:after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {font-size: 100%; font: inherit; vertical-align: baseline;} 
html{width:100%; height:auto;}
body{background-color:#fff; margin:0; padding:0; width:100%; height:auto; font-size:16px ;font-family:var(--font); line-height: 1.6;word-break:break-word;}
a{text-decoration:none;transition: all .5s ease 0s;}
a:active, a:hover{text-decoration:none;outline: 0;transition: all .5s ease 0s;}
img{border:0; vertical-align:middle; max-width:100%;height: auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
table {border-collapse: collapse;border:1px solid #cccccc;}
blockquote, q {quotes: none; } 
blockquote:before, blockquote:after,q:before, q:after { content:""; content: none; } 
button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0;border: 0;outline: 0;border-radius: 0;}
input:focus, select:focus, textarea:focus, button:focus{outline:0;}

/** 表單預設文字顏色設定 **/
::-webkit-input-placeholder{color: #cccccc;font-family:var(--font);}
::-moz-placeholder{color: #cccccc;font-family:var(--font);}
:-ms-input-placeholder{color: #cccccc;font-family:var(--font);}

/** 框架 **/
.warpper-box{border-right: 1px var(--main-color) solid;padding: 0 15px;position: fixed;height: 100vh;top: 0;left: 0;z-index: 2;max-width: 120px;background-color: var(--auxiliary-white-color); }
.warpper{padding: 0 0 0 120px!important;}
@media screen and (max-width:820px){
	.warpper-box{border-right: 0;border-bottom: 1px var(--main-color) solid;padding: 0 15px;height: auto;position:fixed;top:inherit;left:inherit;max-width:100%;display: flex;z-index: 999;}
	.warpper{margin: 0;padding: 54px 0 0 0!important;}
}
/** 上版 **/
header{position: relative;}
.header{position: relative;height:118px;}
.logo{width: 299px;height: auto;position: fixed;top: 25px; left: 144px;z-index:1;filter:drop-shadow(1px 1px 1px rgba(0,0,0,.4));}
.logo img{width: 100%;}
.logo a{display: block;}
@media screen and (max-width:1000px){
	.logo{width: 230px;top: 34px;}
}
@media screen and (max-width:820px){
	header{position:inherit;}
	.header{position:inherit;height:0;}
	.logo{display: block; width: 161px;height: 36px; background-image: url(../images/logo.png);background-repeat:no-repeat;background-position: center center; background-size:161px;  position:fixed;top:9px; left:74px;z-index: 10000;filter:drop-shadow(1px 1px 1px rgba(0,0,0,0));}
	.logo img{display: none;}
	.logo a{display: block;width: 161px;height: 36px;  }
}
@media screen and (max-width:370px){
	.logo{ width: 134px;height: 30px; background-image: url(../images/logo.png);background-repeat: no-repeat;background-position: center center; background-size:134px;top:11.5px;left:70px;}
	.logo a{width: 134px;height: 30px;  }
}

/** 語系 **/
.language{padding: 15px;}
.language ul{margin: 0;padding: 0;list-style: none; border: 1px solid var(--main-color);display: flex;justify-content: center;}
.language ul li{font-size: 14px;color: var(--main-color);width: 50%;text-align: center;}
.language ul li a{display: block; color: var(--main-color);}
.language ul li a:hover{color: var(--auxiliary-white-color);background-color: var(--secondary-color);}
.language ul li a.active{color: var(--auxiliary-white-color);background-color: var(--main-color);}
@media screen and (max-width:820px){
	.language{position: absolute; top: 0px;right: 0;width: 119px;padding: 14.5px;}
}

/** 主選單按鈕 **/
.menu-button {padding:32px 15px;background-color: var(--auxiliary-white-color);color: var(--main-color);text-align: center;display: block;margin:0;border-bottom: 1px solid var(--main-color);font-size: 16px ;font-family:var(--font-en); }
.hamburger{width: 89px; margin: 0 auto;padding:0 29.5px;}
.hamburger .line{width: 30px;height: 3px;background-color:var(--main-color);display: block;margin: 5px 0; -webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.hamburger .line:nth-child(2){width:22px;}
.hamburger .line:nth-child(3){width:14px;}
.hamburger:hover{cursor: pointer;}
#hamburger-6.is-active{-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;-webkit-transition-delay: 0.6s;-o-transition-delay: 0.6s;transition-delay: 0.6s;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
#hamburger-6.is-active .line:nth-child(2){width: 0px;}
#hamburger-6.is-active .line:nth-child(1),#hamburger-6.is-active .line:nth-child(3){-webkit-transition-delay: 0.3s;-o-transition-delay: 0.3s;transition-delay: 0.3s;}
#hamburger-6.is-active .line:nth-child(1){-webkit-transform: translateY(8px);-ms-transform: translateY(8px);-o-transform: translateY(8px);transform: translateY(8px);}
#hamburger-6.is-active .line:nth-child(3){width: 30px;-webkit-transform: translateY(-8px) rotate(90deg);-ms-transform: translateY(-8px) rotate(90deg);-o-transform: translateY(-8px) rotate(90deg);transform: translateY(-8px) rotate(90deg);}
@media screen and (max-width:820px){
	.menu-button {padding:5px 10px 1px 10px;font-size: 14px ;border-bottom:0;border-right: 1px solid var(--main-color);}
	.hamburger{width:auto; margin: 0;padding:0;}
	.hamburger .line{width: 24px;margin: 4px auto;}
	.hamburger .line:nth-child(2){width:24px;}
	.hamburger .line:nth-child(3){width:24px;}
	#hamburger-6.is-active .line:nth-child(1){-webkit-transform: translateY(7px);-ms-transform: translateY(7px);-o-transform: translateY(7px);transform: translateY(7px);}
	#hamburger-6.is-active .line:nth-child(3){width: 24px;-webkit-transform: translateY(-7px) rotate(90deg);-ms-transform: translateY(-7px) rotate(90deg);-o-transform: translateY(-7px) rotate(90deg);transform: translateY(-7px) rotate(90deg);}
}

/** 主選單 **/
nav{position: fixed;height: 100vh;left: 120px;top: 0;background-color: var(--auxiliary-white-color);padding:15px;width:350px;box-shadow: 8px 0 8px 0 rgba(0,0,0,.07);display: none;overflow-y: auto;z-index: 10000;}
nav ul{margin: 0;padding: 0;list-style: none;display: flex;flex-wrap: wrap;height:calc(100vh - 30px);align-content: center;justify-content: center;}
nav ul li{display: block;width: 100%;font-size: 18px;color:var(--main-color);margin: 8px 0;}
nav ul li a span.ch{font-size: 18px;color:var(--main-color);flex: 1;text-align: left;}
nav ul li a span.en{font-size: 14px;color:var(--secondary-color);font-family:var(--font-en);text-transform: uppercase;flex: 1;text-align: right;}
nav ul li a{display:flex;align-items: center; color:var(--main-color);padding: 15px;position: relative;z-index: 1;}
nav ul li a:after{content: "";display: block;width: 100%;height: 1px;background-color:var(--background-color);position: absolute;top: 50%;left: 0;transition: all .5s ease 0s;z-index: -1;opacity: 0; }
nav ul li a:hover .ch{color:var(--auxiliary-white-color);}
nav ul li a:hover {color:var(--auxiliary-white-color); position: relative;z-index: 1;}
nav ul li a:hover:after{content: "";display: block;width: 100%;height: 100%;background-color:var(--main-color);position: absolute;top: 0%;left: 0;z-index: -1;transition: all .5s ease 0s;opacity: 1;color:var(--auxiliary-white-color); }
@media screen and (max-width:820px){
	nav{height:calc(100vh - 54px);left: 0px;top: 54px;width: 100%;box-shadow: 8px 0 8px 0 rgba(0,0,0,0);}
	nav ul{height:calc(100vh - 84px);align-content:flex-start;}
}

/** icon **/
.icon{position: absolute;bottom:30px;left: calc(50% - 26px);}
.icon ul{margin: 0;padding: 0;list-style: none; }
.icon ul li{display: block; width: 52px;position: relative;}
.icon ul li a{display: block;width: 52px; padding:10px 15px;transform:scale(1);}
.icon ul li a:hover{transform:scale(1.46);}
@media screen and (max-width:820px){
	.icon{position: fixed;z-index:9999; bottom:0px;left:0;width: 100%;border-top: 1px solid var(--main-color);background-color:var(--auxiliary-white-color);}
	.icon ul{display: flex;justify-content: center;align-items: center;}
	.icon ul li{flex: 1;width:38px;text-align: center;border-right: 1px solid var(--main-color);}
	.icon ul li:last-of-type{border-right:0;}
	.icon ul li a{margin: 0 auto;width:38px; padding:10px;display: flex;align-items: center;}
	.icon ul li a:hover{transform:scale(1);}
}

/** 搜尋 **/
.icon ul li a.search-icon{}
.search-content{display: none;position: absolute;left: 52px;top:-5px;z-index: 10000;width: 250px;}
.search{background-color: var(--secondary-color);padding: 10px;display: flex;}
.search-field {flex: 1;width: 100%;}
.search-button {display: block; width: 35px;height: 35px;}
.search-field input[type="text"]{display: block; height: 35px;padding: 5px 10px;width: 100%;}
.search-button input[type="button"]{display: block; width: 35px;height: 35px;background-color: var(--auxiliary-white-color);background-image:  url(../images/icon002.png);background-repeat: no-repeat;background-position: center center;background-size: 20px;}
@media screen and (max-width:820px){
	.icon ul li{position: inherit;}
	.search-content{left: 0px;top:-56px;width: 100%;}
}

/** edm **/
.edm-main{height: calc(100vh - 0px);position: relative;overflow: hidden;margin: -118px 0 0 0;}
.edm{overflow: hidden;}
.edm img{width: 100%;}
.edm-font{position: absolute;bottom:18vh;left: 4%;padding:20px;}
.edm-font .edm-font-ch{font-family:var(--font-edm);color:var(--auxiliary-white-color);font-size: 36px;letter-spacing: 10px;line-height: 1.6;text-align: right;text-shadow: 1px 1px 5px rgba(0,0,0,.3);}
.edm-font .edm-font-en{font-family:var(--font-en);color:var(--secondary-color);font-size: 50px;font-weight: bold;letter-spacing: 5px;font-style: italic;text-transform: uppercase;text-shadow: 1px 1px 5px rgba(0,0,0,.3);line-height: 1.2;}
.edm-font .edm-font-en:after{content: "";display: block;width: 100%;height:32px;background-color: rgba(228,179,123,.3);margin: -46px 0 20px 0;}
.edm-font .edm-font-en:first-letter{font-size: 110px;}
@media screen and (max-width:1000px){
	.edm-main{display: flex;flex-wrap: wrap; align-content: center;justify-content: center;}
	.edm-font .edm-font-ch{font-size: 30px;letter-spacing: 5px;width: 100%;}
	.edm-font .edm-font-en{font-size: 40px;letter-spacing: 2px;width: 100%;}
	.edm-font .edm-font-en:after{height:22px;margin: -34px 0 20px 0;}
	.edm-font .edm-font-en:first-letter{font-size:80px;}
}
@media screen and (max-width:820px){
	.edm-main{height:calc(100vh - 92px);margin: 0 0 0 0;}
	.edm-font{position: inherit;bottom: inherit;left:inherit;}
	.edm-font .edm-font-ch{text-align: left;}
}
@media screen and (max-width:575px){
	.edm-font .edm-font-ch{font-size: 26px;letter-spacing: 2px;width: 100%;}
	.edm-font .edm-font-en{font-size: 32px;letter-spacing: 2px;width: 100%;}
	.edm-font .edm-font-en:after{height:16px;margin: -22px 0 20px 0;}
	.edm-font .edm-font-en:first-letter{font-size:60px;}
}

/** 內容 **/
section{}
.main{background-color: var(--auxiliary-white-color);position: relative;}
.main-bg{position: absolute;bottom:-232px;left: -41px;max-width: 287px;z-index: 1;}
.main-bg img{width: 100%;}
@media screen and (max-width:1500px){
	.main-bg{left: -110px;}
}
@media screen and (max-width:1300px){
	.main-bg{bottom:-142px;left: -120px;max-width: 250px;}
}
@media screen and (max-width:1200px){
	.main-bg{display: none;}
}

/** 首頁標題 **/
.i-title-ch{font-size: 36px;color: var(--main-color);font-family: var(--font);letter-spacing: 8px;position: relative;}
.i-title-en{font-size: 18px;color: var(--secondary-color);font-family: var(--font-en);letter-spacing: 2px;position: relative;}
.i-more{color: var(--secondary-color);font-family: var(--font-en);font-size: 14px;position: absolute;bottom:18px;right: 0;}
.i-more:before{content: "";display: block;width: 48px; height: 2px;background-color:var(--secondary-color);position: absolute;left:-55px;top:calc(50% - 1px); }
.i-more a{display: block; color: var(--secondary-color);position: relative;}
.i-more a:before{content: "";display: block;width: 0; height: 2px;background-color:var(--main-color);position: absolute;left:-55px;top:calc(50% - 1px); transition: all 1s ease 0s;}
.i-more a:hover{color: var(--main-color);position: relative;}
.i-more a:hover:before{content: "";display: block;width: 48px; height: 2px;background-color:var(--main-color);position: absolute;left:-55px;top:calc(50% - 1px);transition: all 1s ease 0s;}
@media screen and (max-width:767px){
	.i-title-ch{letter-spacing:6px;}
}
@media screen and (max-width:575px){
	.i-title-ch{font-size: 30px;letter-spacing:4px;}
	.i-title-en{font-size: 16px;}
	.i-more{bottom:12px;}
	.i-more:before{width: 30px;left:-38px;}
	.i-more a:before{left:-38px;}
	.i-more a:hover:before{width: 30px;left:-38px;}
}
/** 首頁關於我們 **/
.i-about-main{padding:5% 15px;position: relative;z-index: 1;}
.i-about-bg{position: absolute;top:11%;right: 0;max-width: 274px;z-index:1;}
.i-about-bg img{width: 100%;}
.i-about{max-width: 1200px;margin: 0 auto;}
.i-about-information{}
.i-about-information h2{position: relative;margin:0 0 25px 0;}
.i-about-information .i-about-content{line-height: 1.8;font-size: 16px; color: var(--auxiliary-dark-gray-color);max-height: 252px;overflow: hidden;}
.i-about-photo{position: relative;margin: 0 10px 0 40px;}
.i-about-photo img{width: 100%;position: relative;z-index: 1;}
.i-about-photo:after{content: "";display: block;width: 100%;height: 100%;background-color:var(--background-color);border: 1px solid var(--main-color);position: absolute;top: 10px;left: 10px;}
@media screen and (max-width:1500px){
	.i-about-bg{position: absolute;top:22%;right: 0;max-width: 230px;z-index:1;}
}
@media screen and (max-width:1300px){
	.i-about-bg{position: absolute;top:25%;right: 0;max-width: 200px;z-index:1;}
}
@media screen and (max-width:1200px){
	.i-about{align-items: center;}
	.i-about-bg{display: none;}
}
@media screen and (max-width:991px){
	.i-about-photo{margin: 0 10px 0 20px;}
}
@media screen and (max-width:767px){
	.i-about-information h2{margin:0 0 15px 0;}
	.i-about-photo{margin: 20px 10px 0 0px;}
}

/** 熱門商品 **/
.i-pro-main{padding: 4% 15px;position: relative;}
.i-pro-main:before{content: "";display: block;width: 200%;height: 100%; transform:rotate(-15deg);background-color:var(--secondary-color);position: absolute;top:0px;left:-50%;}
.i-pro{max-width: 1200px;margin: 0 auto;}
.i-pro h2{margin:5px 0 45px 0;padding: 0;text-align: center;}
.i-pro h2 .i-title-ch{position: relative;display: table;margin: 0 auto;}
.i-pro h2 .i-title-ch:before{content: "";display:block;width: 98px; height: 2px; background-color: var(--main-color);position: absolute;top: calc(50% - 1px);left:-115px;}
.i-pro h2 .i-title-ch:after{content: "";display:block;width: 98px; height: 2px; background-color: var(--main-color);position: absolute;top: calc(50% - 1px);right:-107px;}
.i-pro h2 .i-title-en{color: var(--auxiliary-white-color);}
.i-pro .item h4{padding: 0;margin: 0 15px;position: relative;}
.i-pro .item h4 a{display: flex;}
.i-pro .item h4 .i-pro-information{background-color: rgba(0,0,0,0);position: absolute;top:10px;left:10px;width:calc(100% - 20px); height:calc(100% - 20px);padding: 30px; display: flex;flex-wrap: wrap;align-items: center;justify-content: center;transition: all 1s ease 0s;overflow: hidden;}
.i-pro .item h4 .i-pro-information:before{content: "";display: block;width: 30px; height: 30px;position: absolute;top: 0px;left:0px; border-top:1px solid var(--auxiliary-white-color);border-left:1px solid var(--auxiliary-white-color);transition: all 1s ease 0s;}
.i-pro .item h4 .i-pro-information:after{content: "";display: block;width: 30px; height: 30px;position: absolute;bottom: 0px;right:0px; border-bottom:1px solid var(--auxiliary-white-color);border-right:1px solid var(--auxiliary-white-color);transition: all 1s ease 0s;}
.i-pro .item h4 .i-pro-information h3{font-size: 20px; color:var(--auxiliary-white-color);font-weight: bold;width: 100%;text-align: center;letter-spacing: 5px; text-shadow: 1px 1px 2px rgba(0,0,0,.8);padding: 0;margin: 5px 0;}
.i-pro .item h4 .i-pro-information h3:first-letter{font-size: 30px;}
.i-pro .item h4 .i-pro-information .i-pro-content{opacity: 0;position:absolute;bottom: -200px; font-size: 16px;color: var(--auxiliary-white-color);width: 100%;max-height:150px;overflow: hidden; transition: all 1s ease 0s;max-width: 283.33px;}
.pro-photo{background-position: center center;background-repeat: no-repeat;background-size: contain;margin: 5px 0;position: relative;}
.pro-photo img{width: 100%;}
.i-pro .item h4:hover .i-pro-information{background-color: rgba(0,0,0,.7);transition: all 1s ease 0s;display: flex;align-content: center;}
.i-pro .item h4:hover .i-pro-information:before{content: "";display: block;width: 100%; height: 100%;position: absolute;top: 0px;left:0px; border-top:1px solid var(--auxiliary-white-color);border-left:1px solid var(--auxiliary-white-color);transition: all 1s ease 0s;}
.i-pro .item h4:hover .i-pro-information:after{content: "";display: block;width:100%; height:100%;position: absolute;bottom: 0px;right:0px; border-bottom:1px solid var(--auxiliary-white-color);border-right:1px solid var(--auxiliary-white-color);transition: all 1s ease 0s;}
.i-pro .item h4:hover .i-pro-information h3{text-align: left;font-size: 18px;line-height: 1.4;}
.i-pro .item h4:hover .i-pro-information h3:first-letter{font-size:24px;}
.i-pro .item h4:hover .i-pro-information .i-pro-content{display:block;transition: all 1s ease 0s;opacity: 1; position: relative;bottom: 0%;}
@media screen and (max-width:1000px){
	.i-pro .item h4{margin:0 5px;}
	.i-pro .item h4 .i-pro-information{padding: 10px;}
	.i-pro .item h4:hover .i-pro-information{display: flex;align-content: flex-start;}
	.i-pro .item h4 .i-pro-information .i-pro-content{max-width:211px;}
}
@media screen and (max-width:700px){
	.i-pro .item h4 .i-pro-information .i-pro-content{max-width:271.5px;}
}
@media screen and (max-width:575px){
	.i-pro h2 .i-title-ch:before{width: 60px; left:-77px;}
	.i-pro h2 .i-title-ch:after{width: 60px; right:-73px;}
	.i-pro .item h4{margin:0;}
	.i-pro .item h4 .i-pro-information{top:5px;left:5px;width:calc(100% - 10px); height:calc(100% - 10px);}
	.i-pro .item h4 .i-pro-information h3{font-size: 18px;}
	.i-pro .item h4 .i-pro-information h3:first-letter{font-size:24px;}
}
@media screen and (max-width:370px){
	.i-pro .item h4 .i-pro-information{top:10px;left:10px;width:calc(100% - 20px); height:calc(100% - 20px);}
}

/** 最新消息 **/
.i-news-main{padding: 5% 15px 0 15px;}
.i-news{max-width: 1200px;margin: 0 auto}
.i-news h2{margin:5px 0 40px 0;padding: 0;text-align: center;}
.i-news h2 .i-title-ch{position: relative;display: table;margin: 0 auto;}
.i-news h2 .i-title-ch:before{content: "";display:block;width: 98px; height: 2px; background-color: var(--main-color);position: absolute;top: calc(50% - 1px);left:-115px;}
.i-news h2 .i-title-ch:after{content: "";display:block;width: 98px; height: 2px; background-color: var(--main-color);position: absolute;top: calc(50% - 1px);right:-107px;}
.i-news ul{list-style: none;padding: 0 0 4% 0;margin: 0;display: flex;flex-wrap: wrap;}
.i-news ul li{padding: 0;margin: 0;width: 33.3333%;}
.i-news ul li .i-news-date{display: flex;width: 120px;font-family: var(--font-en);line-height: 1.2;align-content: center;justify-content: center;}
.i-news ul li .i-news-date .i-day{flex: 1;font-size: 60px;color: var(--main-color);border-right: 1px solid var(--main-color);text-align: center;display: flex;align-items: center;justify-content: center;padding:5px;}
.i-news ul li .i-news-date .i-year{width: 20px;font-size: 12px; color: var(--secondary-color);display: flex;align-items: center;justify-content: center;text-transform: uppercase; writing-mode:tb-lr; -ms-writing-mode:tb-lr; -webkit-writing-mode:vertical-lr; -moz-writing-mode:vertical-lr; -ms-writing-mode:vertical-lr; writing-mode:vertical-lr;}
.i-news ul li h3{padding:3.5px 0 3.5px 15px;margin: 0;flex: 1;font-size: 16px;color: var(--auxiliary-dark-gray-color);height:82px;overflow: hidden;}
.i-news ul li a{display:flex;padding: 20px;}
.i-news ul li a:hover{background-color: var(--background-color);}
.i-news-more{font-family: var(--font-en);font-size: 14px;display: table;margin:10px auto 0 auto;}
.i-news-more a{display: block; font-size: 14px;color:var(--auxiliary-white-color);background-color: var(--secondary-color);padding: 4px 15px; }
.i-news-more a:hover{background-color: var(--main-color);}
@media screen and (max-width:1200px){
	.i-news ul li .i-news-date{width: 90px;}
	.i-news ul li .i-news-date .i-day{font-size: 46px;}
	.i-news ul li a{padding: 20px 10px;}
}
@media screen and (max-width:900px){
	.i-news ul li{width:100%;}
	.i-news ul li h3{height:auto;min-height: 82px;}
	.i-news ul li a{padding: 10px 0;}
}
@media screen and (max-width:575px){
	.i-news ul li .i-news-date{width: 80px;}
	.i-news ul li .i-news-date .i-day{font-size: 40px;}
	.i-news h2 .i-title-ch:before{width: 60px; left:-77px;}
	.i-news h2 .i-title-ch:after{width: 60px; right:-73px;}
}

/** 內頁標題 **/
.beauty-photo{background-repeat: no-repeat;background-position: left center;background-size:cover;background-attachment: fixed;position: relative; }
.banner-title{width:85px;height:100vh; z-index: 1;writing-mode:tb-lr; -ms-writing-mode:tb-lr; -webkit-writing-mode:vertical-lr; -moz-writing-mode:vertical-lr; -ms-writing-mode:vertical-lr; writing-mode:vertical-lr;text-align: center;line-height: 1.2;padding: 0 15px;position: fixed;}
.banner-title .banner-title-ch{font-size: 30px;color:  var(--main-color);letter-spacing: 8px;}
.banner-title .banner-title-en{font-family: var(--font-en);font-size: 16px;color: var(--secondary-color);position: relative;letter-spacing:2px;}
.banner-title .banner-title-en:before{content: "";display: block;width: 1px; height:40%;background-color: var(--secondary-color);position: absolute;top: 0;right:10px;}
.banner-title .banner-title-en:after{content: "";display: block;width: 1px; height:40%;background-color: var(--secondary-color);position: absolute;bottom: 0;right:10px;}
@media screen and (max-width:767px){
	.beauty-photo{background-image: none!important;}
	.banner-title{width:100%; writing-mode:lr-tb; -ms-writing-mode:lr-tb; -webkit-writing-mode:lr-tb; -moz-writing-mode:lr-tb; -ms-writing-mode:vertical-lr; writing-mode:lr-tb;text-align: center;line-height: 1.2;padding:15px 15px 0 15px;position: inherit;height: auto;}
	.banner-title .banner-title-en:before{content: "";display: block;width: 40%; height:1px;background-color: var(--secondary-color);position: absolute;top: 8px;right:inherit;left: 0;}
	.banner-title .banner-title-en:after{content: "";display: block;width: 40%; height:1px;background-color: var(--secondary-color);position: absolute;top:8px;right:0;}
}
@media screen and (max-width:575px){
	.banner-title .banner-title-ch{font-size: 28px;}
	.banner-title .banner-title-en:before{content: "";display: block;width: 26%; height:1px;background-color: var(--secondary-color);position: absolute;top: 10px;right:inherit;left: 0;}
	.banner-title .banner-title-en:after{content: "";display: block;width: 26%; height:1px;background-color: var(--secondary-color);position: absolute;top:10px;right:0;}
}

/** 內頁內容 **/
.content-page-main{box-shadow:1px 0 15px 0 rgba(0,0,0,.4);}
.content-page{ margin: -118px 0 0 0;min-height:calc(100vh - 112px);}
.page-title{font-size:20px; color:var(--auxiliary-white-color); padding:3px 15px; margin:0 0 15px 0;background-color:var(--main-color); }
.page-title02{margin:10px 0;padding: 0 0 0 22px;font-size: 18px; color:var(--main-color);position: relative; }
.page-title02:before{content: "";display: block;width: 10px; height: 10px;background-color:var(--main-color); border-radius: 10px;border: 2px solid var(--auxiliary-white-color);box-shadow: 0 0 0 1px var(--main-color);position: absolute;top:9px;left: 1px;}
.page-main{ font-size: 16px; color: var(--auxiliary-dark-gray-color);background-color:var(--auxiliary-white-color);padding:40px 40px 40px 110px;width: 100%;}
@media screen and (max-width:1200px){
	.page-main{padding:20px 20px 20px 95px;}
}
@media screen and (max-width:1000px){
	.page-main{padding:15px 15px 15px 90px;}
}
@media screen and (max-width:820px){
	.content-page{ margin:0 0 0 0;}
}
@media screen and (max-width:767px){
	.content-page-main{box-shadow:0 0 0 0 rgba(0,0,0,0);}
	.content-page{ margin: 0;min-height:inherit;}
	.page-main{padding:15px;}
	.page-title{font-size:18px;}
}

/** 分類 **/
.in-left-menu{margin:0 0 0 50%;width:50%; background:var(--background-color);max-height: calc(100vh - 236px);overflow-y: auto;position:sticky;top: 118px;left: 0;box-shadow: 0 0 15px 0 rgba(0,0,0,.4);}
.in-left-menu ul{margin:0; padding:0; list-style:none;}
.in-left-menu ul li{ font-size:16px; color:var(--auxiliary-dark-gray-color); padding:0;margin: 0;border-bottom: 1px solid var(--main-color);}
.in-left-menu ul li:last-of-type{border-bottom:0;}
.in-left-menu ul li a{background-color:var(--background-color); color:var(--auxiliary-dark-gray-color); display:block; padding:10px 10px;}
.in-left-menu ul li a:hover{background-color: var(--main-color);color:var(--auxiliary-white-color);}
.in-left-menu ul li .current{background-color: var(--main-color);color:var(--auxiliary-white-color);}
.in-left-menu ul li ul{display: none; margin:0; padding:0; list-style:none;border-top: 1px solid var(--main-color);background-color:var(--auxiliary-white-color);}
.in-left-menu ul li ul li{margin: 0 ;padding:0;font-size:15px;border-bottom:0;}
.in-left-menu ul li ul li a{font-size:15px;background-color:transparent;color:var(--auxiliary-dark-gray-color); display:block;position: relative;padding: 10px 10px 10px 30px;}
.in-left-menu ul li ul li a:before{content: "";display: block;width: 14px ;height: 1px;background-color:var(--main-color);position: absolute;top:22px;left: 0;transition: all .5s ease 0s;}
.in-left-menu ul li ul li a:hover{background-color:var(--secondary-color); }
.in-left-menu ul li ul li a:hover:before{content: "";display: block;width: 20px ;height: 1px;background-color:var(--auxiliary-white-color);position: absolute;top:22px;left: 0;transition: all .5s ease 0s;}
.m_classLink{display:none;}
@media screen and (max-width:1000px){
	.in-left-menu{margin:0 0 0 10%;width:90%;}
}
@media screen and (max-width:767px){
	.classBox{padding:0;}
	ul.classLink{display:none;}
	.m_classLink{display:block; position:relative; background-color:var(--auxiliary-white-color); border:1px solid var(--secondary-color);}
	.m_classLink a.main{display:block; background:none; font-size:15px; font-family:"Microsoft JhengHei", "新細明體", sans-serif; color:#333; position:relative; padding:8px;}
	.m_classLink a.main i{display:block; font-size:15px; background-color:var(--secondary-color); width:45px; height:100%; text-align:center; color:#FFF; line-height:40px; position:absolute; right:0; top:0;}
	.m_classLink ul{display:none; margin:0; padding:0; list-style:none; width:100%; background:#FFF; border:1px solid var(--main-color); position:absolute; left:0; top:100%; z-index:99; box-sizing:border-box;}
	.m_classLink ul li{margin:0; padding:0;border-bottom:0;}
	.m_classLink ul li a{display:block; padding:10px; border-top:1px solid var(--main-color); font-family:"Microsoft JhengHei", "新細明體", sans-serif; font-size:15px; color:#222;}
	.m_classLink ul li:first-child a{border:none;}
	.m_classLink ul li a:hover{background-color:var(--main-color); }
	.m_classLink ul li ul{display:block; margin:0 ; padding:0; list-style:none; width:100%; background:#FFF; border:0; position:inherit; left:inherit; top:inherit; z-index:999; box-sizing:border-box;}
	.m_classLink ul li ul li a{padding:10px 10px 10px 30px; }
	.m_classLink ul li ul li a:hover{background-color:var(--secondary-color); }
	.in-left-menu{margin:15px 15px 5px 15px;width:calc(100% - 30px);max-height:inherit;overflow-y:inherit;position:inherit;max-width:inherit;top: inherit;right:inherit;box-shadow: 0 0 0 0 rgba(0,0,0,0); }
}

/** 關於我們 **/
.history{margin:30px 0 0 0;}
.history ul{list-style: none;padding: 0;margin: 0;}
.history ul li{padding: 0;margin:8px calc(50% - 65px) 8px 0;display: flex;flex-direction: row-reverse;}
.history ul li:nth-child(even){margin: 8px 0 8px calc(50% - 65px);display: flex;flex-direction: row;}
.history ul li .history-date{width: 130px;text-align: center; font-size: 20px;color: var(--auxiliary-white-color);background-color: var(--secondary-color);padding: 0px 15px;}
.history ul li .history-date br{display: none;}
.history ul li .history-date:after{content: "";display: block;width: 1px;height: 100%;margin: 0 auto;background-color: var(--secondary-color);}
.history ul li:last-of-type .history-date:after{content: "";display:none;}
.history ul li .history-date span{font-size: 12px;}
.history ul li .history-content{flex: 1; font-size: 16px;color: var(--auxiliary-dark-gray-color);padding: 3.5px 10px;text-align: right;}
.history ul li:nth-child(even) .history-content{text-align:left;}
@media screen and (max-width:1200px){
	.history ul li .history-date br{display: block;}
	.history ul li .history-date{width: 80px;padding: 0px 10px;}
	.history ul li{margin:8px calc(50% - 40px) 8px 0;}
	.history ul li:nth-child(even){margin: 8px 0 8px calc(50% - 40px);}
}
@media screen and (max-width:1000px){
	.history ul li{margin:8px 0;display: flex;flex-direction: row;}
	.history ul li:nth-child(even){margin: 8px 0 ;}
	.history ul li .history-content{text-align: left;}
}
@media screen and (max-width:575px){
	.history ul li .history-date{width: 75px;font-size:18px;padding: 3px 6px;}
	.history ul li .history-content{padding: 4.5px 10px;}
}

/** 最新消息 **/
.news{}
.news ul{margin:0; padding:0; list-style:none;}
.news ul li{display: block;}
.news ul li a{color:var(--auxiliary-dark-gray-color); display:flex; align-items:center; padding:10px;background-color: var(--auxiliary-white-color);}
.news ul li:nth-child(even) a{background-color: var(--background-color);}
.news ul li:hover .news-date{background-color: var(--main-color);color: var(--auxiliary-white-color); }
.news ul li .news-date{width:80px; color: var(--main-color); font-size:16px; text-align:center;line-height: 1.2;padding: 15px 0; }
.news ul li .news-date .news-day{font-size: 30px;font-weight: bold;}
.news ul li .news-date .news-year{font-size: 12px; text-transform: uppercase;color: var(--secondary-color);}
.news ul li .news-content{flex:1; font-size:16px; color:var(--auxiliary-dark-gray-color);padding: 0 15px;}
.news-detail-date{width:100%; color: var(--main-color); font-size:16px;padding: 0;display: flex;align-items: flex-end;line-height: 1;margin: 0 0 15px 0; }
.news-detail-date .news-detail-day{font-size: 30px;font-weight: bold;width: 50px;text-align: center;}
.news-detail-date .news-detail-year{font-size: 12px; text-transform: uppercase;color: var(--secondary-color);flex: 1;padding: 4px 0 4px 10px;}
@media screen and (max-width:1000px){
	.news ul li .news-date{width:65px;padding:7.5px 0; }
	.news ul li .news-content{padding: 0 10px;}
}

/** 產品搜尋 **/
.product-search{font-size:18px; color:var(--secondary-color);border-bottom:1px var(--auxiliary-dark-gray-color) dashed; margin-bottom:20px; text-align:center; padding:0 0 15px 0;}

/** 產品介紹 **/
.pro{}
.pro ul{margin:0 ; padding:0; list-style:none; display:flex; flex-wrap:wrap;}
.pro ul li{width:calc(33.3333% - 4%); margin:2%; padding:0px; text-align:center;}
.pro ul li a{display: block;}
.pro ul li:hover{position: relative;}
.pro ul li h4{font-size:16px; color:var(--auxiliary-dark-gray-color);font-weight:normal; padding: 0; margin:20px 0;}
.pro ul li .pro-photo{position: relative;}
.pro ul li .pro-photo:before{content: "";display: block;width: 20px; height: 20px;border-top:1px solid var(--main-color);border-left:1px solid var(--main-color);position: absolute;top:-10px;left:-10px;transition: all .5s ease 0s;}
.pro ul li .pro-photo:after{content: "";display: block;width: 20px; height: 20px;border-bottom:1px solid var(--main-color);border-right:1px solid var(--main-color);position: absolute;bottom:-10px;right:-10px;transition: all .5s ease 0s;}
.pro ul li:hover .pro-photo:before{content: "";display: block;width:calc(100% + 20px); height:calc(100% + 20px);border-top:1px solid var(--secondary-color);border-left:1px solid var(--secondary-color);position: absolute;top:-10px;left:-10px;transition: all .5s ease 0s;background: rgba(255,255,255,.15);}
.pro ul li:hover .pro-photo:after{content: "";display: block;width:calc(100% + 20px); height:calc(100% + 20px);border-bottom:1px solid var(--secondary-color);border-right:1px solid var(--secondary-color);position: absolute;bottom:-10px;right:-10px;transition: all .5s ease 0s;background: rgba(255,255,255,.15);}
@media screen and (max-width:1200px){
	.pro ul li{width:calc(50% - 8%);margin:4%;}
}
@media screen and (max-width:575px){
	.pro ul li .pro-photo:before{top:-5px;left:-5px;}
	.pro ul li .pro-photo:after{bottom:-5px;right:-5px;}
	.pro ul li:hover .pro-photo:before{width:calc(100% + 10px); height:calc(100% + 10px);top:-5px;left:-5px;}
	.pro ul li:hover .pro-photo:after{width:calc(100% + 10px); height:calc(100% + 10px);bottom:-5px;right:-5px;}
	.pro ul li h4{margin:10px 0;}
}

/** 產品明細 **/
.pro-detail{margin: 0 0 15px 0;}
.pro-image{padding: 0;}
.pro-introduction{padding:0 0 0 15px;color:var(--auxiliary-dark-gray-color);}
.pro-description{font-size: 16px;color:var(--auxiliary-dark-gray-color);}
@media screen and (max-width:991px){
	.pro-detail{margin: 0 0 0 0;}
	.pro-introduction{padding:15px 0 0 0;}
}
@media screen and (max-width:767px){
	.pro-image{max-width: 500px; margin: 0 auto;}
}

/** 常見問題 **/
.accordion{position: relative;}
.accordion dl,.accordion-list {padding: 0;margin: 0;}
.accordion dd,.accordion__panel {font-size:16px;color:var(--auxiliary-dark-gray-color);padding: 0;margin: 0;}
.faq-content {padding: 15px 15px 15px 50px;position: relative;}
.faq-content:before {content: "A. ";display: block;font-family: var(--font-en);color: var(--secondary-color);font-size: 34px;font-weight: bold;position: absolute;top: 0;left: 14px;}
.accordionTitle,.accordion__Heading {position: relative;padding:15px 35px 15px 50px;display: block;text-decoration: none;color:var(--auxiliary-light-gray-color);-webkit-transition: background-color 0.8s ease-in-out;transition: background-color 0.8s ease-in-out;margin:5px 0;box-shadow: 3px 3px 0 0 rgba(0,0,0,.2); background-color: var(--background-color);}
.accordionTitle:before {content: "Q. ";display: block;font-family: var(--font-en);color: var(--main-color);font-size: 34px;font-weight: bold;position: absolute;top: 0;left: 10px;}
.accordionTitle:after,.accordion__Heading:after {content: "+"; font-size:24px;position: absolute;right: 10px;top: 7px;-webkit-transition: -webkit-transform 0.3s ease-in-out;transition: -webkit-transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;color: var(--main-color);}
.accordionTitle:hover,.accordion__Heading:hover {background-color:var(--secondary-color);color: var(--auxiliary-white-color);}
.accordionTitleActive,.accordionTitle.is-expanded {background-color:var(--secondary-color);color: var(--auxiliary-white-color);}
.accordionTitleActive:after,.accordionTitle.is-expanded:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.accordionItem {height: auto;overflow: hidden;max-height: 50em;-webkit-transition: max-height 1s;transition: max-height 1s;}
@media screen and (min-width: 48em) {
	.accordionItem {-webkit-transition: max-height 0.5s;transition: max-height 0.5s;}
}
.accordionItem.is-collapsed {max-height: 0;}
.no-js .accordionItem.is-collapsed { max-height: auto;}
.animateIn {-webkit-animation: accordionIn 0.45s normal ease-in-out both 1;animation: accordionIn 0.45s normal ease-in-out both 1;}
.animateOut {-webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;animation: accordionOut 0.45s alternate ease-in-out both 1;}
@-webkit-keyframes accordionIn {
	0% {opacity: 0;-webkit-transform: scale(0.9) rotateX(-60deg);transform: scale(0.9) rotateX(-60deg);-webkit-transform-origin: 50% 0;transform-origin: 50% 0;}
	100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes accordionIn {
	0% {opacity: 0;-webkit-transform: scale(0.9) rotateX(-60deg);transform: scale(0.9) rotateX(-60deg);-webkit-transform-origin: 50% 0;transform-origin: 50% 0;}
	100% { opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes accordionOut {
	0% {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
	100% {opacity: 0;-webkit-transform: scale(0.9) rotateX(-60deg);transform: scale(0.9) rotateX(-60deg);}
}
@keyframes accordionOut {
	0% {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
	100% {opacity: 0;-webkit-transform: scale(0.9) rotateX(-60deg);transform: scale(0.9) rotateX(-60deg);}
}

/** 聯絡我們 **/
.map {position: relative;padding-bottom:100%;padding-top: 30px;height:calc(100% + 105px);overflow: hidden;margin: -105px 0 0 0;}
.map iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
.contact{}
.contact ul{list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;}
.contact ul li{margin:10px 0;padding: 0;width: 50%;display: flex;}
.contact ul li .contact-icon{width: 65px;text-align: center;padding: 13px 15px;background: var(--main-color);display: flex;align-items: center;justify-content: center;}
.contact ul li .contact-icon img{width:100%;}
.contact ul li .contact-title{font-weight: bold;font-size: 17px;  color:var(--main-color);}
.contact ul li .contact-content{flex: 1;padding: 6.5px 15px;font-size: 16px; color:var(--auxiliary-dark-gray-color);background: var(--background-color);}
@media screen and (max-width:1200px){
	.contact ul li{width: 100%;}
}
@media screen and (max-width:767px){
	.map {padding-bottom:70%;height:0;margin:0 0 20px 0;}
}
@media screen and (max-width:575px){
	.contact ul li .contact-icon{width:60px;}
}

/** 表單 **/
.contact-form{margin: 5% 0 0 0;}
.form-control{border-radius: 0;line-height: 1.6;}
.form-control:focus{border-color:#e4b37b;box-shadow:0 0 0 0.2rem rgba(228,179,123,.5)}
.single-choice{padding: 6.5px 5px;}
.custom-radio .custom-control-input:checked~.custom-control-label::before{background-color:var(--secondary-color);}
.custom-control-input:focus~.custom-control-label::before{box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(228,179,123,.5);}

/** 按鈕 **/
.button{display: flex;justify-content: flex-end;margin: 20px 0 ;}
button.but-reset{font-size: 16px; color:var(--auxiliary-white-color);border: 0;border-radius: 0;width: 100px;height: 30px; background-color:var(--auxiliary-dark-gray-color);display: flex;align-items: center;justify-content: center;z-index: 1;position: relative;margin: 0 0 0 10px;}
button.but-reset:before{content: "";width: 100px;height: 40px;border-bottom: 1px solid var(--auxiliary-dark-gray-color);border-top: 1px solid var(--auxiliary-dark-gray-color);position: absolute;top: -5px;left: 0;}
button.but-reset:after{content: "";display: block;width:0px;height: 30px;position: absolute;left: 0;top: 0;transition: all 1s ease 0s;z-index: -1; background-color:var(--auxiliary-dark-gray-color);}
button.but-reset:hover{position: relative;z-index: 1;}
button.but-submit:hover:before{border-bottom: 1px solid var(--auxiliary-light-gray-color);border-top: 1px solid var(--auxiliary-light-gray-color)}
button.but-reset:hover:after{content: "";display: block;width: 100px;height: 30px; background-color:var(--auxiliary-light-gray-color);position: absolute;left: 0;top: 0;transition: all 1s ease 0s;z-index: -1;}
button.but-submit{font-size: 16px; color:var(--main-color);border: 0;border-radius: 0;width: 100px;height: 30px; background-color:var(--secondary-color);display: flex;align-items: center;justify-content: center;z-index: 1;position: relative;margin: 0 0 0 10px;}
button.but-submit:before{content: "";width: 100px;height: 40px;border-bottom: 1px solid var(--secondary-color);border-top: 1px solid var(--secondary-color);position: absolute;top: -5px;left: 0;}
button.but-submit:after{content: "";display: block;width:0px;height: 30px;position: absolute;left: 0;top: 0;transition: all 1s ease 0s;z-index: -1; background-color:var(--secondary-color);}
button.but-submit:hover{position: relative;z-index: 1; color:var(--auxiliary-white-color);}
button.but-submit:hover:before{border-bottom: 1px solid var(--main-color);border-top: 1px solid var(--main-color)}
button.but-submit:hover:after{content: "";display: block;width: 100px;height: 30px; background-color:var(--main-color);position: absolute;left: 0;top: 0;transition: all 1s ease 0s;z-index: -1;}
@media screen and (max-width:575px){
	button.but-reset{width:calc(100% - 10px);margin: 0 5px;padding: 5px 0;height: 35px;}
	button.but-reset:before{width:100%;height: 45px;}
	button.but-reset:after{height: 35px;}
	button.but-reset:hover:after{width:100%;height: 35px;}
	button.but-submit{width:calc(100% - 10px);margin: 0 5px;padding: 5px 0;height: 35px;}
	button.but-submit:before{width:100%;height: 45px;}
	button.but-submit:after{height: 35px;}
	button.but-submit:hover:after{width:100%;height: 35px;}
}

/** 頁次 **/
.page{font-size:14px;line-height: 2.4; color:var(--auxiliary-dark-gray-color); text-align:center; clear:both; margin:20px 0;width: 100%;}
.page a{ color:var(--auxiliary-white-color);padding:3px 15px;margin: 0 5px; background-color: var(--secondary-color);}
.page a:hover{background-color: var(--main-color);}
.page br{display:none;}
.page select{border: 1px solid var(--auxiliary-dark-gray-color);}
@media screen and (max-width:1200px){
	.page br{display:block;}
}

/** 下版 **/
footer{border-top:1px var(--main-color) solid;background-color: var(--background-color);padding: 25px 15px;position: relative;z-index: 1;}
.footer{max-width: 1200px;margin: 0 auto;display: flex;align-items: center;}
.footer .f-logo{width: 275px;height: auto;}
.footer .f-logo img{width: 100%;}
.footer .f-information{flex: 1;font-size: 14px; color: var(--auxiliary-dark-gray-color);margin: 0 0 0 40px;position: relative;padding: 0 125px 0 0;}
.footer .f-information span{}
.footer .f-information span:after{content: " / ";}
.footer .f-information span:last-of-type:after{content: "";}
.copyright{font-size: 12px; color: var(--auxiliary-light-gray-color);}
.wd{color: var(--auxiliary-light-gray-color);padding: 0 15px;}
.wd a{color: var(--auxiliary-light-gray-color);}
.wd a:hover{color: var(--secondary-color);}
@media screen and (max-width:1150px){
	.footer .f-information{margin: 0 0 0 25px;}
}
@media screen and (max-width:1130px){
	.footer{display: block;}
	.footer .f-logo{width: 220px;margin: 0 auto 10px auto;}
	.footer .f-information{margin: 0;text-align: center;padding: 0;}
	.f-contact{position: inherit;top: inherit;right: inherit;margin:20px auto 0 auto;width: 100px;}
}
@media screen and (max-width:820px){
	footer{margin: 0 0 38px 0;}	
}
@media screen and (max-width:767px){
	.footer .f-information span{display: block;}
	.footer .f-information span:after{content: "";}
	.copyright{margin: 5px 0 0 0;}
	.copyright span.wd{display: inline-block;}
}
@media screen and (max-width:575px){
	.copyright span.wd{display:block;padding: 0;}
}

/** top **/
#scrollUp {bottom: 20px;right: 20px;background-color:var(--main-color);background-image: url(../images/top.png);background-position:center top 10px;background-repeat:no-repeat ;color: var(--auxiliary-white-color);display:flex;align-items: center;justify-content: center; width: 50px; height: 50px;font-size: 12px;font-family:var(--font-en);text-decoration: none;opacity: 1;padding:24px 10px 10px 10px;border-radius: 100px;-webkit-transition: background 200ms linear;-moz-transition: background 200ms linear;-o-transition: background 200ms linear;
transition: background 200ms linear;-webkit-backface-visibility: hidden;}
#scrollUp:hover {}

@keyframes top
{
0% {box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
100%{box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
}
@-moz-keyframes top /* Firefox */
{
0% {box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
100%{box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
}
@-webkit-keyframes top /* Safari 和 Chrome */
{
0% {box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
100%{box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
}
@-o-keyframes top /* Opera */
{
0% {box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
100%{box-shadow: 0 0 0 20px rgba(67,50,30,.2);}
}
#scrollUp {
animation: top 2s infinite;
-moz-animation: top 2s infinite;	/* Firefox */
-webkit-animation: top 2s infinite;	/* Safari 和 Chrome */
-o-animation: top 2s infinite;	/* Opera */
}
@media screen and (max-width:767px){
	#scrollUp {bottom:86px;right: 10px;width: 36px; height: 36px;background-size:12px; padding:17px 5px 5px 5px;background-position:center top 6px;}
	@keyframes top
	{
	0% {box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
	100%{box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	}
	@-moz-keyframes top /* Firefox */
	{
	0% {box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
	100%{box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	}
	@-webkit-keyframes top /* Safari 和 Chrome */
	{
	0% {box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
	100%{box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	}
	@-o-keyframes top /* Opera */
	{
	0% {box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	50% {box-shadow: 0 0 0 0px rgba(67,50,30,0);}
	100%{box-shadow: 0 0 0 10px rgba(67,50,30,.2);}
	}
	}