@charset "utf-8";


/** 語系 **/
.head-tool {border:1px #aaaaaa solid; }
.head-tool .LANGUAGE{ color:#fff; background:#aaaaaa url(../images/LANGUAGE-icon.png) no-repeat right center;   }


/** 首頁選單 **/
 .menu { border-left:1px #ddd solid; background:#222;  }
 .menu>li { color:#fff; width:12.5%;  border-right:1px #ddd solid; }
 .menu>li>a { color:#ffffff;}  
 .menu>li>a:hover { background:#000 url(../images/menu_h.png) 49% 65px no-repeat; color:#fff;  padding:20px 0;}
.icon{ background:#222; }



/** 底部背景**/
footer .slgan{ border-bottom:1px #ddd solid;}
footer .i-footer-e{ background:#222; /* Old browsers */}
footer .footer-e{ background:#222; /* Old browsers */}