@charset "utf-8";
.warpper { max-width:1000px; margin:0 auto;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0; vertical-align:middle;}

.slicknav_menu {display:none;}


.banner {}


/***  選單與下拉  ***/

 .menu {float:left; width:85%;  margin:0; padding:0; list-style:none; position:relative;  border-left:1px #875534 solid;background:#7d4723; z-index:9999; }
 .menu>li { color:#fff; width:11.11%; float:left; font-size:14px; font-family:微軟正黑體; text-align:center; position:relative;  line-height:40px; border-right:1px #875534 solid; }

.icon{ position:relative; line-height:37px; padding:21.5px 0.1%;float:left; width:15%; background:#7d4723;margin:0; z-index:9999; }

/*****  客房介紹  *****/
.room ul li{ float:left; width:50%; position:relative; padding:0; margin:0;}



/*****  內頁架構  *****/
.content-body { padding:1% 2%; margin:0 0 155px 0; }

/** 房型明細 **/
.content-body-room ul li { float:left; width:48%; margin:0 1% 2% 1%; }


/** 內容 **/
.page-contect{max-width:700px; float:none; margin:50px auto; padding:15px;background: url(../images/contect-bg.png);}

.page-contect02{max-width:700px; margin:50px auto; padding:15px;background: url(../images/contect-bg.png);}

.page-contect03{max-width:100%; margin:10px auto 50px auto; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect04{max-width:100%; margin:50px auto 10px auto; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect05{max-width:100%; margin:50px auto 10px auto; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect06{max-width:100%; margin:10px auto 50px auto; padding:15px;background: url(../images/contect-bg.png); float:left;}


/***** 訂單列表  *****/

ul.order-list li.th { display:none;}
.order-list { padding-left:0px;} 
.order-list-img, .order-list-img02 { float:left; width:100%; font-size:15px; text-align:center;}
  .order-list-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}
  
.order-list-name { float: ; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.order-list-price { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02 { float:left; width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02 { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-del { float:left; width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.order-list-del a { padding: 5px 10%;}

.order-list .portal { width:100%; text-align: center;}
.order-list .freight { width:100%;  text-align: center;}
.order-list .oproject { font-size:15px; color:#000; display: inline; }

.i-news { padding-left:30px;}


/*****  購物車  *****/
  .shop-car-img img { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}


/*****  產品專區  *****/
.pro-list ul li {  width:31%; padding:1%; }

/*****  首頁產品  *****/
.index-pro ul li {  width:23%; padding:1%; text-align:center; float:left;}



/*****  首頁連結  *****/
.index-link ul li { float:left; width:33.3333%; margin:0; padding:0; border:0;}


/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}


/***  版面欄位  ***/
.main { padding-top:0px;}
.col-p-100 {width:100%;}
.col-p-015 { width:13%; margin-right:2%; float:left;}
.col-p-020 { width:18%; margin-right:2%; float:left;}
.col-p-025 { width:23%; margin-right:2%; float:left;}
.col-p-030 { width:28%; margin-right:2%; float:left;}
.col-p-040 { width:38%; margin-right:2%; float:left;}
.col-p-045 { width:43%; margin-right:2%; float:left;}
.col-p-050 { width:48%; margin-right:2%; float:left;}
.col-p-055 { width:53%; margin-right:2%; float:left;}
.col-p-060 { width:58%; margin-right:2%; float:left;}
.col-p-065 { width:63%; margin-right:2%; float:left;}
.col-p-070 { width:68%; margin-right:2%; float:left;}
.col-p-075 { width:73%; margin-right:2%; float:left;}
.col-p-080 { width:78%; margin-right:2%; float:left;}
.col-p-085 { width:83%; margin-right:2%; float:left;}

.cor-p-015 { width:15%; float:left;}
.cor-p-020 { width:20%; float:left;}
.cor-p-025 { width:25%; float:left;}
.cor-p-030 { width:30%; float:left;}
.cor-p-035 { width:35%; float:left;}
.cor-p-040 { width:40%; float:left;}
.cor-p-045 { width:45%; float:left;}
.cor-p-050 { width:50%; float:left;}
.cor-p-055 { width:55%; float:left;}
.cor-p-060 { width:60%; float:left;}
.cor-p-065 { width:55%; float:left;}
.cor-p-070 { width:70%; float:left;}
.cor-p-075 { width:75%; float:left;}


/*******  親子心教養-全程教育  *******/
.education-list ul li { width:32.3%; padding:1%; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}




/***  定位-選項-時段  ***/
.order-opinion { width:100%; margin-right:0; float: none;}
.time { width:100%; float: none;}



/***  輸入欄位  ***/
.input-style01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:93%;}

.input-botton01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:20px; font-size:16px; font-family:Arial; color:#4E4E4E;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}


.input-botton-blue { }



/******  底部資訊  ******/
footer {}

footer .footer .logo{ float:left; width:127px; margin:40px 3% 0 0;}


footer .footer .contact{ float:left; width:70.7%;   font-family:微軟正黑體; font-size:13px; color:#fff; line-height:24px;margin:20px 1% 0 0;}

footer .footer .copyright{ display:none;}
.copyright02 span{ display: block;}

