@charset "utf-8";
.warpper { max-width:640px; margin:0 auto;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0;}

/*** 手機選單、選單 色塊-變色  ***/
.b-color, .slicknav_menu { background:#2e83b4; } /** 選單顏色 ***/
.slicknav_icon-bar { background-color: #2e5579;} /** 手機選單ICON按鈕色 ***/
.slicknav_btn {background: #ffffff; } /** 手機選單ICON按鈕底色 ***/

.b-color>li:hover, .b-color>li>ul>li>a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {  background: #C7C7C7; } /** 選單滑入顏色 ***/
.slicknav_nav>li { border-bottom:1px #92bae0 solid;} 
.slicknav_nav>li.first { border-top:1px #666 solid;} 
.border-color { border-left:7px #A0A0A0 solid;} /** 標題顏色 ***/

header { background:url(../images/top_bg.jpg) repeat-x; border-bottom:1px #7f0f0e solid; }
.c-head-main { max-width: 1200px; margin:0 auto; height:99px;padding:0; position:relative; }

.head-tool { width:98%; margin:0 1%; position: absolute; top:65%; right:0;  border:1px #84b642 solid; overflow:hidden; line-height:28px;}

.head-tool .LANGUAGE{ display:block; float:left; width:50%; font-family:微軟正黑體; font-size:14px ; color:#fff; background:#84b642 url(../images/LANGUAGE-icon.png) no-repeat right center; padding:0 0 0 10px;  }
.head-tool select{display:block; float:left; width:50%; border: none; height:28px; font-family:微軟正黑體; font-size:14px ; color:#333; padding:0 0 0 5px; line-height:26px;}

.logo {width:70%; margin:0 8% 0 22%; position:absolute; left:0; top:5px; }
.logo img { width:auto; height:50px;}


.m-banner { width:100%; overflow:hidden; position: relative; z-index:1000;}
.m-banner img { position:absolute; top:-50%;  }
.banner { }
.banner img { width:100%;}
.oproject { display: inline; color:#900;}
.icon{ display:none;}

/**  icon  **/
.icon02{ display:block; position: absolute; top:8%;right:0; line-height:37px; padding:0 1%; float:left; width:45%; margin:2% 1%;  }
.icon02 ul{ display:block; list-style:none;  padding:0; margin:0; text-align:right;}
.icon02 ul li{ display:block; float:right; width:45px; text-align:center;}
.icon02 a.icon001{ display:block; width:36px; height:37px; background:url(../images/icon.png) no-repeat;}
.icon02 a.icon001:hover{background:url(../images/icon.png) no-repeat 0 -37px;display:block; width:36px; height:37px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; z-index:9999; }
.icon02 a.icon002{ display:block; width:36px; height:37px; background:url(../images/icon.png) no-repeat -45px 0;}
.icon02 a.icon002:hover{background:url(../images/icon.png) no-repeat -45px -37px;display:block; width:36px; height:37px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; z-index:9999; }

/***** 首頁內容  *****/
.i-contect ul li{ display:block; float:left; width:80%; margin:5% 10%; text-align:center; padding:1.2%;}



/*****  客房介紹  *****/
.room ul li{ float:left; width:100%; position:relative; padding:0; margin:0;}

/** 房型明細 **/
.content-body-room ul li { float:left; width:98%; margin:0 1% 2% 1%; }


/** 飯店設施 **/
.facilities ul li { float:left; width:98%; margin:0 1% 2% 1%; height: auto; overflow:auto;}



/***** 訂單列表  *****/
.order-search { padding-left:0px;}
ul.order-list li.th { display:none;}
.order-list { padding-left:0px;} 
.order-list-img, .order-list-img02 { float:left; width:100%; font-size:15px; text-align:center;}
  .order-list-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:2%; border:1px #CCC solid; margin:5%; text-align:center;}
  .order-list .order-list-td { font-size:15px; color: #333; text-align: left;}
  
  
.order-list-name { float: ; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.order-list-price { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02 { float:left; width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02 { float:left; width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.order-list-del { float:left; width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.order-list-del a { padding: 5px 10%;}

.order-list .portal { width:100%; text-align: center;}
.order-list .freight { width:100%;  text-align: center;}
.order-list .oproject { font-size:15px; color:#000; display: inline; }

.order-ditaile-info { padding:0 0 0 0px; }

/*****  購物車  *****/
ul.shopping-car-list li.th { display:none;}
.shopping-car { padding-left:0px;} 
.shop-car-img { width:100%; text-align:center; border-bottom:1px #D3D3D3 dotted; margin-bottom:10px; display:block;}
  .shop-car-img img.pro-photo { width:86%; max-width:180px; height:auto; padding:10px; border:1px #CCC solid; margin:10px; text-align:center;}
  
.shop-car-name { float:none; display:block;  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;} 
.shop-car-price {  width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-quantity {  width:100%; padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-subtotal{ width:100%;  padding-top:0PX;  font-size:15px; text-align:center;}
.shop-car-del {  width:100%;  padding:20PX 0;  font-size:15px; text-align:center;}
.shop-car-del a { padding: 5px 10%;}

.shopping-car .portal { width:100%; text-align: center;}
.shopping-car .freight { width:100%;  text-align: center;}
.shopping-car .oproject { font-size:15px; color:#000; display: inline; }

.checkout-box { background:#F4F3F0; padding: 10px; margin-left:0px; border-bottom:2px #FFF dotted; }


/*****  產品專區  *****/
.pro-store-info {  padding:10px 0 10px 0px; }
.pro-list ul li {  width:48%; padding:1%; }
.pro-detaile { padding-left:0px; }
.pro-qr-code { text-align:center; padding-bottom:20px;}
.pro-qr-code img { width:200px; height:auto;}
.cart-info .price { font-size:28px; text-align:center; display:block; padding:10px 0 20px 0;}
.cart-info .quantity {text-align: center;}
.cart-info .check-out { text-align:center; clear:both; display:block;}
.cart-info .check-out a { font-size:15px; width:100%; padding:10px 0px; margin-left:0px; display:block;}

/*****  聯絡我們  *****/
.contact-body { padding:0 0 0 0px;}
.contact-left { max-height:200px; overflow:hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.contact-left img { width:100%; height:auto; margin-top:10px;}

a.btn-send {padding: 5px 0;  width:49%; margin:5px 1% 0 0; display:block; float:left;}
a.btn-reset { padding: 5px 0; width:49%; margin:5px 0 0 1%; display:block; float:left;}
a.btn-send-over { padding: 3px  0px; color:#fff; width:100%; display:block; float:left; margin-top:5px;}

/*****  內頁架構  *****/
.page-main { padding: 0 0 0 0px; }
.left-menu-title { font-size:15px; border-top:1px #999 dotted;}

/*****  首頁產品  *****/
.index-pro ul li {  width:48%; padding:1%; text-align:center; float:left;}


/*****  首頁連結  *****/
.index-link ul li { float:left; width:50%; margin:0; padding:0; border:0;}

/*****  首頁 搜尋 最新消息模組  *****/
.i-news { padding-left:0px;}
.i-news h3 { border-bottom:1px #CCC solid;}

/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B; text-align:center;}
.login-tool {text-align:center; }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}


/***  版面欄位  ***/
.content-body { padding:1% 2%; margin:0 0 0px 0; }

.col-m  { width:100%; margin-right:0%; float:none;}
.col-100 {}
.col-015, 
.col-020, 
.col-025, 
.col-030, 
.col-035, 
.col-040, 
.col-045, 
.col-050, 
.col-055, 
.col-060, 
.col-065, 
.col-070, 
.col-075, 
.col-080,
.col-085 { width:100%; margin-right:0%;}


.cor-015, 
.cor-020, 
.cor-025, 
.cor-030, 
.cor-035, 
.cor-040, 
.cor-045, 
.cor-050, 
.cor-055, 
.cor-060, 
.cor-065, 
.cor-070, 
.cor-075, 
.cor-080,
.cor-085 { width:100%;}


nav { }

@media screen and (max-width: 640px) {
	.slicknav_menu { display:none;}
	.js #menu {	display:none;}
	.js .slicknav_menu {display:block;}
} 

 .menu { list-style:none;}
 .menu li { color:#fff; width:100%;  text-align:center; float:none;}
 
 
 
/*** 訂位區塊  ***/
.info-box { font-size:14px; color:#7E7E7E; line-height:20px;}

/***  定位-選項-時段  ***/
.order-opinion { width:100%; margin-right:0; float: none;}
.time { width:100%; float: none;}

.time ul li {margin:1% 1% 0 0; width:24%;}


/***  表單欄位  ***/
.form-box { min-width: 280px;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 3%; line-height:20px; width:93%;}
.input-main-style02 {  padding:5px 3%; width:93.3333%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.opinion { margin-bottom:5px; }
.opinion-left01 { float:left; width:15%;padding:5px 3%; display:none;}
.opinion-right01 { float:left; width:7.5%; padding:0px 2%;}
.input-main-style01 { float:left; width:81%; margin:0; padding:5px 3%; -webkit-border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px;}


.select-style { font-size:15px; width:96%; line-height:20px; padding:5px 2%;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.input-style01, .input-main-style02, .input-main-style03 { float:none; width:100%;}
.checkout-box h3 { margin-right:0;}

/* 頁次 */	
.page{ height:100px;}
.page br { display: block;}



/******  底部資訊  ******/
footer { }
footer .i-footer-e { background:none; height: auto;}
footer .footer-e { background:none; height: auto;}

footer .footer{ max-width:1200px; padding:0 1%; margin:0 auto; position:relative;}
footer .footer .f-logo{ float:left; width:30%; margin:20px 35%;}
footer .footer .contact{ float:left; width:100%;   font-family:微軟正黑體; font-size:13px; color:#fff; line-height:24px;margin:0; text-align:center;}
footer .footer .contact a{ color:#fff;}
footer .footer .contact a:hover{ color:#faf3d0;}

footer .footer .contact02{font-size:18px; color:#f5e7a4; line-height:24px;}
footer .footer .copyright{ display:none;}
.copyright02 span{ display: block;}

footer .footer-e{ position: static;}
