@charset "utf-8";
body { width:100%; height:100%; margin:0; padding:0; font-family:"微軟正黑體";  font-size: 15px; line-height:1.5; background:url(../images/bg.jpg);
scrollbar-face-color: #f5ece5;
scrollbar-arrow-color: #bda291;
scrollbar-track-color: #7d4723;
scrollbar-highlight-color: #875534;
scrollbar-shadow-color: #875534;
scrollbar-3dlight-color: #875534;
scrollbar-darkshadow-color: #875534;}

html { width:100%; height:100%;}

.warpper { padding:0 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0; vertical-align:middle;}
input { vertical-align:middle;}
.slicknav_menu {display:none;}
input.select-box { border:1px #999999 solid; padding:5px 3%; width:20px; height:20px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; }


/*** padding and border no width ****/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}



/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder { color: #222222; }
::-moz-placeholder { color:#333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333; } /* ie */
input:-moz-placeholder { color:#333; }

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#333; }
#field3::-webkit-input-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#333; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#333; }
#field3::-moz-placeholder { color:#333; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999; }






header { background:url(../images/top_bg.jpg); border-bottom:6px #ffffff solid;}
.head-main { max-width: 1200px; margin:0 auto; height:99px;padding:0; position:relative; }
.c-head-main { max-width: 1200px; margin:0 auto; height:140px;padding:0; position:relative; }

.head-tool { width:228px; position: absolute; top:35px; right:1%;  border:1px #84b642 solid; overflow:hidden; line-height:28px;}

.head-tool .LANGUAGE{ display:block; float:left; width:113px; font-family:微軟正黑體; font-size:14px ; color:#fff; background:#84b642 url(../images/LANGUAGE-icon.png) no-repeat right center; padding:0 0 0 10px;  }
.head-tool select{display:block; float:left; width:113px; border: none; height:28px; font-family:微軟正黑體; font-size:14px ; color:#333; padding:0 0 0 5px; line-height:26px;}

.logo { font-size: 30px; font-family: "Times New Roman"; position:absolute; left:1%; top:10px; width:310px; height:auto;}
.logo a { color:#777777;}
.logo img { width:auto; height:80px;}



.banner { width:100%; overflow: hidden; position: relative; }
.banner img { vertical-align:middle; width:100%; height:auto; position:absolute;}

h3.login-title { margin:0 0 10px 0; font-family:"Times New Roman"; font-size:24px; line-height:30px; color:#9B9B9B;}
.login-tool { }
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/***  選單與下拉  ***/

nav { position:relative; max-width: 1160px; margin: -80px auto 0 auto; }
 .menu {float:left; width:80%;  margin:0; padding:0; list-style:none; position:relative;  border-left:1px #875534 solid;background:#7d4723; z-index:9; }
 .menu>li { color:#fff; width:12.5%; float:left; font-size:16px; font-family:微軟正黑體; text-align:center; position:relative;  line-height:40px; border-right:1px #875534 solid; }
 .menu>li>a { color:#f5e7a4; display:block; padding:20px 0;}  
 .menu>li>a:hover { background:#7f0f0e url(../images/menu_h.png) 49% 65px no-repeat; color:#fff;  padding:20px 0;}

.icon{ position:relative; line-height:37px; padding:21.5px 1% 21.5px 0;float:left; width:20%; background:#7d4723;margin:0; z-index:9; }
.icon ul{ display:block; list-style:none;  padding:0; margin:0; text-align:right;}
.icon ul li{ display:block; float:right; width:45px; text-align:center;}
.icon a.icon001{ display:block; width:36px; height:37px; background:url(../images/icon.png) no-repeat;}
.icon a.icon001:hover{background:url(../images/icon.png) no-repeat 0 -37px;display:block; width:36px; height:37px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; z-index:9999; }
.icon a.icon002{ display:block; width:36px; height:37px; background:url(../images/icon.png) no-repeat -45px 0;}
.icon a.icon002:hover{background:url(../images/icon.png) no-repeat -45px -37px;display:block; width:36px; height:37px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; z-index:9999; }
.icon02{ display: none;  }


/***  內頁選單與下拉  ***/

.c-nav { position:relative; width:100%; margin: 0 auto; position:absolute; bottom:-40px;}

/***** 首頁內容  *****/
.i-contect{ max-width:1160px; margin:100px auto 20px auto;}
.i-contect ul{ list-style:none; padding:0; margin:0;height:auto; }
.i-contect ul li{ display:block; float:left; width:26%; margin:2% 3.665%; text-align:center; padding:1.2%;}
.i-contect ul li img{ width:100%; border-radius: 260px; border:5px #d1d1d1 solid;}
.i-contect ul li .font_001{font-size:13px;  color:#666; line-height:22px; text-align:center;}
.i-contect ul li .font_001 h2{ font-size:18px; color:#363636; line-height:30px; font-weight:normal; margin:0; padding:20px 0 8px 0; }

.i-contect li:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.i-contect li img{-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-ms-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}
.i-contect li{float:left;text-align:center;margin:0;padding:0;}
.i-contect li:hover .latest-item{-webkit-box-shadow:0 7px 0 #67562f;-moz-box-shadow:0 7px 0 #67562f;box-shadow:0 7px 0 #67562f}
.i-contect li:hover .overthumb{top:0;opacity:.7}
.i-contect li:hover .carousel-icon{opacity:1;top:45%}


.latest-item{ height:260px;padding:0;text-align:center;-webkit-box-shadow:0 7px 0 #696969;-moz-box-shadow:0 7px 0 #696969;box-shadow:0 7px 0 #696969;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.latest-item img{margin:auto;}


.widget-thumb{position:relative;width:100%;height:100%;display:block}
.latest-work-item .widget-thumb img{-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-ms-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out;}
.latest-work-item:hover .widget-thumb img{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}


.overthumb{position:absolute;left:0;top:100%;display:block;text-align:center;width:100%;height:100%;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;border-radius:100px}
.latest-work-item:hover .overthumb{top:0;opacity:.7}
.portfolio-thumbnail:hover .overthumb{top:0;opacity:.7}
.latestproduct-container li:hover .overthumb{top:0;opacity:.7}
.featuredproduct-item:hover .overthumb{top:0;opacity:.7}


.carousel-icon{font-size:14px;opacity:1;display:block;position:absolute;top:100%;text-align:center;width:100%;height:auto;opacity:0;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-ms-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out}
.latest-work-item:hover .carousel-icon{opacity:1;top:45%}
.portfolio-thumbnail:hover .carousel-icon{opacity:1;top:45%;border-radius:10px}
.latestproduct-container li:hover .carousel-icon{opacity:1;top:45%}
.featuredproduct-item:hover .carousel-icon{opacity:1;top:45%}


.lightzoom{ padding:7px 22px;background:#000;color:#fff;margin:0px;opacity:1; font-size:14px; }




.mukam-shopmenu,.mukam-shop,.mukam-settings,.mukam-search,.mukam-science,.mukam-sandtime,.mukam-rss,.mukam-responsive,.mukam-radiocheck,.mukam-post,.mukam-portfolio,.mukam-pinterest,.mukam-photo,.mukam-pen,.mukam-pages,.mukam-myspace,.mukam-mobile,.mukam-lock,.mukam-list,.mukam-link,.mukam-lamp,.mukam-label,.mukam-image,.mukam-imac,.mukam-html5,.mukam-home,.mukam-google,.mukam-globe,.mukam-flicker,.mukam-face,.mukam-envelope,.mukam-dribble,.mukam-directionn,.mukam-direction,.mukam-digg2,.mukam-digg,.mukam-date,.mukam-comments,.mukam-clock2,.mukam-clock,.mukam-brain,.mukam-blog,.mukam-youtube,.mukam-yahoo,.mukam-wordpress,.mukam-vine,.mukam-video,.mukam-tweet,.mukam-truck,.mukam-tick,.mukam-telephone,.mukam-stumbleupon,.mukam-social-whale,.mukam-socialman,.mukam-social2,.mukam-skype,.mukam-sign,.mukam-shortcodes{font-family:'微軟正黑體';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}





/*****  客房介紹  *****/
.room-introduction{padding:10px 0;}
.room-introduction ul{ margin:0; padding:0 1% 0 5%; list-style:square;}
.room-introduction ul li{ margin:0; padding:0; line-height:24px;}
.room-introduction ul li .room-introduction-price{ font-size:18px; color: #F00; line-height:36px;}

.room{ margin:1% 0 1% 0;}
.room ul{ list-style:none; margin:0; padding:0;}
.room ul li{ float:left; width:33.33%; position:relative; padding:0; margin:0;}
.room ul li img{width:100%;}
.room ul li h2{ width:100%; position:absolute; bottom:0; margin:0; padding:7px; background:url(../images/title_bg.png);color:#fff; font-weight:normal; font-size:15px; }
.room ul li h2 a{color:#fff; }
.room ul li h2 a:hover{ text-shadow:1px 1px 1px #333;}
.room ul li h2 .room-title{ font-size:14px; }


/***  周邊景點  ***/
.attractions{}
.attractions ul{ list-style:none; margin:0; padding:0;}
.attractions ul li{ margin:0; padding:10px; border-bottom:1px #ccc solid;}
.attractions-img{ float:left; width:20%;}
.attractions-img img{ width:100%;}

.attractions-contect{ float:left; width:79%; margin:0 0 0 1%;}

/** 飯店設施 **/
.facilities{}
.facilities ul { list-style:none; margin:0; padding:20px 0;}
.facilities ul li { float:left; width:48%; margin:0 1% 2% 1%; height:380px; overflow:hidden;}
.facilities ul li h2{ font-size:17px; color:#000; line-height:24px; text-align:center; font-weight: bold; margin:0; padding:5px 0;}
.facilities ul li .contect-f{ font-size:15px; color:#222222; line-height:24px; text-align:center; font-weight: normal; margin:0; padding:5px 0; text-align:left; height:105px; overflow:hidden;}

.facilities ul li img{ width:100%; border:#f4eee9 5px solid;border-radius: 10px;}


/***** 訂單列表  *****/

.order-search { padding-left:30px;}
.order-list { padding-left:30px;} 
.order-list td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.order-list img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.order-list .order-list-th { font-size:15px; color:#FFF; text-align:center; line-height:25px;}
.order-list .order-list-td { font-size:15px; color: #333; text-align: center;}
.order-list .price { font-size:15px; color:#900;}
.order-list .numb { font-size:15px; color: #788BAC; text-align:left;}
.order-list .numb a {color: #788BAC;}
.order-list .count { font-size:15px; color: #333;}
.order-list .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.order-list .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.order-list .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}
.oproject { display:none; color:#900;}


ul.order-list { list-style:none; margin:0 ; padding:0;}
ul.order-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.order-list li:nth-child(odd){ background: #F5F5F5;}
ul.order-list li.th { background: #666; color: #fff; text-shadow:-1px -1px 0 #333; padding:3px 0; -webkit-border-radius:  2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; border:0;}
.th .order-list-img, .th .order-list-name, .th .order-list-price, .th .order-list-quantity, .th .order-list-subtotal, .th .order-list-del { padding-top:5PX; }

.order-list-img { float:left; width:10%; display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
.order-list-img02 { float:left; width:10%; display:table-cell; font-size:15px;  padding-top:5px; vertical-align:middle; text-align:center;}
  .sorder-list-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}


.order-list-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.order-list-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


.order-ditaile-info { padding:0 0 0 40px; font-size:15px; color: #333; line-height:1.5em; }
.jump-window-box  { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

/*** 會員登入  ***/
.member-login-box { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*****  購物車  *****/
.cart-body { max-width: 1200px; margin:0 auto;}
.shopping-car { padding-left:30px;} 
th.shopping-car-th { background: #69C; font-size:15px; color:#FFF; text-align:center; line-height:25px;  border-right:1px #fff dotted;} 
.shopping-car td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.shopping-car img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.shopping-car .pro-name { font-size:15px; color: #333; text-align:left;}
.shopping-car .price { font-size:15px; color:#900;}
.shopping-car .numb { font-size:15px; color: #66F;}
.shopping-car .count { font-size:15px; color: #333;}
.shopping-car .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.shopping-car .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.shopping-car .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}



ul.shopping-car-list { list-style:none; margin:0 ; padding:0;}
ul.shopping-car-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.shopping-car-list li.th { background: #777; color: #fff; text-shadow:-1px -1px 0 #393939;  min-height:0px; padding:5px 0; border:0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
.th .shop-car-img, .th .shop-car-name, .th .shop-car-price, .th .shop-car-quantity, .th .shop-car-subtotal, .th .shop-car-del { padding-top:5PX; }

.shop-car-img { display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
  .shop-car-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}
.shop-car-name { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;} 
.shop-car-price {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-quantity { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-subtotal{  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.shop-car-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.shopping-car .oproject { font-size:15px; color:#000; display:none; font-weight:bold; }


.checkout-box { background:#eee; padding:10px; margin-left:30px; border-bottom:2px #FFF dotted;}
.checkout-box h3 { background: #999; border-left:5px #333 solid; font-size:18px; color:#fff; text-shadow:-1px -1px 0 #666; line-height:30px; padding-left:20px; font-weight:500;}
.check-box { padding:5px; font-size:15px; color:#000;}
.check-box a { color:#000;}
.check-box a:hover { color:#960; } 

.appointment { max-width:600px; margin:0 auto;}
.appointment-title { text-align:center;}

/*****  產品專區  *****/
.search { padding:0 10px;}
.search-input { padding:10px 0; position:relative;}
.search-input img { position:absolute; right:0; top:10px;}
.search input { background: #e8d5d5; font-size:15px; color: #737946; padding:5px 0 5px 5%; line-height:31px; height:31px; width:85%; 
                -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 10% 0 0; right:70px; vertical-align:middle;}
.search img { vertical-align:middle;}

.pro-store-info { font-size:13px; line-height:1.5em; color:#666; padding:10px 0 10px 35px; border-bottom:1px #CCC dotted; margin-bottom:20px;}
.pro-search-info { font-size:18px; color:#64691F; line-height:1.5em; border-bottom:1px #CCC dotted; margin-bottom:20px; text-align:center; padding-bottom:10px;}

.pro-list {}
.pro-list ul { max-width: 1200px; margin:0 auto; padding:0; list-style:none;}
.pro-list ul li {  width:25%; padding:1%; text-align:center; float:left;}
.pro-list ul li:hover { background:#f8f6f6;}
.pro-list ul li h4 { font-size:15px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }


   .pro-photo { background:#fff; width:100%; vertical-align: middle; position: relative;}
   .pro-photo img.index-pro-img { width:auto; height:auto; max-width:100%; max-height:100%; position: absolute; top: 50%; transform: translateY(-50%) translateX(-50%); left: 50%;}

.pro-list ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block;;}
.pro-list ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }
.pro-list ul li a.cart { padding:3px; color: #7E7E7E;  font-size:15px; display:block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px #DCDCDC solid;}
.pro-list ul li a.cart img { padding-right:20px; vertical-align:middle;}
.pro-list ul li a.cart:hover { background: #fff; border:1px #eee solid;}


.pro-detaile { padding-left:30px; }
h3.pro-detaile-title { border-bottom:1px #CCC dotted; font-size:20px; color:#333; line-height:30px; margin-bottom:20px; padding-bottom:10px; font-weight:normal;}
.pro-detaile .pro-photo {background:#fff; width:100%; margin:0 0 10px 0; padding:0;}
.pro-detaile .pro-photo img { width:100%; height:auto;}
.pro-specification {  font-size:12px; line-height:1.5em; color:#333; position:relative; margin-bottom:10px;}
.pro-specification p { margin:}
.pro-content { padding:0px 0; font-size:12px; line-height:1.5em; color:#999; clear:both;} 
.pro-content p.spec { margin:0; padding:0; font-size:12px; line-height:1.5em; color:#333;}

h3.pro-introduce { font-weight:normal; border-top:1px #CCC dotted; border-bottom:1px #CCC solid; border-left:5px #900 solid; padding:5px 0 5px 20px; font-size:20px; color:#333;}
.pro-qr-code {}
.pro-qr-code img { width:100px; height:auto;}
.cart-info { vertical-align:middle; }
.cart-info .price { font-size:28px; font-weight:bold; color: #F00;  vertical-align:middle; display:block;}
.cart-info .quantity { font-size:16px; color: #333;  vertical-align:middle; display:block; text-align:right; padding:10px 0; line-height:30px;}
.cart-info .quantity select { line-height:25px;}
 .check-out { text-align:center;  vertical-align:middle; display:block;}
 .check-out a {display:block; vertical-align:middle;  font-size:13px; min-width:130px; color:#333; padding:5px 10px; margin:10px 0; text-shadow:-1px -1px 0 #fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #FFF; border:1px #D4D4D4 solid;}	
 			  
 .check-out a:hover { background: #D4D4D4;  text-shadow:-1px -1px 0 #A2A2A2; color:#333;}
 .check-out a img { vertical-align:middle; margin-right:10px;}
.cart-btn { padding:15px 0 10px 0; text-align:center; margin-top:15px; border-top:1px #CCC dotted; }



/**** 產明細圖片特效樣式 ****/
.slider-wrap								{ width: 100%;}	
.stripViewer .panelContainer		        { width: 400% !important;}	
.stripViewer .panelContainer  .panel ul		{ text-align: left; margin: 0 15px 0 30px; width: 100%}
.stripViewer								{ position: relative; overflow: hidden; width:100%; height: auto; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; width:400%; }
.stripViewer .panelContainer .wrapper       { width:100%;}
.stripViewer .panelContainer img            { width:100%; height:auto;}
.stripViewer .panelContainer .panel			{ float: left; position: relative;}
.stripNavL, .stripNavR, .stripNav			{ display: none; width:100%; }
.nav-thumb 									{ margin-right: 5px; }
#movers-row									{ margin:5px 0 0 0; width:101%; }
#movers-row div								{ width: 25%; float: left; padding-right:1%; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; margin-top: 0px; position: relative; padding-top: 0px;}
.active-thumb 								{ background: transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat; }
.panel { width:25%;} /**四張圖 乘 四分之一 **/



/*****  聯絡我們  *****/
.contact-body { padding:0 0 0 27px;}
.contact-note { padding:10px 0; font-size:14px; color: #F00;}
.contact-price {font-size:18px; color:#F00; font-weight:bold;}

.contact-left { }
.contact-left img { width:100%; height:auto; margin-top:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.btn-send { font-size:14px;} 
a.btn-send { background: #333; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px;}
a.btn-send:hover { background: #666;}
a.btn-reset { background:#999;  padding: 3px 20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px;}
a.btn-reset:hover { background:#bbb;}


a.btn-send-over { background: #79919F; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px;}
a.btn-send-over:hover { background: #63AEBD;}

img.code { width:100px; height:32px; margin:0 5px; vertical-align:middle;}

/*****  FAQ  *****/
.faq {}
.faq ul { margin:0; padding:0; list-style:none;}
.faq ul li { border-bottom:1px #fff solid; }
.faq ul li .qa_title { background: #DDDCD7; font-weight:normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-left:8px #333 solid;}
.faq ul li a { color: #333; font-size:15px; display:block; padding:10px 0 10px 10px; text-shadow:1px 1px 0 #fff;}
.faq ul li a:hover { background:#C5C4B7; color:#fff;  text-shadow:-1px -1px 0 #666;}
.faq ul li .qa_content { border-top:1px #CCC dotted; padding:10px 0 20px 25px; font-size:13px; line-height:1.5em; color:#666;}



/*****  最新消息  *****/
.news {}
.news ul { margin:0; padding:0; list-style:none;}

.opacl { font-size:15px; line-height:20px; padding-bottom:10px; }
.opacl a { background: #888888; color:#fff; padding: 3px 10px; margin:0 5px; -webkit-border-radius: 5px 5px 0 0px; -moz-border-radius: 5px 5px 0 0px; border-radius: 5px 5px 0 0px;}
.opacl a:hover { background:#699;}
a.close_qa { font-size:12px;} 
#qaContent{}
.accordionPart{}


/*** news-list  最新消息 ***/
.news-list { list-style:none;}
.news-list li { clear:both; border-bottom:1px #E3E3E3 dotted; }
.news-list li span { float:left; width:130px; line-height:25px; display:block; padding:7px 0 7px 30px; color: #666;}
.news-list li .news-lis-cont { margin:0 0 0 130px;  padding:7px 0;}
.news-list li .news-lis-cont a { color:#000; display:block;}
.news-list li .news-lis-cont a:hover { color:#333;}
.time { font-size:15px; color:#666; line-height:20px;}

/*****  內頁架構  *****/
.content-body { padding:1% 2%; margin:0 0 155px 0; }

/** 房型明細 **/

.content-body-room{}
.content-body-room ul { list-style:none; margin:0; padding:20px 0;}
.content-body-room ul li { float:left; width:31.33%; margin:0 1% 2% 1%; }
.content-body-room ul li img{ width:100%; border:#f4eee9 5px solid;border-radius: 10px;}




/** 內容 **/
.page-contect{max-width:700px; float:right; margin:50px 5%; padding:15px;background: url(../images/contect-bg.png);}

.page-contect02{max-width:700px; margin:50px 5%; padding:15px;background: url(../images/contect-bg.png);}

.page-contect03{max-width:55%; margin:50px 5% 50px 1%; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect04{max-width:32%; margin:50px 1% 50px 5%; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect05{max-width:55%; margin:50px 1% 50px 5%; padding:15px;background: url(../images/contect-bg.png); float:left;}

.page-contect06{max-width:32%; margin:50px 5% 50px 1%; padding:15px;background: url(../images/contect-bg.png); float:left;}


.page-title { width:100%;margin:0 auto; font-size:22px; color:#000; padding:7px 10px; margin:0; text-align:center; border-bottom:1px #000 solid;}
.page-title02 { width:100%;margin:0 auto; font-size:17px; color:#000; padding:10px 5px 5px 5px; margin:0;  line-height:30px; font-weight:normal;}

.page-main {max-height:300px; padding: 0 1%; margin:10px 0; font-size: 15px; color:#222222; line-height:1.5em; overflow-x:hidden;overflow-y:auto; }
.page-main002{height:220px; padding: 0 1%; margin:10px 0; font-size: 15px; color:#fff; line-height:1.5em; overflow-x:hidden;overflow-y:auto; }



.left-menu-title { background: #909090; text-align:center; font-size:18px; color: #fff; text-shadow:-1px -1px 0px #666;   padding:5px 0 10px 0; border-top:1px #999 dotted;  
                   -webkit-border-radius:0 0 5px 0px; -moz-border-radius:0 0 5px 0px; border-radius:0 0 5px 0px;}
.in-left-menu {  }
.in-left-menu>ul { margin:0; padding:10px 0 0px 0; list-style:none; border-bottom:3px #DBDBDB solid;}
.in-left-menu>ul>li  {border-bottom:1px #EAE9DD solid ; font-size:15px; color:#666; padding:5px 0;}
.in-left-menu>ul>li>a { background:url(../images/left-icon.png) no-repeat 5px 7px; color:#333; display:block; padding:5px 0 5px 25px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.in-left-menu>ul>li>a:hover { background:url(../images/left-icon.png) no-repeat 5px 7px #EFEDED;}

.in-left-menu>ul>li ul { margin:5px 0 0 40px; padding:0; list-style: square;} 
.in-left-menu>ul>li ul li { border-top:1px #CCC dotted; padding:5px;}
.in-left-menu>ul>li ul li:hover { background: #E8E8E6;} 
.in-left-menu>ul>li ul li a { font-size:13px; color:#666; display:block;}
.in-left-menu>ul>li ul li a:hover { color: #71743D;  }



/*****  內頁BANNER  *****/
.inside-banner { background: #909090; padding:20px 0; }
.inside-banner .banner-title { max-width:  1200px; font-size:18px; color:#fff; margin:0 auto; border-left:4px #AAA8A8 solid; padding:0 0 0 20px; line-height:30px;  }


/*****  首頁產品  *****/
.index-pro { max-width: 1200px; margin:0 auto;}
.index-pro-title {font-size:24px; color:#333; line-height:30px; padding-bottom:10px; text-align:center; font-weight:normal; border-bottom:3px #DFDFDF solid;} 
.index-pro ul { max-width: 1200px; margin:0 auto; padding:0; list-style:none;}
.index-pro ul li {  width:20%; padding:1%; text-align:center; float:left;}
.index-pro ul li:hover { background:#f8f6f6;}
.index-pro ul li h4 { font-size:15px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }

.index-pro ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block; }
.index-pro ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }
.index-pro ul li a.cart { padding:8px; color:#333; font-size:15px; display:block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px #DBDBDB solid; }
.index-pro ul li a.cart img { padding-right:20px; vertical-align:middle;}
.index-pro ul li a.cart:hover { background: #EDEDED;}
.index-more { max-width: 1200px; border-top:1px #dad0d0 solid; margin:50px auto 0 auto; height:50px; position:relative; }
.index-more a { background:url(../images/index-more-pro.png) no-repeat; color:#a7a7a7; width:132px; height:36px; display:block; margin:0 auto; text-align:center; position:absolute; top:-10px; left:50%; margin-left:-66px;}


/*****  首頁連結  *****/
.index-link { max-width: 1200px; margin:0 auto;}
.index-link h3 { color:#333; font-size:36px; font-weight:normal; text-align:center; line-height:0.8em; letter-spacing:2px;}
.index-link h3 .red { color:#d45500; font-size:24px; letter-spacing:0px;}
.index-link h3 .brwon { color:#c2ab8a; font-size:24px; padding-left:15px; letter-spacing:0px;}

.index-link-top { height:75px;}

.index-link ul { background:#e1e1e1; margin:0; padding:0; list-style:none;}
.index-link ul li { float:left; width:25%; margin:0; padding:0; border:1px  #fff dotted;}
.index-link ul li img { width:100%; height:auto; border:0; margin:0; padding:0;}


/*****  首頁 搜尋 最新消息模組  *****/
.index-news { width:100%; position:relative;}
.index-news-line { position:absolute; width:100%; border-bottom:1px #d1d1d1 solid; top:50px; z-index:-1; }

.index-search-news { max-width: 1200px; margin:0 auto;}
.index-search { }
.index-search h3 { font-size:24px; color:#333; font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0; }
.index-search span { display:block; float:right; font-size:15px; color:#d1d1d1; font-weight:normal;}
.index-search-input { padding:10px 0 20px 0; position:relative; color:#333;}
.index-search-input img { position:absolute; right:0; top:10px;}
.index-search input { background: #e8d5d5; font-size:15px; color: #333; padding:5px 0 5px 20px; line-height:21px; width:100%; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 5% 0 0; right:51px; vertical-align:middle;}
.index-search img { vertical-align:middle;}

.i-news { padding-left:50px;}
.i-news h3 { font-size:24px; color:#333;  font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0;}
.i-news h3 span { display:block; float:right; font-size:14px; color:#afaaaa; font-weight:normal;}
.i-news h3 span a {color:#333;}
.i-news h3 span a:hover { color: #12A8D5;}
.i-news ul { list-style:square; color:#333; padding:0 0 0 20px; margin:0; }
.i-news ul li { padding:5px 0; font-size:15px; line-height:1.5em; border-bottom:1px #E7E7E7 solid;  }
.i-news ul li a { color:#333; display:block;  }
.i-news ul li a:hover { color:#F96;}


/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}
.calender { width:17px; height:auto;}


/***  版面欄位  ***/
.main {}
.col-100 {float:left; width:100%;}
.col-010 { width:9%; margin-right:1%; float:left;}
.col-015 { width:14%; margin-right:1%; float:left;}
.col-020 { width:19%; margin-right:1%; float:left;}
.col-025 { width:24%; margin-right:1%; float:left;}
.col-030 { width:29%; margin-right:1%; float:left;}
.col-040 { width:39%; margin-right:1%; float:left;}
.col-045 { width:44%; margin-right:1%; float:left;}
.col-050 { width:49%; margin-right:1%; float:left;}
.col-055 { width:54%; margin-right:1%; float:left;}
.col-060 { width:59%; margin-right:1%; float:left;}
.col-065 { width:64%; margin-right:1%; float:left;}
.col-070 { width:69%; margin-right:1%; float:left;}
.col-075 { width:74%; margin-right:1%; float:left;}
.col-080 { width:79%; margin-right:1%; float:left;}
.col-085 { width:84%; margin-right:1%; float:left;}

.cor-010 { width:10%; float:left;}
.cor-015 { width:15%; float:left;}
.cor-020 { width:20%; float:left;}
.cor-025 { width:25%; float:left;}
.cor-030 { width:30%; float:left;}
.cor-035 { width:35%; float:left;}
.cor-040 { width:40%; float:left;}
.cor-045 { width:45%; float:left;}
.cor-050 { width:50%; float:left;}
.cor-055 { width:55%; float:left;}
.cor-060 { width:60%; float:left;}
.cor-065 { width:55%; float:left;}
.cor-070 { width:70%; float:left;}
.cor-075 { width:75%; float:left;}




/*** 訂位填寫  ***/
.show-date { background:#14A1F0; padding:5px 10px; font-size:14px; color:#fff; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.show-date a { color:#D0FF00; text-decoration:none;}
.show-date a:hover { color:#F0FF9B;}
.kyein-be-member { background: #FF1115; padding:5px 10px; font-size:14px; color: #FFDADA; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*** 訂位區塊  ***/
.info-box { font-size:14px; color: #686868; line-height:20px; padding-bottom:10px; margin-bottom:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
h4.info-title { background: #FFEDED; font-size:17px; line-height:30px; color: #AD3A3C; padding: 0 0 0 10px; margin:5px 0px 10px 0px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:normal;}
.info-content { padding:0 0 10px 20px;}
.info-content ul { list-style:square; margin:0 0 0 0px; padding:0 0 0 20px;}
.info-content ul li { border-bottom:1px #BFBFBF dotted; margin-bottom:10px; color: #A41C1F;}
.info-content ul li p { font-size:12px; color:#767676; margin:0 0 10px 0; padding:0;}
h5.info-set-opint { color:#69B7FF; font-size:15px; line-height:25px; border-bottom:1px #D9D9D9 solid; margin:0 0 10px 0;}

/***  step  ***/
.step { list-style:none; margin:0; padding: 20px 0;}
.step li { float:left; width:25%; font-size:28px; line-height:1.2em; color:#D9D9D9; border-left:1px #D9D9D9 solid; padding:0px 0; text-align:center;}
.step li.active , .step li.active span { color: #0091ED;}
.step li span { color:#7F7F7F; display:block; font-size:15px; line-height:18px; padding: 5px 0 0 0px; border-top:1px #DBD8D8 dotted; margin:10px auto 0 auto; width:80%;}






/***  歷史訂單  ***/
.table-border { background: #DBDBDB; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:10px;}
.table-border th {  font-size:14px; color:#fff; padding:3px 5px;}
.table-border td { font-size:14px; color: #515151; padding:3px 5px; text-align:center; }

.table-border tr:first-child { background:#FF6700; font:12px; padding:3px 5px; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.table-border tr:last-child { background:#FFF; font:12px; padding:3px 5px; -webkit-border-radius:0 0px 5px 5px; -moz-border-radius:0 0px 5px 5px; border-radius:0 0px 5px 5px;}
.table-border tr:nth-child(2n){ background:#FFF; }
.table-border tr:nth-child(2n+3){ background:#FFFBF0; }

/***  表單欄位  ***/
.form-box { min-width: 280px; }
.form-box input, .form-box img { vertical-align:middle;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#fff; padding:5px 0 10px 0; line-height:20px; width:100%;}

.opinion { margin-bottom:5px; }
.opinion-left01 {  background:#222222;  float:left; width:30%; border:1px #222222 solid; border-right:0; padding:5px 3%; font-size:15px; font-family:"微軟正黑體"; color:#fff; line-height:20px;border-radius:5px 0px 0px 5px;}
				  
.opinion-right01 {  background:#bb8561;  float:left; width:7.5%; border:1px #999999 solid; padding:5px 2%; font-size:15px; font-family:"微軟正黑體"; color:#fff; line-height:20px; border-left:0;border-radius:0 5px 5px 0;}
				  
.input-main-style01 { float:left; width:55%; border:1px #999999 solid; margin:0; padding:5px 3%; font-size:15px; font-family:"微軟正黑體"; color:#fff; line-height:20px;
                      -moz-box-shadow:0px 0px 5px #9d7f6c inset;              /* For Firefox3.6+ */
	                  -webkit-box-shadow:0px 0px 5px #9d7f6c inset;           /* For Chrome5+, Safari5+ */
	                  box-shadow:0px 0px 5px #9d7f6c inset;                   /* For Latest Opera */
				      }
.input-main-style02 { background:#dddddd; float:left; width:70%; border:1px #999999 solid; margin:0; padding:5px 3%; font-size:15px; font-family:"微軟正黑體"; color:#222222; line-height:20px;}			
.input-main-style03 { float:left; width:93.3333%; border:1px #999999 solid; margin:0; padding:5px 3%; font-size:15px; font-family:"微軟正黑體"; color:#fff; line-height:20px; text-align:center;
                     -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
				     -moz-box-shadow:0px 0px 5px #9d7f6c inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #9d7f6c inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #9d7f6c inset;                   /* For Latest Opera */
				     }						 
					 
.select-style { font-size:15px; color:#666; line-height:20px; padding:5px 10px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.order-numb { color:#FF0004;}

/***  輸入欄位  ***/

input { }
.input-style01 { background:#dddddd;  border:1px #999999 solid; padding:5px 3%; line-height:20px; font-size:15px; font-family:"微軟正黑體"; color:#fff;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:100%; margin-bottom:5px;
				 }

.input-botton01 { border:1px #999999 solid; padding:5px 3%; line-height:18px; font-size:13px; font-family:"微軟正黑體"; color:#fff; width:100px; margin:0 auto; text-align:center; 
                  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}


.select-style01 {border:1px #999999 solid; padding:5px 3%; width:99%; line-height:20px; font-size:15px; font-family:"微軟正黑體"; color:#fff; margin:0;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
                 -moz-box-shadow:0px 0px 5px #9d7f6c inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #9d7f6c inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #9d7f6c inset;                   /* For Latest Opera */}

.input-botton-blue {
background: #feffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2UyZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWVkZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffff 0%, #e2feff 35%, #9eede6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#e2feff), color-stop(100%,#9eede6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eede6',GradientType=0 ); /* IE6-8 */
}


.bg-gary-whrite {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.bg-red-orange {
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/* 頁次 */	
.page{ height:40px; font:14px/40px "微軟正黑體"; color:#222222; text-align: center; clear:both; margin-top:10px; }
  .page a { background: #aaa; color:#fff; padding:2px 10px; border-radius: 5px;}
  .page a:hover { background: #000 ; color: #fff;}
.page br { display:none;}

/******  首頁底部資訊  ******/
footer {}
.i-footer-e {height:215px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c2a14+0,602e11+21,773711+39,824823+100 */

background: rgb(76,42,20); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjMmExNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iIzYwMmUxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iIzc3MzcxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MjQ4MjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top, rgba(76,42,20,1) 0%, rgba(96,46,17,1) 21%, rgba(119,55,17,1) 39%, rgba(130,72,35,1) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top, rgba(76,42,20,1) 0%,rgba(96,46,17,1) 21%,rgba(119,55,17,1) 39%,rgba(130,72,35,1) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom, rgba(76,42,20,1) 0%,rgba(96,46,17,1) 21%,rgba(119,55,17,1) 39%,rgba(130,72,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c2a14', endColorstr='#824823',GradientType=0 ); /* IE6-8 */ }

footer .i-footer-e .i-slgan{ text-align:center; border-bottom:1px #b27a35 solid; line-height:73px;}
footer .i-footer-e .i-footer{ max-width:1200px; padding:0 1%; margin:0 auto; position:relative;}
footer .i-footer-e .i-footer .i-f-logo{ float:left; width:127px; margin:45px 3% 0 0;}
footer .i-footer-e .i-footer .i-f-logo img{width:100%;}
footer .i-footer-e .i-footer .i-contact{ float:left; width:42%;   font-family:微軟正黑體; font-size:13px; color:#fff; line-height:24px;margin:35px 1% 0 0;}
footer .i-footer-e .i-footer .i-contact a{ color:#fff;}
footer .i-footer-e .i-footer .i-contact a:hover{ color:#faf3d0;}

footer .i-footer-e .i-footer .i-contact02{font-size:18px; color:#f5e7a4; line-height:24px;}
footer .i-footer-e .i-footer .i-copyright{ display:block; position:absolute; top:85px; right:1%;font-family:微軟正黑體; font-size:12px; color:#fff; line-height:24px; width:43.1%; text-align:right;}
.i-copyright02 span{ display:none;}

/******  首頁底部資訊  ******/
footer {}
footer .i-footer{ max-width:1200px; padding:0 1%; margin:0 auto; position:relative;}
footer .i-footer .i-f-logo{ float:left; width:30%; margin:20px 35%;}
footer .i-footer .i-contact{ float:left; width:100%;   font-family:微軟正黑體; font-size:13px; color:#fff; line-height:24px;margin:0; text-align:center;}
footer .i-footer .i-contact a{ color:#fff;}
footer .i-footer .i-contact a:hover{ color:#faf3d0;}

footer .i-footer .i-contact02{font-size:18px; color:#f5e7a4; line-height:24px;}
footer .i-footer .i-copyright{ display:none;}
.i-copyright02 span{ display: block;}


/******  底部資訊  ******/
footer { }
footer .i-footer-e{ width: 100%;height:215px;}
footer .footer-e{  width: 100%;height:215px;}

footer .slgan{ text-align:center; border-bottom:1px #b27a35 solid; line-height:73px;}
footer .footer{ max-width:1200px; padding:0 1%; margin:0 auto; position:relative;}
footer .footer .f-logo{ float:left; width:127px; margin:30px 3% 0 0;}
footer .footer .f-logo img{width:100%;}
footer .footer .contact{ float:left; width:42%;   font-family:微軟正黑體; font-size:13px; color:#fff; line-height:24px;margin:35px 1% 0 0;}
footer .footer .contact a{ color:#fff;}
footer .footer .contact a:hover{ color:#ccc;}

footer .footer .contact02{font-size:18px; color:#ccc; line-height:24px;}
footer .footer .copyright{ display:block; position:absolute; top:85px; right:1%;font-family:微軟正黑體; font-size:12px; color:#fff; line-height:24px; width:43.1%; text-align:right;}
.copyright02 span{ display:none;}