@charset "utf-8";@import "bootstrap-grid.min.css";/** bootstrap **/@import "font-awesome.min.css";/** 文字icon **/@import url("slicknav.css") screen and (max-width: 750px);/** 手機menu **/@import "owl.carousel.min.css";/** 產品輪播 **/@import "owl.theme.default.min.css";/** 產品輪播 **/
body {position:relative; width:100%; height:auto; margin:0; padding:0; font-family:"微軟正黑體","Times New Roman";  font-size: 16px; line-height:1.6;}
html { width:100%; height:auto;}

.clearfix:after {content: "";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { display:inline-block; text-decoration:none;outline:none;transition: all 0.3s ease 0s;}
img { border:0; vertical-align:middle;max-width: 100%;}
input { vertical-align:middle;}
input,textarea,button{outline:none;}
.slicknav_menu {display:none;}

/** padding and border no width **/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder { color:#999999; }
::-moz-placeholder { color:#999999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999999; } /* ie */
input:-moz-placeholder { color:#999999; }

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#999999; }
#field3::-webkit-input-placeholder { color:#999999; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999999; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#999999; }
#field3::-moz-placeholder { color:#999999; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999999; }

/** 版面 **/
.main { padding:0px;}
.warpper {}

/* 即時通訊 */
.wd_chat_widget{position:fixed; bottom:40px; right:0; text-align:center; z-index:9999; }
.top{font-family:arial; font-size:14px; color:#fff; margin:10px 10px 70px; border-radius:50%; }
.top img{width:20px; }
.top a{color:#fff; height:50px; width:50px; line-height:14px; padding:10px; background-color:rgba(0,72,105,.8); border-radius:50%; float:right; }
.top a:hover{background-color:rgb(1, 55, 80); color:#fff; }
.community{position:relative; margin:10px;}
.community-title{position:absolute; bottom:0; right:0; background-color:#484848; font-family:arial; font-size:12px; color:#fff; letter-spacing:1px; width:60px; float:right; padding:10px; border-radius:50%; cursor:pointer; clear:both; }
.community ul{display:none; opacity:0; flex-wrap:wrap-reverse; flex-direction:column-reverse; position:absolute; right:0; bottom:60px; list-style:none; margin:0; padding:5px; width:auto; height:calc(100vh - 150px); -webkit-transition:200ms; -moz-transition:200ms; transition:200ms;}
.community ul.show{display:flex; opacity:1; animation:communityshow ease-in-out .5s}
@keyframes communityshow{
	from{opacity:0;}
	to{opacity:1;}
}
.community ul li{position:relative; padding:0; margin:1px; display:block; text-align:center; width:50px; height:50px; border-radius:25px;}
.community ul li a{position:absolute; right:0; top:0; display:inline-block; width:50px; height:50px; border-radius:25px; -webkit-transition:500ms; -moz-transition:500ms; transition:500ms; overflow:hidden;}
.community ul li a:hover{width:140px;}
.community ul li a .label{display:inline-block; margin-right:35px; width:0; line-height:50px; text-align:center; vertical-align:top; font-weight:bold; color:#fff; border-radius:3px; overflow:hidden;}
.community ul li a:hover .label{width:90px;}
.community ul li a img{position:absolute; right:0; top:0; width:50px; vertical-align:top;}

/** 上版 **/
header {background: rgba(255,255,255,.9);min-height: 66px;position: fixed; width: 100%;z-index: 999;}
.head-main {max-width: 1200px; margin: 0 auto;position: relative;min-height: 66px;}
.head-main .logo {width: 265px;position: absolute; top:8px;left:5px;}
.head-main .logo a {display: block;}
.head-main .logo img {width: 100%;}

/***  選單與下拉  ***/
nav {max-width: 420px;position: absolute;top:0; right: 0;overflow: hidden;}
.menu { padding:0; list-style:none; position:relative; margin:0;display: flex;}
.menu>li { color:#333;flex: 1;min-width: 105px; font-size:18px; text-align:center; position:relative; cursor:pointer;}
.menu>li>a { color:#333; display:block;padding:19px 8px;position: relative;}
.menu>li>a:after {content: "";display: block; width:3px; height: 20px;background: #666;margin: 0;position: absolute;bottom:-50%;left: calc(50% - 1.5px);opacity: 0;transition: all 0.3s ease 0s;}
.menu>li>a:hover {color: #666;position: relative;}
.menu>li>a:hover:after {content: "";display: block; width:3px; height: 20px;background: #666;margin: 0;position: absolute;bottom:0;left: calc(50% - 1.5px); opacity: 1;transition: all 0.3s ease 0s;}
@media screen and (max-width:750px) {
.slicknav_menu { display:none;}
.js #menu {	display:none;}
.js .slicknav_menu {display:block;position: fixed; width: 100%;z-index:99;background: rgba(255,255,255,.95);}
header {min-height:inherit;}
.head-main {min-height: inherit;}
.head-main .logo {width:200px;position:fixed; top:6px;left:5px;z-index:99;}
}

/** edm **/
.edm{position: relative;}
.edm:after{content: "";display: block;background: url(../images/bottom.png)no-repeat bottom center; background-size: contain;width: 100%;height: 130px;position: absolute;bottom: 0;left: 0;}
@media screen and (max-width:750px) {
.edm{padding: 48.59px 0 0 0;}
}

/** 錨點 **/
.anchor{position: absolute;bottom: 0;left: 0;height: 66px;}
@media screen and (max-width:750px) {
.anchor{position: absolute;bottom: 0;left: 0;height:48px;}
}

/** 關於我們 **/
.i-about-main{padding:30px 10px;position: relative;}
.i-about{max-width: 1200px;margin: 0 auto;}
.i-about .i-about-information{margin: 0 0 0 46%;}
.i-about .i-about-information h2{margin:5px 0 10px 0;line-height: 1.2;padding: 0;font-weight: normal;}
.i-about .i-about-information h2 .i-about-en{font-family: "Times New Roman"; text-transform: uppercase; font-size:44px;color: #333333;display: inline-block;}
.i-about .i-about-information h2 .i-about-ch{font-size:22px;color: #666666;display: inline-block;padding: 0 0 0 10px;}
.i-about .i-about-information h2 .i-about-ch:after{content: "";display:inline-block;background: #666666; width: 20px; height: 3px;margin: 0 0 5px 20px;}
.i-about .i-about-information .i-about-contact{font-size: 16px; color: #333333;padding: 20px 0;}
@media screen and (max-width:1200px) {
.i-about-main{ background: #fff url(../images/about_bg.png)no-repeat left 40% top;background-size:cover;}
}
@media screen and (max-width:900px) {
.i-about-main{ background: #fff url(../images/about_bg.png)no-repeat center top;background-size:cover;}
.i-about .i-about-information{margin: 0;}
.i-about .i-about-information h2{margin:5px 5px 10px 5px;}
.i-about .i-about-information .i-about-contact{background: rgba(255,255,255,.8);margin: 5px;padding: 10px;}
}
@media screen and (max-width:475px) {
.i-about .i-about-information h2{text-align: center;}
.i-about .i-about-information h2 .i-about-en{display: block;}
.i-about .i-about-information h2 .i-about-ch{display: block;padding:0;}
.i-about .i-about-information h2 .i-about-ch:after{content: "";display:block;background: #666666; width:3px; height: 20px;margin:5px auto 0 auto;}
}

/** 最新消息 **/
.i-news-bg{background-color: #fff;background-image:url(../images/news_bg.png);background-attachment: fixed;background-repeat: no-repeat;background-position: center center;background-size:cover;}
.i-news-main{padding:60px 10px 120px 10px;position: relative;}
.i-news-main:after{content: "";display: block;background: url(../images/bottom.png)no-repeat bottom center; background-size: contain;width: 100%;height: 130px;position: absolute;bottom:0px;left: 0;}
.i-news{max-width: 1200px;margin: 0 auto;}
.i-news h2{margin:5px 0 10px 0;text-align: center;line-height: 1.2;padding: 0;font-weight: normal;}
.i-news h2 .i-news-en{font-family: "Times New Roman"; text-transform: uppercase; font-size:44px;color: #333333;}
.i-news h2 .i-news-ch{font-size:22px;color: #666666;padding: 0;}
.i-news h2 .i-news-ch:after{content: "";display:block;background: #666666; width:3px; height: 20px;margin:5px auto 0 auto;}
.i-news ul{list-style: none;padding: 0;margin:0 50% 0 0;}
.i-news ul li{padding: 0;margin:10px 0;display: flex;align-items: center;color:#333;}
.i-news ul li:hover{background: #eeeeee; border-radius: 70px;}
.i-news ul li .date{width: 70px; height: 70px;font-family: "Times New Roman"; text-transform: uppercase; font-size:15px;color: #fff; text-align: center; border-radius: 70px;line-height: 22px;padding: 14px 5px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,000000+100 */
background: rgb(102,102,102); /* Old browsers */
background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
.i-news ul li .date .year{font-family: "Times New Roman";font-size:14px;color: #fff;}
.i-news ul li .i-news-contect{flex: 1;font-size: 16px; color: #333;margin: 0 0 0 5px;width: 100%;padding: 5px 10px;}
@media screen and (max-width:1100px) {
.i-news ul{margin: 0 30% 0 0;}
}
@media screen and (max-width:900px) {
.i-news-main{ padding:30px 10px 60px 10px;}
.i-news-main:after{height:80px;}
.i-news ul{background: rgba(255,255,255,.8);margin: 5px;padding: 10px;}
}
@media screen and (max-width:640px) {
.i-news-main{ padding:30px 10px 50px 10px;}
.i-news-main:after{height:60px;}
.i-news ul{margin:0 0% 0 0;}
.i-news ul li:hover{border-radius:0px;}
}

/** 產品介紹 **/
.i-product-main{padding:30px 0px;position: relative;}
.i-product{}
.i-product h2{margin:5px 0 10px 0;text-align: center;line-height: 1.2;padding: 0;font-weight: normal;}
.i-product h2 .i-product-en{font-family: "Times New Roman"; text-transform: uppercase; font-size:44px;color: #333333;}
.i-product h2 .i-product-ch{font-size:22px;color: #666666;padding:0;}
.i-product h2 .i-product-ch:after{content: "";display:block;background: #666666; width:3px; height: 20px;margin:5px auto 0 auto;}
.i-product .i-product-information {padding:10px;}
.i-product .i-product-information .i-product-name{font-size: 16px; color: #333333;}
.i-product .i-product-information .i-product-contect{font-size: 15px; color: #666666;line-height:1.4em;}
@media screen and (max-width:1200px) {
.i-product-main{padding:30px 10px;}
}
/*****  聯絡我們  *****/
.i-contact-main{background-image:url(../images/contact_bg.jpg);background-attachment: fixed;background-position: center center; background-repeat: no-repeat; background-size:cover;padding:0;}
.i-contact{max-width:1200px; margin:0 auto;}
.i-contact .i-contact-information{margin: 0 0 0 60%; background: rgba(255,255,255,.9);padding:40px;}
.i-contact .i-contact-information h2{margin:5px 0 10px 0;line-height: 1.2;padding: 0;font-weight: normal;}
.i-contact .i-contact-information h2 .i-contact-en{font-family: "Times New Roman"; text-transform: uppercase; font-size:44px;color: #333333;display: inline-block;}
.i-contact .i-contact-information h2 .i-contact-ch{font-size:22px;color: #666666;display: inline-block;padding: 0 0 0 10px;}
.i-contact .i-contact-information h2 .i-contact-ch:after{content: "";display:inline-block;background: #666666; width: 20px; height: 3px;margin: 0 0 6px 20px;}
.i-contact .i-contact-information .i-contact-contact{font-size: 16px; color: #333333;padding:20px 0;}

/***  表單欄位  ***/
.form-box {}
.opinion { position: relative; }		  
.input-main-style01 {background:#fff;width:100%; border:1px #999 solid;; margin:0; padding:5px 56px 5px 10px; font-size:18px; font-family:"微軟正黑體","arial"; color:#333; line-height:1.8em;min-height: 48px;margin-bottom:10px;}
.input-main-style02 {background:#fff;width:100%; border:1px #999 solid;; margin:0; padding:5px 10px;line-height:1.8em; font-size:18px;  font-family:"微軟正黑體","arial"; color:#333;margin-bottom:2px; }
.input-main-style03 { background:#fff;width:100%; border:1px #999 solid;; margin:0; padding:5px 148px 5px 10px;font-size:18px;  font-family:"微軟正黑體","arial"; color:#333;line-height:1.8em;margin-bottom:10px;min-height: 48px;}
.form-icon{position: absolute; top: 1px;right: 1px; background: #666; color: #fff; font-size:26px;width: 46px; height: 46px;display: flex; align-items: center;justify-content: center;}
.cart-btn{max-width: 260px; margin:20px auto 0 auto;display: flex;}
input.btn-send { background: #333; padding:4px 20px; text-align:center; font-size:18px; color:#fff;flex: 1; margin:0 0 0 3px ;box-shadow: 0 0 0 3px #333;border: 1px #fff solid;font-family: "微軟正黑體";}
input.btn-send:hover { background: #000;}
input.btn-reset { background:#a0a0a0;  padding:4px 20px; text-align:center; font-size:18px; color:#fff; flex: 1;margin:0 3px 0 0;box-shadow: 0 0 0 3px #a0a0a0;border: 1px #fff solid;font-family: "微軟正黑體";}
input.btn-reset:hover { background:#999;}
.code {position: absolute; top:1px;right:1px;width: 138px; height: 46px; }
.code img{width: 100%;}
.input-main-style01:focus, .input-main-style02:focus, .input-main-style03:focus {background: #eee;}
.input-main-style01:focus + label{background:#333;}

@media screen and (max-width:1200px) {
.i-contact .i-contact-information{margin: 0 0 0 40%; }
}
@media screen and (max-width:840px) {
.i-contact .i-contact-information{margin: 0 0 0 30%;  }
}
@media screen and (max-width:730px) {
.i-contact .i-contact-information{margin: 0; padding:30px 20px 30px 20px;}
}
@media screen and (max-width:475px) {
.i-contact .i-contact-information h2{text-align: center;}
.i-contact .i-contact-information h2 .i-contact-en{display: block;}
.i-contact .i-contact-information h2 .i-contact-ch{display: block;padding: 5px 0 0 0;}
.i-contact .i-contact-information h2 .i-contact-ch:after{content: "";display:block;background: #666666; width:3px; height: 20px;margin:5px auto 0 auto;}
}

/** top */
#scrollUp {background-image: url("../images/top.png"); bottom:-5px; right:20px; width:38px;    /* Width of image */height: 38px;   /* Height of image */}

/******  底部資訊  ******/
footer { background:#333;padding: 15px 10px; }
footer .footer { max-width:1200px; margin:0 auto;display: flex;align-items: flex-end; }
footer .footer .f-information {flex: 1; display: flex;align-items: center;} 
footer .footer .f-information .f-logo{min-width: 67px;width: 67px;margin: 0 20px 0 0; } 
footer .footer .f-information .f-logo img{width: 100%;} 
footer .footer .f-information .f-contact{flex: 1;font-size: 14px; color: #fff; } 
footer .footer .f-information .f-contact span{padding: 0 10px 0 0;} 
footer .footer .f-information .f-contact a{color: #fff; } 
footer .footer .f-information .f-contact a:hover{color: #77d48c; } 
footer .footer .copyright {flex: 1;font-size: 12px; color: #fff;text-align: right; line-height: 20px; } 
footer .footer .wd {font-size: 12px; color: #fff; } 
footer .footer .wd a{color: #fff; } 
footer .footer .wd a:hover{color: #77d48c; } 
@media screen and (max-width:1192px) {
footer .footer {display:block; }	
footer .footer .f-information {width:600px; margin: 0 auto;} 
footer .footer .copyright {text-align:center;width:600px; margin: 0 auto;padding: 10px 0 0 0; } 
}
@media screen and (max-width:630px) {
footer { padding:10px 10px; }
footer .footer .f-information {display:block;width:inherit; margin: 0 auto;} 
footer .footer .f-information .f-logo{min-width: 67px;width: 67px;margin:0 auto 5px auto; } 
footer .footer .f-information .f-contact{text-align: center;} 
footer .footer .copyright {width:inherit; margin: 0 auto;padding: 5px 0 0 0;} 
}
@media screen and (max-width:550px) {
footer .footer .f-information .f-contact span{padding:0; width: 100%;display: block;} 
footer .footer .f-information .f-contact br{display: none;} 
}


/* The Falling Snow Effect - https://www.kirupa.com/html5/the_falling_snow_effect.htm */
#snowflakeContainer{position:absolute; left:0px; top:0px; display:none; z-index:9999;}
.snowflake{position:fixed; user-select:none; z-index:1000; pointer-events:none; border-radius:50%; width:10px; height:10px;}
#snowflakeContainer .snowflake:nth-child(3n+1){position:fixed; user-select:none; z-index:1000; pointer-events:none; border-radius:50%; width:25px; height:28px;	background-image:url(../images/snow1.png);	background-size:contain;}
#snowflakeContainer .snowflake:nth-child(3n+2){position:fixed; user-select:none; z-index:1000; pointer-events:none; border-radius:50%; width:25px; height:29px;	background-image:url(../images/snow2.png);	background-size:contain;}
#snowflakeContainer .snowflake:nth-child(3n+3){position:fixed; user-select:none; z-index:1000; pointer-events:none; border-radius:50%; width:15px; height:17px;	background-image:url(../images/snow3.png);	background-size:contain;}