@charset "utf-8";
@import url('Noto+Sans+TC-300+400+500+700.css');
html{font-size:16px;}
body{font-weight:300; line-height:1.8; font-family:'Noto Sans TC', 'Microsoft JhengHei', sans-serif, Verdana, Arial; color:#333;}
@media (min-width:576px){
  .container{max-width:unset;}
}
@media (min-width:992px){
  .container{max-width:unset;}
  .row{max-width:unset;}
}
@media (min-width:1200px){
  .container{max-width:unset;}
  .row{max-width:unset;}
}
@media (min-width:1240px){
  .container{max-width:1210px;}
  .row{max-width:unset;}
}
section{padding:20px 0;}
:focus{outline:none;}
::placeholder{color:#cccccc; opacity:1;}
::-webkit-input-placeholder{color:#cccccc;}
::-moz-placeholder{color:#cccccc;}
::-ms-input-placeholder{color:#cccccc;}
:-ms-input-placeholder{color:#cccccc;}
input:-moz-placeholder{color:#cccccc;}
.form-control::placeholder{color:#ccc;}
.main-title{text-align:center; margin-bottom:40px;}
.section-title{margin:20px 0 10px; font-weight:500; font-size:2.25rem;}
.section-desc{font-weight:300; font-size:1.5rem;}
.article-title{position:relative; background:url("../image/title-bg.png") no-repeat 60px bottom; margin:0 0 20px; padding:0 0 20px; font-weight:500; font-size:2rem;}
.article-title:before{content:""; position:absolute; left:-25px; top:-16px; display:block; width:60px; height:60px; background-color:var(--warning); border-radius:50%; z-index:-1;}
.article-title:after{content:""; position:absolute; left:-18px; top:-11px; display:block; width:55px; height:55px; background-color:var(--white); border-radius:50%; z-index:-1;}
.article-desc{font-weight:300; font-size:1.125rem;}
.small-column{max-width:600px; margin:0 auto;}
a,a:hover{text-decoration: none;transition: all 0.3s ease 0s;}

/* HEADER */
.header{background-color:var(--white); max-width:1240px; margin:0 auto;}
.header .logo{margin:56px 0 5px;}
.header .logo a{display:flex; align-items:center; justify-content:center;}
@media (min-width:768px){
  .header .logo{margin:10px 0;}
  .header .logo a{display:flex; align-items:center; justify-content:left;}
}
.header .logo a:hover{text-decoration:none;}
.header .logo a img{margin-right:10px; max-height:48px;}
.header .logo a h1{margin:0; font-weight:500; font-size:1.5rem; color:#323232;}

/* 主要產品圖 */
.main-image{padding:0;}
.main-image .container{padding:0;}
.main-image .main-content{position:relative;}
.main-image .main-content .media-container img{width:100%;}
.main-image .text-container{display:flex; flex-wrap:wrap; position:absolute; left:0; top:0; padding:20px; width:100%; height:100%; justify-content:center; align-items:flex-start; color:var(--white);}
.main-image .text-container h1{display:block; font-size:2.25rem; text-align:center;}
.main-image .text-container .section-desc{display:block;}

/* 主要介紹影片 */
.main-video{padding:0;}
.main-video .container{padding:0;}

/* YouTube iframe 自動縮放 */
.video-container{position:relative; margin:0 auto; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; max-width:100%;}
.video-container iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

/* 內容1:圖片比對 */
.content-1 {}
.content-1 .container{padding:0;}
.content-1 .main-title h1{display:inline-block; position:relative;}
.content-1 .main-title h1:before{content:""; position:absolute; left:-20px; bottom:-5px; display:block; width:calc(100% + 40px); height:20px; background-color:var(--warning); border-radius:8px 8px 0 0; z-index:-1;}

/* 內容2:左圖右文 */
.content-2 {}
.content-2 .col-sm-12{padding:0;}
.content-2 .main-content{-ms-flex-align:center; align-items:center;}
.content-2 .main-content .media-container{align-self:flex-start;}
.content-2 .main-content .text-container{padding:0 25px 0 50px;}
@media (max-width:768px){
  .content-2 .main-content .text-container{padding:20px 25px 0 50px;}
}

/* 內容3:右圖左文 */
.content-3 {}
.content-3 .col-sm-12{padding:0;}
.content-3 .main-content{-ms-flex-align:center; flex-direction:column-reverse; align-items:center;}
@media (min-width:768px){
  .content-3 .main-content{flex-direction:row;}
}
.content-3 .main-content .media-container{align-self:flex-start;}
.content-3 .main-content .text-container{padding:0 50px 0 25px;}
@media (max-width:768px){
  .content-3 .main-content .text-container{padding:20px 50px 0 25px;}
}


/* 內容4:單品加購物車 */
.content-4 {}
.content-4 .section-title{display:inline-block; border:8px solid var(--warning); border-top:1px solid var(--warning); border-bottom:1px solid var(--warning); padding:10px 30px; border-radius:0 20px 0 20px;}
.content-4 .section-desc{display:inline-block; background-color:#f3f3f3; padding:5px 25px; font-size:1.2rem;}
.content-4 .container{padding:0;}
.content-4 article{background-color:var(--white); padding:15px 0;}
.content-4 .main-content{-ms-flex-align:center; align-items:center;}
.content-4 .media-container .s-tag.crown{position:absolute; top:-10px; right:10px; display:block; width:77px; height:77px; font-size:2rem; font-weight:300; color:#000; text-align:center; line-height:77px; border-radius:50%; background:var(--warning) url("../image/crown.png") no-repeat center center; -moz-background-size:50px; -webkit-background-size:50px; -o-background-size:50px; background-size:50px;}
.content-4 .summary{padding:20px; text-align:center;}
.content-4 .summary h1{position:relative; margin:0 0 15px; padding-bottom:15px; font-size:1.75rem;}
.content-4 .summary h1:after{content:""; position:absolute; bottom:0; left:calc(50% - 25px); display:block; width:50px; height:3px; border:1px solid #ddd;}
.content-4 .price{font-size:1.125rem; color:var(--danger);}
.content-4 .price ins{font-weight:500; margin-left:1rem; text-decoration:none;}
.content-4 .price del{opacity:.5;}
.content-4 .stock{font-size:1rem; color:var(--info);}
.content-4 .product-addon{font-size:1rem; margin-bottom:1rem;}
.content-4 .product-addon h3{font-size:1.5rem;}
.content-4 .product-addon label{display:block; margin:1 0;}
.content-4 .product-addons-total{display:table; margin-bottom:1rem;}
.content-4 .product-addons-total dt, .content-4 .product-addons-total dd{float:left; width:50%;}
.quantity-adjustment{margin:0 5px 1rem 0;}
.quantity-adjustment-wrapper{display:inline-block; background-color:#fff; border:1px solid #444;}
.quantity-adjustment input[type="button"]{-webkit-appearance:none; background-color:#f1f3f4; color:#444; width:40px; height:40px; border:0; text-align:center; font-weight:700; font-size:20px; line-height:1; float:left;}
.quantity-adjustment input::-webkit-outer-spin-button, .quantity-adjustment input::-webkit-inner-spin-button{-webkit-appearance:none;} /* Chrome, Safari, Edge, Opera */
.quantity-adjustment input[type=number]{-webkit-appearance:none; -moz-appearance:textfield; padding:0; font-size:20px; text-align:center; border:0; height:40px; border-left:0; border-right:0; float:left;}

/* 內容5:編輯器編輯區 */
.content-5 {}

/* 內容6:套裝加購物車 */
.content-6{padding:0 0 50px;}
.content-6 > .container{position:relative; background-color:#fafafa; border:3px solid #fff; border-radius:20px; padding:30px 0; box-shadow:0 0 3px #aaa, 0 0 3px #ddd inset;}
.content-6 > .container::before, .content-6 > .container::after{content:""; position:absolute; width:36px; height:36px; background:url(../image/past_sign.svg) center center no-repeat; background-size:100% auto; opacity:.15;}
.content-6 > .container::before{left:0; top:-40px;}
.content-6 > .container::after{right:0; bottom:-40px; -webkit-transform:rotate(180deg); transform:rotate(180deg);}
.content-6 .se-img figure{height:100%; background:url("../image/istockphoto-1131370269-1024x1024.jpg") no-repeat center center; background-size:cover;}
.content-6 h3{position:relative; margin:30px 0 10px;}
.content-6 h3:before{content:"★★★★★"; position:absolute; left:0; top:-30px; color:var(--warning); font-size:1.5rem;}
.content-6 .se-txt{font-size:1.25rem; margin-bottom:1rem;}
.content-6 .se-txt strong{font-size:1.5rem; color:var(--danger);}
.content-6 .prod-set{margin-bottom:5px; padding:10px; background-color:var(--warning); font-weight:400; font-size:1rem; line-height:1.5;}
.content-6 .prod-set.select-option{background-color:var(--warning);}
.content-6 .prod-set.select-option select{border:0; font-size:1.125rem; height:2.5rem;}
.content-6 .prod-set .ps-text span{display:inline-block;}
.content-6 .prod-set .ps-text .prod-name{margin-right:.5rem;}
.content-6 .prod-set .ps-text .price small{font-weight:300; text-decoration:line-through; opacity:.5;}
.content-6 .prod-set .ps-text .price .s-price{color:var(--danger);}

/* 購物清單 */
.shopping-list{padding-top:56px;}
.shopping-cart .cart-button{font-size:1.125rem; font-weight:400; border-radius:5px; padding:12px 18px; text-align:center;}
.shopping-cart .cart-button.no-goods{background-color:#fcfcfc;}
.shopping-cart .cart-toolbar{text-align:right; padding-bottom:10px;}
.shopping-cart .cart-toolbar .modify-order{display:inline-block; background-color:var(--white); border:1px solid #323232; border-radius:3px; padding:10px 15px; line-height:1; font-weight:500; cursor:pointer;}
.shopping-cart .cart-list{list-style:none;}
.shopping-cart .cart-list .cart-item{position:relative;}
.remove-button{display:block; width:20px; height:20px; font-size:15px; line-height:20px; text-align:center; color:var(--white); background-color:#f00; border-radius:50%; text-decoration:none;}
.shopping-cart .cart-list .cart-item .item-image{font-size:1.5rem;}
.shopping-cart .cart-list .cart-item .item-image img{float:right; width:auto; height:auto; max-width:32px; max-height:32px;}
.shopping-cart .cart-list .cart-item .addition-items{margin:0; padding:0 0 .5rem 1rem; border-left:1px solid #ccc;}
.shopping-cart .cart-list .cart-item .subtotal-box{height:30px;}
.shopping-cart .cart-list .cart-item .item-subtotal{float:left; line-height:30px; margin-right:30px;}
.shopping-cart .cart-total{padding-left:1rem; font-weight:500;}

/* 帳單資訊 */
.billing-info {}
.billing-info .container .col-sm-12{padding:18px; background-color:var(--white); border:1px solid #ccc; border-radius:2px;}
.billing-info form .shipping, .billing-info form .invoice, .billing-info form .your-order{margin-top:10px;}
.billing-info form .shipping, .billing-info form .invoice label{display:block;}
.billing-info form .shipping .shipping-title{font-weight:500; color:#000;}
.billing-info form h3{background-color:#f3f3f3; margin:0 0 20px; padding:10px 20px; font-size:1.3125rem; text-align:center;}
.billing-info form .form-row{margin:0;}
.billing-info form label abbr[title], .billing-info form label abbr{font-weight:bold; color:var(--danger); text-decoration:none;}
.billing-info form input[type="text"], .billing-info form textarea{display:block; box-sizing:border-box; width:100%; margin:0; outline:0; border:1px solid #ddd; padding:8px; border-radius:2px;}
.billing-info form .form-row{margin-bottom:.8rem;}
.billing-info form .form-row label{font-weight:400; color:#000;}
.billing-info form .your-order .order-table{width:100%;}
.billing-info form .your-order .order-table tr {}
.billing-info form .your-order .order-table th, .billing-info form .your-order .order-table td{padding:9px 12px 9px 0; font-weight:400; border-bottom:1px solid #ccc;}
.billing-info form .your-order .order-table .cart-item td{padding:15px 12px 15px 0;}
.billing-info form .your-order .order-table .product-total{vertical-align:top;}
.billing-info form .shipping ul.shipping_methods{list-style:none; margin:0; padding:0;}
.invoice .form-row{padding-left:1rem;}
.order-total strong{color:var(--danger);}
.payment .payment_methods{list-style:none; margin:0; padding:20px 0;}
.payment select{display:block; box-sizing:border-box; width:100%; margin:0; outline:0; border:1px solid #ddd;}

/* 線上聊天 */
.live-chat {}
.live-chat ul{margin:0; padding:0; list-style:none;}
.live-chat ul li{margin:0 0 1rem; border-radius:5px;}
.live-chat ul li.line-button{background-color:var(--success);}
.live-chat ul li.line-button:hover{background-color:#218838;}
.live-chat ul li.facebook-button{background-color:var(--primary);}
.live-chat ul li.facebook-button:hover{background-color:#0069d9;}
.live-chat ul li a{display:block; padding:12px 18px; font-size:1.125rem; font-weight:400; color:var(--white); text-align:center; text-decoration:none;}
.live-chat ul li a i{margin:0 .5rem;}

/* 常見問題 */
.faq {}

/* 購物說明 */
.shopping-guide{padding:40px 0; background-color:var(--dark); color:var(--white);}
.shopping-guide .section-title{font-weight:500; font-size:1.125rem;}
.shopping-guide .section-desc{font-size:1rem;}
.shopping-guide ul{margin-bottom:1rem;}
.shopping-guide li{margin:5px 0 5px 25px;}

/* FOOTER */
.footer{padding:25px; font-weight:normal; font-size:1rem;}

/* 浮動icon */
.icon-float{position:fixed; bottom:80px; right:15px; margin:10px; z-index:9999;}
.icon-float ul{display:flex; flex-wrap:wrap-reverse; flex-direction:column-reverse; margin:0; padding:0; list-style:none; width:auto; max-height:calc(100vh - 100px);}
.icon-float ul li{text-align:center; padding:0; margin:3px; font-size:1rem; color:var(--white);}
.icon-float a{display:block; width:50px; height:50px; border-radius:50%;}
.icon-float a.icon000{background-color:var(--warning); font-size:1.5625rem; line-height:50px; font-family:FontAwesome; color:var(--white); text-align:center;}
.icon-float a.icon000:hover{background:transparent; color:var(--warning); border:1px solid var(--warning);}
.icon-float a.icon001{position:relative; background-color:var(--danger); font-size:1.5625rem; line-height:50px; font-family:FontAwesome; color:var(--white); text-align:center;}
.icon-float a.icon001:hover{background:transparent; color:var(--danger); border:1px solid var(--danger);}
.icon-float a.icon001 .badge{position:absolute; right:0; top:0; display:block; padding:0; background-color:var(--dark); width:20px; height:20px; line-height:20px; font-weight:normal; font-size:12px; font-family:"Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; border-radius:20px;}
.icon-float a.icon001:hover .badge{background-color:var(--danger);}
.icon-float a.icon002{background-color:var(--info); font-size:1.5625rem; line-height:50px; font-family:FontAwesome; color:var(--white); text-align:center;}
.icon-float a.icon002:hover{background:transparent; color:var(--info); border:1px solid var(--info);}
.icon-float a.icon003{background-color:var(--primary); font-size:1.5625rem; line-height:50px; font-family:FontAwesome; color:var(--white); text-align:center;}
.icon-float a.icon003:hover{background:transparent; color:var(--primary); border:1px solid var(--primary);}

/* 限時搶購 */
.fixed-countdown{position:fixed; top:10px; padding:5px 10px; z-index:1000; text-align:center; background-color:rgba(255, 193, 7, .7); color:var(--white); border-radius:16px; text-decoration:none;}
@media screen and (max-width:400px){
  .fixed-countdown{font-size:1rem;}
}
.fixed-countdown i{color:white; margin-left:5px;}

/* 加入購物車 */
.add-cart{position:fixed; bottom:0; width:100%; height:72px;}
.add-cart button{padding:0; width:100%; height:72px; line-height:72px; border-radius:0;}


/* 一頁式團購網 */
#product-list{}
#product-list header h1 a{font-weight:500; font-size:1.5rem; color:#323232; text-decoration:none;}
#product-list header .search{margin-bottom:30px; padding:15px; background-color:var(--warning); font-weight:400; font-size:18px; color:black; border-radius:5px;}
#product-list header .search .label-txt{margin-bottom:0;}
#product-list header .search input{padding:5px 10px; border:0; border-radius:3px; max-width:100%;}
select#class-search{padding:5px 10px; border:0; border-radius:3px; max-width:100%;}
#product-list a:hover{text-decoration:none;}
#product-list .card{border:2px solid #dfdfdf;}
#product-list .card:hover{border:2px solid var(--warning);}
#product-list .card-title{font-weight:500; font-size:1.5rem; color:#323232;}
#product-list .card .price{display:block; padding:0.5rem 1rem; width:100%; font-weight:500; font-size:1.25rem; line-height:1.5; border-radius:0.3rem; background-color:white; color:var(--danger); text-align:center; border:1px solid var(--danger); transition: all 0.3s ease-in-out;}
#product-list .card:hover .price{background-color:var(--danger); color:white;}
#product-list .card-text{font-weight:300; font-size:1.2rem; color:#333;}
#product-list .card .member i{margin-right:10px; font-size:20px; color:var(--info);}
#product-list .card .member{font-weight:500; color:#000;}

/** 團購列表上版**/
.group-buy{}
.group-buy>header{position: fixed;width: 100%;top: 0;left: 0;z-index: 10000;padding:0 15px;border-bottom: 1px #d0111b solid;background: #ffffff;clear: both;}
.group-buy>header .head{display: flex;align-items: center;}
.group-buy>header .head .logo{min-width: 164px; width: 164px;padding: 10px 0;}
.group-buy>header .head .logo img{width: 100%;}
.group-buy>header .head .search{flex: 1;background: #d0111b;transform-origin:bottom;transform:skewX(-30deg);margin: 0 5%;padding: 10px 40px;display: flex;justify-content: center;align-items: center;min-height: 70px;}
.group-buy>header .head .search .keyword{display: flex;transform:skewX(30deg);margin: 0 38px 0 0;flex:1;}
.group-buy>header .head .search .industry{display: flex;transform:skewX(30deg);flex: 1;}
.group-buy>header .head .search .search-title{font-size: 20px; color: #ffffff;min-width: 80px;margin: 0 15px 0 0;}
.group-buy>header .head .search .search-field{font-size:18px; color: #000000;flex: 1;}
.group-buy>header .head .search .search-field .search-input01{border-radius: 3px;border: 0;background: #ffffff;width: 100%;min-width: 380px;min-height: 40px;padding: 4px 15px;font-size: 18px; font-family:'Noto Sans TC', 'Microsoft JhengHei', sans-serif, Verdana, Arial;}
.group-buy>header .head .search .search-field .search-input01::placeholder{color: #999999;}
.group-buy>header .head .search .search-field .search-input02{border-radius: 3px;border: 0;background: #ffffff url(../image/select-icon.png)no-repeat right 15px center;width: 100%;min-width: 280px;min-height: 40px;padding: 4px 40px 4px 15px;font-size: 18px; font-family:'Noto Sans TC', 'Microsoft JhengHei', sans-serif, Verdana, Arial;/*將預設的select選擇框樣式清除*/appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;}
.group-buy>header .head .note{min-width: 144px; width: 144px;font-size: 24px; color: #000000;padding: 10px 0;font-style: italic;}
select::-ms-expand { display: none; }   
@media screen and (max-width:1470px){
	.group-buy>header .head .search .keyword{margin: 0 25px 0 0;}
	.group-buy>header .head .search .search-field .search-input01{min-width: inherit;}
	.group-buy>header .head .search .search-field .search-input02{min-width: inherit;}
}
@media screen and (max-width:1140px){
	.group-buy>header{padding:0 0 0 15px;}
	.group-buy>header .head .search{margin: 0 40px 0 30px;}
	.group-buy>header .head .logo{min-width: 100px; width: 90px;padding:32px 0 5px 0;}
	.group-buy>header .head .note{position:fixed;top: 5px;left:15px;font-size: 18px;padding: 0;line-height: 1.4;}
}
@media screen and (max-width:860px){
	.group-buy>header .head .search{display: block;transform:skewX(0deg);margin: 0 0 0 30px;padding: 10px 20px;}
	.group-buy>header .head .search .keyword{margin: 0 0 5px 0;transform:skewX(0deg);}
	.group-buy>header .head .search .industry{transform:skewX(0deg);}
	.group-buy>header .head .search .search-title{font-size: 17px; min-width:90px;text-align: right;}
	.group-buy>header .head .search .search-field{font-size:15px;}
	.group-buy>header .head .search .search-field .search-input01{width: 100%;font-size:15px;min-height: 36px;}
	.group-buy>header .head .search .search-field .search-input02{width: 100%;font-size:15px;min-height: 36px;}
	.group-buy>header .head .logo{padding:35px 0 10px 0;}
	.group-buy>header .head .note{top: 10px;}
}
@media screen and (max-width:450px){
	.group-buy>header{padding:0;}
	.group-buy>header .head .search{margin: 0;}
	.group-buy>header .head .logo{display: none;}
	.group-buy>header .head .note{display: none;}
}

/** 團購列表內容 **/
.group-buy>section{padding: 70px 10px 50px 10px;background: url(../image/group-buy_bg.png)no-repeat top 90px center;clear: both;}
.group-buy>section .group-buy-list{max-width: 1265px; margin: 0 auto;padding:210px 0 0 0;}

/** 瀑布流 **/
.grid {}
.grid:after {content: '';display: block;clear: both;}
.grid-sizer,.grid-item {width:calc(25% - 16px);margin: 8px;padding: 0;}
.grid-item {float: left;border: 1px #eeeeee solid;border-bottom: 6px #dddddd solid;background: #ffffff;}
.grid-item img {display: block;max-width: 100%;}
.grid-item .group-buy-photo{background: #ffffff;overflow: hidden;}
.grid-item .group-buy-photo img{width: 100%;transform:scale(1);transition: all 0.8s ease 0s;}
.grid-item .group-buy-information{padding: 15px 10px;line-height: 1.6;}
.grid-item .group-buy-information h3{padding: 0;margin: 0;font-size: 20px; color: #000000;line-height: 1.6;font-weight:normal;}
.grid-item .group-buy-information .group-buy-industry{font-size: 14px; color: #d0111b;padding: 5px 0;}
.grid-item .group-buy-information .group-buy-content{font-size: 16px; color: #333333;}
.grid-item:hover {border: 1px #d0111b solid;border-bottom: 6px #d0111b solid;}
.grid-item:hover .group-buy-photo img{transform:scale(1.1);transition: all 0.8s ease 0s;}
@media screen and (max-width:860px){
	.group-buy>section{padding: 50px 10px 30px 10px;background:none;}
	.group-buy>section .group-buy-list{padding:55px 0 0 0;}
	.grid-sizer,.grid-item {width:calc(33.3333% - 10px);margin: 5px;}
}
@media screen and (max-width:575px){
	.grid-sizer,.grid-item {width:calc(50% - 10px);}
	.grid-item .group-buy-information h3{font-size: 18px;}
	.grid-item .group-buy-information .group-buy-industry{font-size: 13px;}
	.grid-item .group-buy-information .group-buy-content{font-size: 15px; }
}

/** 團購列表下版 **/
.group-buy>footer{background: #eeeeee;border-top:1px #cccccc solid;padding: 6px 15px;clear: both;}
.group-buy>footer .footer{font-size: 12px; color: #000000;text-align: center;text-transform: uppercase;padding: 0;}
/*清除ie的預設選擇框樣式清除，隱藏下拉箭頭*/
.copyright{font-size: 12px; color: #000000;}
.footer-logo{display: none;}
.footer-logo img{width: 100%;}
.footer-note{display: none;}
@media screen and (max-width:450px){
	.footer-logo{display:block;width: 130px;margin: 5px auto;}
	.footer-note{display:block;font-size: 18px; color: #000000;font-style: italic;}
}