@charset "utf-8";
@import"font-awesome.min.css";

body { background:#fff; margin:0; padding:0; font-family:"微軟正黑體",arial; font-size: 14px; line-height:1.8;color: #333;}
html { margin:0; padding:0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a, a:link, a:active, a:visited, a:hover { text-decoration:none;transition: all 0.3s ease 0s;}
img { border:0; vertical-align:middle;max-width: 100%;}
input { vertical-align:middle;}
input.select-box { border:1px #CBCBCB solid; padding:5px 3%; width:20px; height:20px; text-align:center; margin-bottom:5px; }
input,textarea,select:focus{outline: 0;}
/*** padding and border no width ****/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/** 表單預設文字顏色設定 **/
/* 通用 */
::-webkit-input-placeholder { color:#999999;font-family: "微軟正黑體"; font-size: 14px; }
::-moz-placeholder { color:#999999;font-family: "微軟正黑體";font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { color:#999999; font-family: "微軟正黑體";font-size: 14px;} /* ie */
input:-moz-placeholder { color:#999999;font-family: "微軟正黑體"; font-size: 14px;}

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#999999;font-family: "微軟正黑體"; }
#field3::-webkit-input-placeholder { color:#999999; background:lightgreen; text-transform:uppercase;font-family: "微軟正黑體";font-size: 14px; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999999;font-family: "微軟正黑體";font-size: 14px; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#999999; font-family: "微軟正黑體";font-size: 14px;}
#field3::-moz-placeholder { color:#999999; background:lightgreen; text-transform:uppercase;font-family: "微軟正黑體";font-size: 14px; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#999999;font-family: "微軟正黑體";font-size: 14px; }


/** logo **/
.logo{ width:200px;height: auto;margin: 0 auto;padding:50px 0 35px 0;}
.logo img{width: 100%;}


/** 上版 **/
header{background: rgba(255,255,255,.9);padding: 10px ;position: fixed;width: calc(100% - 250px);z-index:10;}
.head{}
.logo { width: 200px;margin:0 auto;display: block;padding: 50px 0 30px 0;}
.logo img {display: block;}
.logo a{display: block;}

.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible .logo{position: fixed;top:2px;right:inherit;left:300px;}

@media only screen and (max-width: 899px) {
header{width:100%;}
.logo {width:36px;padding:0;position: fixed;top:2px;left:300px;background: url(../images/logo-m.png)no-repeat center center;background-size: 36px;z-index: 999;}
.logo img{display: none;}
.logo a{display: block; width: 36px; height: 38px;}
}

@media screen and (max-width:450px){
header{padding:8px 10px;}
}


/** 工具 **/
.search{position: absolute;top:8px; right: 15px;}
.serach-button{position: absolute;top:0; right:0;height: 40px;line-height: 40px;z-index: 9999999;}
.serach-button a{display: block; background: #333; color: #fff; font-size: 16px;padding: 0 15px;height: 40px;line-height: 40px;}
.serach-button a:hover{ background: #000;}
.tool{margin: 0 40px 0 0;}
.tool ul{list-style: none;padding: 0;margin: 0;display: flex;justify-content: flex-end;align-items: center;}
.tool ul li{padding: 0;margin: 0;font-size: 14px;color: #333;position: relative; }
.tool ul li a{padding:5px 10px;color: #333; }
.tool ul li a:hover{color: #000; }
.fa-home{font-size:20px;}
.fa-sign-in{font-size:20px;}
.fa-shopping-basket{font-size:16px;}

@media screen and (max-width:450px){
.search{right:10px;}
.tool{margin: 0 30px 0 0;}
.tool span{display: none;}
.fa-home{font-size:24px;}
.fa-sign-in{font-size:24px;}
.fa-shopping-basket{font-size:20px;}
}


/** 首頁最新消息 **/
.i-news-main{padding:10px 0 0 0;}
.i-news{}
.i-news .i-news-title{text-align: center;font-weight: normal;padding:25px 0;margin: 0;position: relative;}
.i-news .i-news-title .news-title-ch{font-size:18px; color: #666;font-family:"微軟正黑體";}
.i-news .i-news-title .news-title-en{font-family: 'Quicksand', sans-serif;font-size: 40px; color: #333;text-transform: uppercase;padding:8px 0;letter-spacing: 2px;font-weight:500;}
.i-news .i-news-title .news-title-en:before{content: "";display: block;background: url(../images/title-line.png)no-repeat;width:295px;height: 1px;margin:0 auto 12px auto;}
.i-news .i-news-title .news-title-en:after{content: "";display: block;background: url(../images/title-line.png)no-repeat;width:295px;height: 1px;margin:15px auto 0 auto;}
.i-news ul{ list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;border-bottom: 1px #000 solid;}
.i-news ul li{padding:0 ;margin: 0;width: 33.3333%;border-right: 1px #000 solid; border-top: 1px #000 solid;}
.i-news ul li:last-of-type{border-right:0px #000 solid;}
.i-news ul li a{display: block;padding:0 40px 15px 40px}
.i-news ul li a:hover{display: block;background: #eee;}
.i-news ul li .i-d-t{display: flex;padding: 0 0 30px 0;}
.i-news ul li .i-d-t .i-date{min-width: 80px;font-family: 'Quicksand', sans-serif;font-size:18px; color: #fff;text-align: center;padding:10px 5px 0px 5px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,333333+18 */
background: #131313; /* Old browsers */
background: -moz-linear-gradient(top, #131313 0%, #333333 18%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #131313 0%,#333333 18%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #131313 0%,#333333 18%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#333333',GradientType=0 ); /* IE6-9 */}
.i-news ul li .i-d-t .i-date span{padding: 0 0 0 8px;}
.i-news ul li .i-d-t .i-date .i-year{font-size:14px; color: #fff;padding: 4px 0 0 0;}
.i-news ul li .i-d-t .i-date:after{content: "";display: block;margin:0px 0 -30px -5px; width: 0;
height: 0;
border-style: solid;
border-width: 30px 40px 0 40px;
border-color: #333333 transparent transparent transparent;
}
.i-news ul li .i-d-t .i-news-contect-title{font-size:16px; color: #333;padding:14px 0 0 15px;height:64px;overflow: hidden;width: 100%;}
.i-news ul li .i-news-contect{font-size:15px; color: #666;margin:10px 0 20px 0;height:74px;overflow: hidden;}
.i-news ul li .i-news-more{display: block;width: 44px; height: 44px; text-align: center; margin: 0 auto; color: #fff; font-size:22px;}
.i-news ul li a .i-news-more{color: #fff;background: #000;border-radius: 40px;display: flex;justify-content: center;align-items: center;}
.i-news ul li a:hover .i-news-more{background: #444;}

@media screen and (max-width:1200px){
.i-news ul li a{padding:0 20px 15px 20px}
}

@media screen and (max-width:1020px){
.i-news ul li .i-d-t{padding: 0 0 15px 0;}
.i-news ul li .i-d-t .i-date{min-width:60px;font-size:16px;padding: 5px 5px 0px 5px;}
.i-news ul li .i-d-t .i-date span{padding: 0; width: 100%; display: block;}
.i-news ul li .i-d-t .i-date .i-year{padding: 0;}
.i-news ul li .i-d-t .i-date:after{content: "";display: block;margin:0px 0 -15px -5px; width: 0;
height: 0;
border-style: solid;
border-width: 15px 30px 0 30px;
border-color: #333333 transparent transparent transparent;
}
.i-news ul li .i-d-t .i-news-contect-title{padding:14px 0 0 10px;}
}

@media screen and (max-width:680px){
.i-news ul{ display:block;}
.i-news ul li{border-right:0px #000 solid;width: 100%;}
.i-news ul li .i-d-t{padding: 0 0 30px 0;}
.i-news ul li .i-d-t .i-date{min-width: 80px;font-size:18px;padding:10px 5px 0px 5px;}
.i-news ul li .i-d-t .i-date span{padding: 0 0 0 8px;width:inherit; display:initial;}
.i-news ul li .i-d-t .i-date .i-year{padding: 4px 0 0 0;}
.i-news ul li .i-d-t .i-date:after{content: "";display: block;margin:0px 0 -30px -5px; width: 0;
height: 0;
border-style: solid;
border-width: 30px 40px 0 40px;
border-color: #333333 transparent transparent transparent;
}
.i-news ul li .i-d-t .i-news-contect-title{padding:14px 0 0 15px;}
}

/** 更多 **/
.more{position: absolute;top:66px;right:2%;}
.more a{display: block; background: #333; color: #fff; font-size: 18px;padding:2px 8.8px 4px 8.8px; border-radius: 100%;}
.more a:hover{background: #000; }
.more span{display: none;color: #fff; font-size:12px; text-transform: uppercase;}
.more:hover span{display:inline-table;}

@media screen and (max-width:450px){
.more:hover span{display:none;}
}

/** 首頁關於我們**/
.i-about-main{background: url(../images/about_bg.jpg)no-repeat center center fixed; background-size: cover;padding:25px 20px;min-height: 288px;}
.i-about{}
.i-about .i-about-title{font-weight: normal;padding:10px ;margin: 0;position: relative;}
.i-about .i-about-title .about-title-ch{font-family:"微軟正黑體";font-size:18px; color: #666;padding: 0 0 0 10px;}
.i-about .i-about-title .about-title-en{font-family: 'Quicksand', sans-serif;font-size: 40px; color: #333;text-transform: uppercase;padding:8px 0;letter-spacing: 2px;font-weight:500;}
.i-about .i-about-contect{background: rgba(255,255,255,.8); font-size:15px; color: #333;line-height: 1.8em;padding:10px;}

@media screen and (max-width:1200px){
.i-about-main{padding:25px 15px;}
}

@media screen and (max-width:450px){
.i-about .i-about-title{text-align: center;}
.i-about .i-about-title .about-title-ch{padding:15px 0 5px 0 ;width: 100%;display: block;}
}

/** 首頁產品介紹 **/
.i-product-main{padding: 10px 0 0 0;}
.i-product{}
.i-product .i-product-title{text-align: center;font-weight: normal;padding:25px 0;margin: 0;position: relative;}
.i-product .i-product-title .product-title-ch{font-size:18px; color: #666;font-family:"微軟正黑體";}
.i-product .i-product-title .product-title-en{font-family: 'Quicksand', sans-serif;font-size: 40px; color: #333;text-transform: uppercase;padding:8px 0;letter-spacing: 2px;font-weight:500;}
.i-product .i-product-title .product-title-en:before{content: "";display: block;background: url(../images/title-line.png)no-repeat;width:295px;height: 1px;margin:0 auto 12px auto;}
.i-product .i-product-title .product-title-en:after{content: "";display: block;background: url(../images/title-line.png)no-repeat;width:295px;height: 1px;margin:15px auto 0 auto;}
.i-product ul{list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;}
.i-product ul li{padding:0;margin: 0;width: 50%;position: relative;}
.i-product ul li a{display: flex;flex-direction:row-reverse;}
.i-product ul li:nth-child(4n+1) a, .i-product ul li:nth-child(4n+2) a{display: flex;flex-direction: row;}
.i-product ul li a:hover{}
.i-product ul li .i-product-instructions{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;width:50%;}
.i-product ul li .i-product-instructions .i-product-information{background:rgba(255,255,255,.9);padding:25px;min-height:320px;position: relative;z-index: 1;}
.i-product ul li .i-product-instructions .i-product-information .i-product-contect-title{font-size:16px; color: #333;height: 25px; overflow: hidden;}
.i-product ul li .i-product-instructions .i-product-information .i-product-contect{font-size:15px; color: #666;margin: 10px 0 18px 0;height: 176px;overflow: hidden;}
.i-product ul li .i-product-images{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;width:50%;background-position: center center; background-repeat: no-repeat; background-size:cover;}
.i-product ul li .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;left:50%;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li .i-product-more{width:calc(100% - 30px); height:calc(100% - 30px);margin:15px;border:2px rgba(255,255,255,.4) solid;background: rgba(0,0,0,0.4);font-size: 48px; color: #fff;display: flex; align-items: center;justify-content: center;}
.i-product ul li:hover .i-product-hover{position: absolute;top: 0;left:0%;visibility: visible;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(4n+1) .i-product-hover, .i-product ul li:nth-child(4n+2) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;left:0%;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(4n+1):hover .i-product-hover, .i-product ul li:nth-child(4n+2):hover .i-product-hover{position: absolute;top: 0;left:50%;visibility: visible;transition: all 0.3s ease 0s;}

.money{text-align: right;}
.money .price{color: #666; text-decoration: line-through;font-size: 15px;}
.money .preferential{color: #f24f46;font-size: 15px;}

@media screen and (max-width:1300px){
.i-product ul li .i-product-instructions .i-product-information{min-height:244px;}
.i-product ul li .i-product-instructions .i-product-information .i-product-contect{height: 100px;}
}
@media screen and (max-width:1050px){
.i-product ul li{width:100%;}
.i-product ul li a{flex-direction:initial;}
.i-product ul li:nth-child(4n+1) a, .i-product ul li:nth-child(4n+2) a{flex-direction:initial;}
.i-product ul li:nth-child(even) a{flex-direction:row-reverse;}
.i-product ul li:nth-child(odd) a{flex-direction: row;}
.i-product ul li:nth-child(4n+1) .i-product-hover, .i-product ul li:nth-child(4n+2) .i-product-hover{width:inherit; height:inherit; background: rgba(0,0,0,0.05);position:inherit;top:inherit;visibility:inherit;}
.i-product ul li:nth-child(4n+1):hover .i-product-hover, .i-product ul li:nth-child(4n+2):hover .i-product-hover{position:inherit;top:inherit;}
.i-product ul li:nth-child(even) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;right:0%;left: inherit; visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(odd) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;left:0%;right: inherit;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(even):hover .i-product-hover{position: absolute;top: 0;right:50%;left: inherit; visibility: visible;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(odd):hover .i-product-hover{position: absolute;top: 0;left:50%;right: inherit;visibility: visible;transition: all 0.3s ease 0s;}
}
@media screen and (max-width:899px){
.i-product ul li{width:50%;}
.i-product ul li:nth-child(even) a{flex-direction:initial;}
.i-product ul li:nth-child(odd) a{flex-direction:initial;}
.i-product ul li a{flex-direction:row;}
.i-product ul li:nth-child(4n+1) a, .i-product ul li:nth-child(4n+2) a{flex-direction: row-reverse;}
.i-product ul li:nth-child(even) .i-product-hover{width:inherit; height:inherit; background: rgba(0,0,0,0.05);position:inherit;top:inherit;visibility:inherit;}
.i-product ul li:nth-child(odd) .i-product-hover{width:inherit; height:inherit; background: rgba(0,0,0,0.05);position:inherit;top:inherit;visibility:inherit;}
.i-product ul li:nth-child(even):hover .i-product-hover{position:inherit;top:inherit;}
.i-product ul li:nth-child(odd):hover .i-product-hover{position:inherit;top:inherit;}
.i-product ul li:nth-child(4n+1) .i-product-hover, .i-product ul li:nth-child(4n+2) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;left:inherit;right:0%;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(4n+1):hover .i-product-hover, .i-product ul li:nth-child(4n+2):hover .i-product-hover{position: absolute;top: 0;right:50%;left:inherit; visibility: visible;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(4n+3) .i-product-hover, .i-product ul li:nth-child(4n+4) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;right:inherit;left:0%;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(4n+3):hover .i-product-hover, .i-product ul li:nth-child(4n+4):hover .i-product-hover{position: absolute;top: 0;left:50%;right:inherit; visibility: visible;transition: all 0.3s ease 0s;}
}
@media screen and (max-width:730px){
.i-product ul li{width:100%;}
.i-product ul li a{flex-direction:initial;}
.i-product ul li:nth-child(4n+1) a, .i-product ul li:nth-child(4n+2) a{flex-direction:initial;}
.i-product ul li:nth-child(even) a{flex-direction:row-reverse;}
.i-product ul li:nth-child(odd) a{flex-direction: row;}
.i-product ul li:nth-child(4n+1) .i-product-hover, .i-product ul li:nth-child(4n+2) .i-product-hover{width:inherit; height:inherit; background: rgba(0,0,0,0.05);position:inherit;top:inherit;visibility:inherit;}
.i-product ul li:nth-child(4n+1):hover .i-product-hover, .i-product ul li:nth-child(4n+2):hover .i-product-hover{position:inherit;top:inherit;}
.i-product ul li:nth-child(even) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;right:0%;left: inherit; visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(odd) .i-product-hover{width:50%; height: 100%; background: rgba(0,0,0,0.05);position: absolute;top: 0;left:0%;right: inherit;visibility: hidden;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(even):hover .i-product-hover{position: absolute;top: 0;right:50%;left: inherit; visibility: visible;transition: all 0.3s ease 0s;}
.i-product ul li:nth-child(odd):hover .i-product-hover{position: absolute;top: 0;left:50%;right: inherit;visibility: visible;transition: all 0.3s ease 0s;}
}
@media screen and (max-width:450px){
.i-product ul li:nth-child(4n+3) a, .i-product ul li:nth-child(4n+4) a{flex-direction:column-reverse;}
.i-product ul li:nth-child(4n+1) a, .i-product ul li:nth-child(4n+2) a{flex-direction:column-reverse;}
.i-product ul li .i-product-instructions{width:100%;flex:none;}
.i-product ul li .i-product-images{width:100%;flex:none;min-height:300px;}
.i-product ul li:nth-child(even):hover .i-product-hover{visibility: hidden;}
.i-product ul li:nth-child(odd):hover .i-product-hover{visibility: hidden;}
}

/** 產品介紹 **/
.product{}
.product ul{list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;}
.product ul li{padding:0;margin:5px;width:calc(25% - 10px);position: relative;overflow: hidden;}
.product ul li a{display: block;}
.product ul li a:hover{}
.product ul li .product-images{min-height: 320px;background-position: center center; background-repeat: no-repeat; background-size:cover;}
.product ul li .product-information{background: rgba(255,255,255,0);padding:15px;position: relative;z-index: 1;}
.product ul li .product-information .product-contect-title{font-size:16px; color: #333;height: 25px; overflow: hidden;}
.product ul li .product-information .product-contect{font-size:15px; color: #666;margin: 10px 0 18px 0;height:75px;overflow: hidden;}
.product ul li .product-hover{width:100%; height: 100%; background: rgba(0,0,0,0.04);position: absolute;top: 0;left:-100%;visibility: hidden;transition: all 0.3s ease 0s;}
.product ul li .product-more{width:calc(100% - 20px); height:calc(100% - 20px);margin:10px;border:2px rgba(255,255,255,.1) solid;background: rgba(0,0,0,0.4);font-size: 48px; color: #fff;display: flex; align-items: center;justify-content: center;}
.product ul li:hover .product-hover{position: absolute;top: 0;left:0%;visibility: visible;transition: all 0.3s ease 0s;}

@media screen and (max-width:1300px){
.product ul li .product-images{min-height:240px;}
}

@media screen and (max-width:1080px){
.product ul li{width:calc(33.3333% - 10px);}
}
@media screen and (max-width:730px){
.product ul li{width:calc(50% - 10px);}
}
@media screen and (max-width:450px){
.product ul li{width:calc(100% - 0px);margin: 5px 0;}
.product ul li .product-images{min-height:300px;}
.product ul li .product-information .product-contect{height:auto;}
.product ul li .product-hover{display: none;}
}

/** 產品介紹明細 **/
.product-detail{}
.product-detail-top{ display: flex;margin: 0 0 15px 0;}
.product-detail-images{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;width:calc(50% - 40px);margin: 0 40px 0 0;}
.product-detail-explanation{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;width:50%;position: relative;}
.product-detail-information{padding: 0 0 280px 0;}
.product-detail-information .product-detail-title{font-size:24px; color: #333; font-weight: bold;margin:15px 0 25px 0;}
.product-detail-information .product-detail-introdction{font-size:15px; color: #333;}
.product-detail-specification-cart{position: absolute; bottom: 0; left: 0;width: 100%;}


/** 購物車按鈕 **/
.product-detail-specification-cart .shopping-cart{color: #fff;font-size:20px;padding:10px 0;width:100%;margin: 0 ;text-align: center;}
.product-detail-specification-cart .shopping-cart a{display: block; color: #fff; background: #333;padding:8px 15px ;border-radius: 10px; box-shadow: 3px 3px 0 0 #999;width: 100%;}
.product-detail-specification-cart .shopping-cart a:hover{ background: #000;}
.fa-shopping-cart{color: #fff;font-size:32px;padding: 0 20px 0 0;}

/** 價錢 **/
.product-detail-money{display: flex; text-align: right;margin:15px 0;}
.product-detail-money .product-detail-price{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;color: #666; text-decoration: line-through;font-size: 16px;}
.product-detail-money .product-detail-preferential{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;color: #f24f46;font-size:20px;}

/** 規格 **/
.product-detail-specification-cart .specification{display: flex;margin:15px 0;}
.product-detail-specification-cart .specification .specification-title{min-width:80px;font-size:15px; color: #333;line-height: 1.8em; padding: 4.5px 0;}
.product-detail-specification-cart .specification .specification-item{position: relative;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;width: 100%;}

.specification-item select{border:1px #1b1b1b solid;appearance:none;-moz-appearance:none; -webkit-appearance:none;padding:0 44px 0 10px;background-image: url(../images/select-icon.jpg);background-color: #fff;background-repeat: no-repeat;background-position: right center;background-size: 36px; line-height: 36px;font-family: "微軟正黑體";font-size: 15px; color: #333; width:100%;height: 36px; }
.specification-item select::-ms-expand { display: none; }

/** 購買數量增減模組 **/
.product-detail-specification-cart .quantity{display: flex;margin:15px 0;}
.product-detail-specification-cart .quantity .quantity-title{min-width:80px;font-size:15px; color: #333;line-height: 1.8em; padding: 4.5px 0;}

.qtyInputBox{display:block;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1; vertical-align:middle; height:36px;width: 100%;font-family: "微軟正黑體";font-size: 15px; color: #333;}
.qtyInputBox .input-group-btn, .qtyInputBox input{display:table-cell; position:relative; float:left; top:0; }
.qtyInputBox button{display:block; width:36px; height:36px; margin:0; padding:0; vertical-align:middle; border:1px solid #1b1b1b;}
.qtyInputBox button i{display:block; width:100%; height:100%; margin:0; padding:0; line-height:36px;background-color:#1b1b1b;color: #fff;}
.qtyInputBox button i:hover{background-color:#1b1b1b;color: #fff;}
.qtyInputBox input{margin-bottom:0; width:calc(100% - 72px); height:36px; line-height:36px; border:0; border-top:1px solid #1b1b1b; border-bottom:1px solid #1b1b1b; vertical-align:middle; padding:0 5px; text-align:center; }
.qtyInputBox button:focus, input:focus{outline:0;}

/** 產品詳細介紹 **/
.product-detail-bottom{margin:30px 0 0 0;}
.product-detail-contect-title{font-size:20px; color: #fff;background: #666;padding: 8px 25px;margin: 0 0 20px 0;border: 1px #fff solid; box-shadow: 0 0 0 4px #666;}
.product-detail-contect{font-size:16px; color: #333;padding: 15px;}

@media screen and (max-width:640px){
.product-detail-top{ display: block;}
.product-detail-images{width:100%;margin: 0 ;}
.product-detail-explanation{width:100%;}
}

/** 最新消息 **/
.news-main{padding:10px 0 0 0;}
.news{}
.news ul{ list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;}
.news ul li{padding:0 ;margin: 0;width: 33.3333%; border-left: 1px #000 solid;}
.news ul li:last-of-type{border-right:0px #000 solid;}
.news ul li a{display: block;padding:15px 15px 15px 0px}
.news ul li a:hover{display: block;background: #eee;}
.news ul li:nth-child(odd){background:#f6f6f6;}
.news ul li .d-t{display: flex;padding: 0 0 10px 0;}
.news ul li .d-t .date{position: relative; min-width: 80px;font-family: 'Quicksand', sans-serif;font-size:18px; color: #fff;text-align: center;padding:8px 5px ;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,333333+18,333333+18 */
background: rgb(19,19,19); /* Old browsers */
background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(51,51,51,1) 18%, rgba(51,51,51,1) 18%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%,rgba(51,51,51,1) 18%,rgba(51,51,51,1) 18%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(19,19,19,1) 0%,rgba(51,51,51,1) 18%,rgba(51,51,51,1) 18%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#333333',GradientType=1 ); /* IE6-9 */}
.news ul li .d-t .date span{padding: 0 0 0 8px;}
.news ul li .d-t .date .year{font-size:14px; color: #fff;padding: 4px 0 0 0;}
.news ul li .d-t .date:after{content: "";display:block;position: absolute;top: 0;left: 100%; width: 0;
height: 0;
border-style: solid;
border-width: 35px 0 35px 20px;
border-color: transparent transparent transparent #333333;
}
.news ul li .d-t .news-contect-title{font-size:16px; color: #333;padding:10px 10px 10px 30px;height:60px;overflow: hidden;width: 100%;}
.news ul li .news-contect{font-size:15px; color: #666;margin:10px 0;height:74px;overflow: hidden;padding: 0 10px 0 20px;}

@media screen and (max-width:1080px){
.news ul li{width:50%;}
.news ul li:nth-child(odd){background:none;}
.news ul li:nth-child(4n+0), .news ul li:nth-child(4n+1){background:#f6f6f6;}
}
@media screen and (max-width:560px){
.news ul li{width:100%;}
.news ul li:nth-child(4n+0), .news ul li:nth-child(4n+1){background:none;}
.news ul li:nth-child(odd){background:#f6f6f6;}
.news ul li .news-contect{height:auto;}
}


/** 最新消息明細 **/
.news-detail{}
.news-detail-date{background: #333; background: linear-gradient(-135deg, transparent 15px, #333 0) top right, linear-gradient(-45deg, transparent 15px, #333 0) bottom right; background-size: 100% 52%; background-repeat: no-repeat;margin: 0 0 10px 0;width: 138px; padding:3px 15px;font-size: 15px; color: #fff; }

/** faq **/
.accordion dl,.accordion-list {}
.accordion dd,.accordion__panel {background-color: #fff;border: 1px #ccc solid;background-image: url(../images/faq-a.png);background-repeat: no-repeat;background-position: top 20px left 15px;background-size:44px; font-size:15px;margin:0;padding:20px 20px 20px 70px;}
.accordion {position: relative;background-color: #eee;}
.container {max-width: 960px;margin: 0 auto;padding: 2em 0 2em 0;}
.accordionTitle,.accordion__Heading {background-color: #f6f6f6;background-image: url(../images/faq-q.png);background-repeat: no-repeat;background-position: top 10px left 15px;background-size:44px;font-weight: 700;padding:20px 15px 20px 70px;display: block;text-decoration: none;font-size: 16px; color: #333;-webkit-transition: background-color 0.5s ease-in-out;transition: background-color 0.5s ease-in-out;border-bottom: 1px solid #ccc;}
.accordionTitle:before,.accordion__Heading:before {content: "+";font-size:24px;line-height: 0.9em;float:right;-webkit-transition: -webkit-transform 0.3s ease-in-out;transition: -webkit-transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;}
.accordionTitle:hover,.accordion__Heading:hover {background-color: #ccc;}
.accordionTitleActive,.accordionTitle.is-expanded { background-color: #ccc;}
.accordionTitleActive:before,.accordionTitle.is-expanded:before {-webkit-transform: rotate(-225deg);transform: rotate(-225deg);}
.accordionItem {height: auto;overflow: hidden;-webkit-transition: max-height 1s;transition: max-height 1s;}
.accordionItem.is-collapsed {max-height: 0;padding: 0;margin: 0;}
.no-js .accordionItem.is-collapsed {max-height: auto;}
.animateIn {-webkit-animation: accordionIn 0.45s normal ease-in-out both 1;animation: accordionIn 0.45s normal ease-in-out both 1;}
.animateOut {-webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;animation: accordionOut 0.45s alternate ease-in-out both 1;}

@media screen and (min-width: 48em) {
	.accordionItem {-webkit-transition: max-height 0.5s;transition: max-height 0.5s;}
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);

  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@media screen and (max-width:680px){
.accordion dd,.accordion__panel {background-image: url(../images/faq-a.png);background-repeat: no-repeat;background-position: top 24px left 15px;background-size:30px; padding:16px 15px 16px 56px;}
.accordionTitle,.accordion__Heading {background-image: url(../images/faq-q.png);background-repeat: no-repeat;background-position: top 14px left 15px;background-size:30px;padding:16px 10px 16px 56px;}
}
/** 聯絡我們內容 **/
.contact-page{font-size: 16px; color: #333;padding:20px 0 10px 0;}
.contact-page a{ color: #333;}
.contact-page a:hover{ color: #666;}
.contact-page ul{ list-style: none;padding: 0;margin: 0;display: flex;}
.contact-page ul li{padding:10px;margin: 0;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: center;color: #333;}
.contact-page ul li .contact-icon{background: #333;color: #fff;padding: 20px;width: 80px; height: 80px;display: flex;align-items: center;justify-content: center;border-radius: 80px;margin: 0 auto 15px auto;}
.contact-page ul li .fa-phone{padding: 0; font-size:36px;}
.contact-page ul li .fa-fax{padding: 0 ; font-size:36px;}
.contact-page ul li .fa-envelope-open{padding: 0; font-size:36px;}
.contact-page ul li .fa-map-marker{padding: 0; font-size:36px;}
.google-map{margin: 0 0 -7px 0;}

@media screen and (max-width:990px){
.contact-page ul{display: flex;flex-wrap: wrap;}
.contact-page ul li{width: 50%;flex: initial;}
}
@media screen and (max-width:370px){
.contact-page ul{display:block;flex-wrap: nowrap;}
.contact-page ul li{width: 100%;}
}
/** 聯絡我們表單 **/
.forms-box{ display: flex; flex-wrap: wrap;padding: 20px 0 0 0;margin:0;}
.project-field{position: relative;width: calc(50% - 10px);margin:0 5px;}
.project-field02{position: relative;width: calc(100% - 10px);margin:0 5px;}
.project-field03{position: relative;width: calc(50% - 10px);margin:0 5px;}
.project{position: absolute; top:-20px; left:10px;font-size: 16px; line-height: 1.8em; color: #333;padding:5px 10px;text-align: center;width:120px;}
.project:after{content: "";display: block; width:100%; height:1px; background: #eee;margin: -13px auto 0 auto;}
.input-field001-01{border: 1px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 25px 0;width:70%;padding:10px 20px;font-family: "微軟正黑體";}
.input-field001-02{border: 1px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 25px 0;width:100%;padding:10px 20px;font-family: "微軟正黑體";}
.input-field001-02:disabled{background:#dddddd;}
.input-field001-03{border: 1px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 25px 0;width:100%;padding:10px 158px 10px 20px;font-family: "微軟正黑體";}
.input-field001-04{border: 1px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 25px 0;width:70%;padding:10px 20px;font-family: "微軟正黑體";}
.input-field002{border: 1px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 18px 0;width:100%;padding:10px 20px;font-family: "微軟正黑體";min-height: 200px;}
input[type='radio'].radio {opacity:0; display:inline-block; height:15px;margin: -20px 0 0 20px;position: relative;z-index: 1; }
label.radio {background: url(../images/radio_check.png) no-repeat;background-size: 15px; height:15px; padding-left:25px;margin:  0 0 0 -18px;position:relative;top: -7px;}
input[type='radio'].radio:checked + .radio {background:url(../images/radio_checked.png) no-repeat;background-size: 15px;}
.input-field001-01:focus, .input-field001-02:focus, .input-field001-03:focus, .input-field002:focus ,.input-field001-04:focus{background: #fff;outline: 0;border: 1px #333 solid;}
.input-main-select {border: 1px #CCC solid;background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0 0 5px 0;width:100%;padding:0;font-family: "微軟正黑體";display: flex;}
.input-main-select select { -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;border:0px #CCC solid; background: #eee; font-size: 15px; line-height: 1.8em; color: #333;margin: 0;width:100%;padding:12.5px 20px;font-family: "微軟正黑體";}
.input-main-select select:focus{background: #fff;outline: 0;}
.code {position: absolute; top:1px;right:1px;width: 138px; height: 47px; }
.code img{width: 100%;}
.cart-btn{max-width: 260px; margin:10px auto ;display: flex;}
a.btn-send { background: #444; padding:6px 20px 4px 20px;text-align:center; font-size:18px; color:#fff; -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */ flex: 1; margin:0 0 0 4px ;box-shadow: 2px 2px 0 0px #999;}
a.btn-send:hover { background: #222;}
a.btn-reset { background:#666;  padding:6px 20px 4px 20px;text-align:center; font-size:18px; color:#fff; -webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */ -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1; margin:0 4px 0 0;box-shadow: 2px 2px 0 0px #999;}
a.btn-reset:hover { background:#444;}
@media screen and (max-width:1350px){
.input-field001-01{width:50%;}
.input-field001-04{width:50%;}
}
@media screen and (max-width:1000px){
.project-field03{position: relative;width: calc(100% - 10px);margin:0 5px;}
.input-field001-04{width:48%;}
}
@media screen and (max-width:990px){
input[type='radio'].radio {margin: -20px 0 0 10px;}
}
@media screen and (max-width:590px){
.project-field{position: relative;width:100%;margin:0;}
.project-field02{position: relative;width:100%;margin:0;}
.project-field03{position: relative;width:100%;margin:0;}
}

/** 會員專區按鈕 **/
.member-button{max-width: 260px; margin:10px auto ;display: flex;}
a.member-button001 {  background: #444; padding:49px 20px 49px 20px;text-align:center; font-size:18px; color:#fff; -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */ flex: 1; margin:0  ;box-shadow: 2px 2px 0 0px #999;}
a.member-button001:hover { background: #222;}
a.member-button002 {background:#666;  padding:6px 20px 4px 20px;text-align:center; font-size:18px; color:#fff; -webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */ -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1; margin:0;box-shadow: 2px 2px 0 0px #999;}
a.member-button002:hover { background:#444;}
a.member-button003 {padding:10px 6px 2px 6px;text-align:center; font-size:18px; color:#333; -webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */ -webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1; margin:0 ;}
a.member-button003:hover {text-decoration: underline;}

/** 會員專區 **/
.member-login-button{display: flex;}
.member-login{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;}
.member-button-main{width: 120px; min-width:120px;display: flex;align-items: center;justify-content: center;position: relative;top: -3px; }

@media screen and (max-width:500px){
.member-button{max-width:inherit;width: 100%; margin:0 auto;}
a.member-button001 {padding:8px 20px 8px 20px;}
.member-login-button{display:block;}
.member-button-main{width:100%; min-width:inherit;display: flex;align-items: center;justify-content: center;position: relative;top: -10px; }
}


/** 社群登入 **/
.communities-main{display: flex;margin: 30px 0 10px 0;}
.communities{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;}
.communities img{ width: 100%;}

@media screen and (max-width:500px){	
.communities-main{display:block;}
}

/** 確認頁面內容 **/
.confirm-main{padding: 15px;display:flex;align-items: center;justify-content: center;font-size: 16px; color: #333;min-height: 200px;border: 4px #666 double;margin: 0 0 25px 0;border-radius:20px ;}

/** 購物車內容 **/
.shopping-cart-main{position: absolute; top:35px;right:0px; background: #fff;z-index:999;border: 1px #333 solid;width:400px;padding:15px;}
.shopping-cart-main:before{content: "";display: block; width: 0;
height: 0;
border-style: solid;
border-width: 0 12.5px 10px 12.5px;
border-color: transparent transparent #333 transparent;
margin:-26px 0 10px 320px;}
.shopping-cart{display: flex;margin: 0 0 10px 0;}
.shopping-cart-photo {max-width:100px; background:#fff; width:100%; position: relative;}
.shopping-cart-photo a { display: flex; height: 100%; vertical-align: middle; text-align:center;align-items: center;justify-content: center;overflow: hidden;}
.shopping-cart-photo img.index-pro-img { width: auto; height: auto; flex-shrink:0;transform:scale(1);transition: all 0.3s ease 0s;max-height:100%; max-width:100%;}
.shopping-cart-photo img.index-pro-img:hover {transform:scale(1.2);transition: all 0.3s ease 0s;}
.shopping-cart-content{flex:6;text-align: left;margin: 0 5px;}
.shopping-cart-content .shopping-cart-title{font-size:14px; color: #333;line-height: 1.4em;margin: 0 0 5px 0;}
.shopping-cart-content .shopping-cart-category{font-size:13px; color: #666;line-height: 1.4em;}
.shopping-cart-content .shopping-cart-quantity{font-size:13px; color: #666;line-height: 1.4em;}
.shopping-cart-content .shopping-cart-price{font-size:14px; color: #e43131;line-height: 1.4em;margin: 5px 0 0 0;}
.shopping-cart-delete{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;font-size:14px; color: #333;}
.shopping-cart-delete>a{ color: #333;}
.shopping-cart-delete>a:hover{ color: #333;}

.shopping-cart-total-main{ border-top: 1px #ccc solid;padding: 5px 0 0 0;}
.shopping-cart-total{text-align: right;}
.shopping-cart-total .shopping-cart-total-left{font-size:14px; color: #333;font-weight: bold;}
.shopping-cart-total .shopping-cart-total-right{font-size:14px; color: #333;}
.tool .shopping-cart-total-button{font-size:14px; color: #333;text-align: center;margin: 10px 0 0 0;}
.tool .shopping-cart-total-button a{display: block; color: #fff;background: #333;padding:5px 15px;}
.tool .shopping-cart-total-button a:hover{background: #000;color: #fff;}

@media screen and (max-width:500px){	
.shopping-cart-main{width:350px;right:-30px; }
.shopping-cart-main:before{content: "";display: block; width: 0;
height: 0;
border-style: solid;
border-width: 0 12.5px 10px 12.5px;
border-color: transparent transparent #333 transparent;
margin:-26px 0 10px 230px;}
.shopping-cart-photo {max-width:80px;}
.shopping-cart-content{flex:7;}
}

@media screen and (max-width:390px){	
.shopping-cart-main{width:300px;top: 34px; }
.shopping-cart-main:before{content: "";display: block; width: 0;
height: 0;
border-style: solid;
border-width: 0 12.5px 10px 12.5px;
border-color: transparent transparent #333 transparent;
margin:-26px 0 10px 200px;}
}

/** 購物步驟 **/
.step-main{margin: 5px 0 20px 0;}
.step-main ul{list-style: none;padding: 0;margin: 0; display: flex; text-align: center;}
.step-main ul li{padding: 0;margin:10px;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;font-size:15px; color:#999;position: relative;}
.step-main ul li:after{content: "";display:inline-block;position: absolute;top:43%; right:-10px; width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 5px;
border-color: transparent transparent transparent #999;
}
.step-main ul li:last-child:after{content: "";display: none;}
.step-main ul li .step{font-size:30px; color:#999;display: inline-block;padding: 5px;}
.step-main ul li .step:after{content: "";display: inline-block;background: #999; width: 1px; height:25px;transform:rotate(30deg);margin: 0 0 0 8px;}
.step-main ul li .step .step-number{font-size:16px; color:#fff;padding:3px 9px;background: #999;border-radius: 50px;text-align: center;position: relative; top: -5px;margin: 0 5px;}
.step-main ul li .step-contect{display: inline-block;font-size:16px; color:#999;padding: 5px;}
.step-main ul li .step-contect i{font-size:20px; color:#999;padding: 5px 8px 5px 0px;}

.step-main ul .active{border-bottom: 3px #333 solid;}
.step-main ul .active:after{content: "";display:inline-block;position: absolute;top:43%; right:-10px; width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 5px;
border-color: transparent transparent transparent #333;
}
.step-main ul .active .step{font-size:30px; color:#333;display: inline-block;padding: 5px;}
.step-main ul .active .step:after{content: "";display: inline-block;background: #333; width: 1px; height:25px;transform:rotate(30deg);margin: 0 0 0 8px;}
.step-main ul .active .step .step-number{font-size:16px; color:#fff;padding:3px 9px;background: #333;border-radius: 50px;text-align: center;position: relative; top: -5px;margin: 0 5px;}
.step-main ul .active .step-contect{display: inline-block;font-size:16px; color:#333;padding: 5px;}
.step-main ul .active .step-contect i{font-size:20px; color:#333;padding: 5px 8px 5px 0px;}
@media screen and (max-width:1200px){	
.step-main ul li .step{display:block;font-size:24px;}
.step-main ul li .step-contect{display:block;padding: 0 5px;}
.step-main ul li .step:after{content: "";display:none;}
.step-main ul .active .step{display:block;font-size:24px;}
.step-main ul .active .step-contect{display:block;padding: 0 5px;}
.step-main ul .active .step:after{content: "";display:none;}
}
@media screen and (max-width:500px){
.step-main ul li:after{right:-5px;}
.step-main ul li .step-contect i{display: none;}
.step-main ul li .step{font-size:20px;}
.step-main ul li .step-contect{font-size:15px;}
.step-main ul li .step .step-number{font-size:14px; padding:2px 7px;top: -2px;}
.step-main ul .active:after{right:-5px;}
.step-main ul .active .step{font-size:20px;}
.step-main ul .active .step-contect{font-size:15px;}
.step-main ul .active .step .step-number{font-size:14px; padding:2px 7px;top: -2px;}
.step-main ul li{margin:5px;}
}
@media screen and (max-width:400px){
.step-main ul li .step{font-size:16px;}
.step-main ul li .step .step-number{font-size:13px;}
.step-main ul .active .step{font-size:16px;}
.step-main ul .active .step .step-number{font-size:13px; }
}

/** 購物清單 **/
.shopping-list{}
.shopping-list ul{list-style:none;padding: 0;margin: 0;}
.shopping-list ul li{display: flex;margin: 0;color: #fff;font-size: 16px; padding:12px 10px;align-items: center;border-bottom: 1px #ccc dashed;}
.shopping-list ul li:first-of-type{background: #333;border-bottom: 0px #ccc dashed;padding:8px 10px;}
.shopping-list ul li:last-of-type{border-bottom: 1px #ccc solid;}
.shopping-list-content{flex:10;text-align: left;margin: 0 10px 0 0;display: flex;}
.shopping-list-content .shopping-list-title{font-size:15px; color: #333;line-height: 1.4em;margin: 0 0 5px 0;}
.shopping-list-content .shopping-list-category{font-size:14px; color: #666;line-height: 1.4em;}
.shopping-list-photo {max-width:100px; background:#fff; width:100%; position: relative;}
.shopping-list-photo a { display: flex; height: 100%; vertical-align: middle; text-align:center;align-items: center;justify-content: center;overflow: hidden;}
.shopping-list-photo img.index-pro-img { width: auto; height: auto; flex-shrink:0;transform:scale(1);transition: all 0.3s ease 0s;max-height:100%; max-width:100%;}
.shopping-list-photo img.index-pro-img:hover {transform:scale(1.2);transition: all 0.3s ease 0s;}
.shopping-list-information{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;margin: 0 0 0 15px;}


.shopping-list-unit-price{flex:1.5;margin: 0 10px 0 0; text-align: center;}
.shopping-list-quantity{flex:2;margin: 0 10px 0 0; text-align: center;}
.shopping-list-price{flex:1.5;margin: 0 10px 0 0; text-align: center;}
.shopping-list-delete{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: center;}

.shopping-list ul li .content{font-size:14px; color: #333;}
.shopping-list ul li .unit-price{font-size:14px; color: #333;}
.shopping-list ul li .quantity{font-size:14px; color: #666;}
.shopping-list ul li .price{font-size:14px; color: #e43131;}
.shopping-list ul li .delete{font-size:14px; color: #333;}
.shopping-list ul li .delete>a{ color: #333;}
.shopping-list ul li .delete>a:hover{ color: #333;}

.shopping-list ul li .unit-price span{display: none;}
.shopping-list ul li .price span{display: none;}

.shopping-list-total-main{ padding:10px ;background: #eee;margin: 0 0 30px 60%;}
.shopping-list-total{text-align: right;display: flex;padding:5px 10px;}
.shopping-list-total .shopping-list-total-left{font-size:15px; color: #333;font-weight: bold;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: left;}
.shopping-list-total .shopping-list-total-right{font-size:15px; color: #333;flex: 3;text-align: right;}
.shopping-list-last-total{text-align: right;display: flex;padding:10px;border-top: 1px #ccc solid;}
.shopping-list-last-total .shopping-list-last-total-left{font-size:16px; color: #e03030;font-weight: bold;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: left;}
.shopping-list-last-total .shopping-list-last-total-right{font-size:18px; color: #e03030;flex: 3;text-align: right;}

@media screen and (max-width:1250px){	
.shopping-list-quantity{flex:3;margin: 0 10px 0 0; text-align: center;}
}
@media screen and (max-width:1100px){	
.shopping-list-content{flex:6;}
.shopping-list-unit-price{flex:2;}
.shopping-list-quantity{flex:3;}
.shopping-list-price{flex:2;}
.shopping-list-delete{flex:1.5;}
.shopping-list-photo {max-width:80px;}
}
@media screen and (max-width:640px){
.shopping-list-total-main{margin: 0 0 30px 0;}
.shopping-list ul li{display: flex;flex-wrap: wrap;}
.shopping-list ul li:first-of-type{display: none;}
.shopping-list-content{width: 100%;flex: none;margin: 0 0 15px 0;}
.shopping-list-unit-price{width:calc(30% - 10px);display: block;flex: none;}
.shopping-list-quantity{width:calc(30% - 10px);display: block;flex: none;}
.shopping-list-price{width:calc(30% - 10px);display: block;flex: none;}
.shopping-list-delete{width:10%;display: block;flex: none;}
.shopping-list ul li .unit-price span{display:inline-block;}
.shopping-list ul li .price span{display:inline-block;}
.shopping-list-photo {max-width:60px;}
}
@media screen and (max-width:500px){
.shopping-list-content{width: 100%;flex: none;margin: 0 0 15px 0;}
.shopping-list-unit-price{width:100%;margin: 5px 0; display: block;flex: none;text-align: left;}
.shopping-list-quantity{width:100%;margin: 5px 0;display: block;flex: none;text-align: left;}
.shopping-list-price{width:100%;margin: 5px 0;display: block;flex: none;text-align: left;}
.shopping-list-delete{position: absolute;top:8px;right: 0;}
.shopping-list ul li{position: relative;}
.shopping-list-information{padding: 0 25px 0 0;}
}

/** 資料填寫 **/
.data-entry{padding:10px;}
.data-entry-title{font-size:16px; color: #fff;background: #333;padding:10px 15px;margin: 0 0 15px 0;}
input[type='checkbox'].checkbox {opacity:0; display:block; height:20px;margin:-8px -3px 8px 11px;position: relative;z-index: 1; }
label.checkbox {background: url(../images/checkbox_check.png) no-repeat;background-size: 20px; height:20px; padding-left:25px;margin:  0 0 0 -18px;position:relative;top: -30px;left:25px; font-size: 16px;}
input[type='checkbox'].checkbox:checked + .checkbox {background:url(../images/checkbox_checked.png) no-repeat;background-size: 20px;}

/** 訂單 **/
.orders{margin: 0 0 20px 0;}
.orders ul{list-style:none;padding: 0;margin: 0;}
.orders ul li{display: flex;margin: 0;color: #fff;font-size: 16px; padding:12px 10px;align-items: center;border-bottom: 1px #ccc dashed;}
.orders ul li:first-of-type{background: #333;border-bottom: 0px #ccc dashed;padding:8px 10px;}
.orders ul li:last-of-type{border-bottom: 1px #ccc solid;}
.orders-content{flex:6;text-align: left;margin: 0 10px 0 0;display: flex;}
.orders-date{flex:3;margin: 0 10px 0 0; text-align: center;}
.orders-status{flex:3;margin: 0 10px 0 0; text-align: center;}
.orders-price{flex:3;margin: 0 10px 0 0; text-align: center;}
.orders-detail{flex:2; text-align: center;}
.orders ul li .content{font-size:15px; color: #333;}
.orders ul li .date{font-size:15px; color: #333;}
.orders ul li .status{font-size:15px; color: #666;}
.orders ul li .price{font-size:15px; color: #e43131;}
.orders ul li .detail{font-size:15px; color: #333;}
.orders ul li .detail>a{ color: #fff;padding: 5px 10px; background: #666;}
.orders ul li .detail>a:hover{ background: #333;}
.orders ul li .content span{display: none;}
.orders ul li .date span{display: none;}
.orders ul li .price span{display: none;}
.orders ul li .status span{display: none;}
@media screen and (max-width:640px){
.orders ul li:first-of-type{display: none;}
.orders ul li .content span{display:inline-block;}
.orders ul li .date span{display:inline-block;}
.orders ul li .price span{display:inline-block;}
.orders ul li .status span{display:inline-block;}
	
.orders ul li{display: flex; flex-wrap: wrap;}
.orders-content{flex:none; width: 100%;padding: 5px 0;margin: 2px 0;}
.orders-date{flex:none;width: 100%; text-align:left;padding: 5px 0;margin:2px 0;}
.orders-status{flex:none;width: 100%; text-align:left;padding: 5px 0;margin: 2px 0;}
.orders-price{flex:none;width: 100%; text-align:left;padding: 5px 0;margin:2px 0;}
.orders-detail{flex:none;width: 100%; text-align:left;padding: 5px 0;margin:2px 0;}
}

/** 訂單明細 **/
.orders-list{}
.orders-list ul{list-style:none;padding: 0;margin: 0;}
.orders-list ul li{display: flex;margin: 0;color: #fff;font-size: 16px; padding:12px 10px;align-items: center;border-bottom: 1px #ccc dashed;}
.orders-list ul li:first-of-type{background: #333;border-bottom: 0px #ccc dashed;padding:8px 10px;}
.orders-list ul li:last-of-type{border-bottom: 1px #ccc solid;}
.orders-list-content{flex:10;text-align: left;margin: 0 10px 0 0;display: flex;}
.orders-list-content .orders-list-title{font-size:15px; color: #333;line-height: 1.4em;margin: 0 0 5px 0;}
.orders-list-content .orders-list-category{font-size:14px; color: #666;line-height: 1.4em;}
.orders-list-photo {max-width:100px; background:#fff; width:100%; position: relative;}
.orders-list-photo a { display: flex; height: 100%; vertical-align: middle; text-align:center;align-items: center;justify-content: center;overflow: hidden;}
.orders-list-photo img.index-pro-img { width: auto; height: auto; flex-shrink:0;transform:scale(1);transition: all 0.3s ease 0s;max-height:100%; max-width:100%;}
.orders-list-photo img.index-pro-img:hover {transform:scale(1.2);transition: all 0.3s ease 0s;}
.orders-list-information{-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;margin: 0 0 0 15px;}
.orders-list-unit-price{flex:1.5;margin: 0 10px 0 0; text-align: center;}
.orders-list-quantity{flex:2;margin: 0 10px 0 0; text-align: center;}
.orders-list-price{flex:1.5;margin: 0 10px 0 0; text-align: center;}
.orders-list ul li .content{font-size:14px; color: #333;}
.orders-list ul li .unit-price{font-size:14px; color: #333;}
.orders-list ul li .quantity{font-size:14px; color: #666;}
.orders-list ul li .price{font-size:14px; color: #e43131;}
.orders-list ul li .unit-price span{display: none;}
.orders-list ul li .price span{display: none;}
.orders-list ul li .quantity span{display: none;}
.orders-list-total-main{ padding:10px ;background: #eee;margin: 0 0 30px 0;}
.orders-list-total{text-align: right;display: flex;padding:5px 10px;}
.orders-list-total .orders-list-total-left{font-size:15px; color: #333;font-weight: bold;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: left;}
.orders-list-total .orders-list-total-right{font-size:15px; color: #333;flex: 3;text-align: right;}
.orders-list-last-total{text-align: right;display: flex;padding:10px;border-top: 1px #ccc solid;}
.orders-list-last-total .orders-list-last-total-left{font-size:16px; color: #e03030;font-weight: bold;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: left;}
.orders-list-last-total .orders-list-last-total-right{font-size:18px; color: #e03030;flex: 3;text-align: right;}

@media screen and (max-width:640px){
.orders-list ul li{display: flex;flex-wrap: wrap;}
.orders-list ul li:first-of-type{display: none;}
.orders-list-content{width: 100%;flex: none;margin: 0 0 15px 0;}
.orders-list-unit-price{width:calc(30% - 10px);display: block;flex: none;}
.orders-list-quantity{width:calc(30% - 10px);display: block;flex: none;}
.orders-list-price{width:calc(30% - 10px);display: block;flex: none;}
.orders-list ul li .unit-price span{display:inline-block;}
.orders-list ul li .price span{display:inline-block;}
.orders-list ul li .quantity span{display:inline-block;}
.orders-list-photo {max-width:60px;}
}
@media screen and (max-width:500px){
.orders-list-content{width: 100%;flex: none;margin: 0 0 15px 0;}
.orders-list-unit-price{width:100%;margin: 5px 0; display: block;flex: none;text-align: left;}
.orders-list-quantity{width:100%;margin: 5px 0;display: block;flex: none;text-align: left;}
.orders-list-price{width:100%;margin: 5px 0;display: block;flex: none;text-align: left;}
.orders-list ul li{position: relative;}
.orders-list-information{padding: 0 25px 0 0;}
}

/** 訂單明細訂購資訊 **/
.orders-detail-main{padding: 10px;}
.orders-detail-title{font-size:16px; color: #fff;background: #333;padding:10px 15px;margin: 0 0 15px 0;}
.orders-detail-contect{font-size:15px; color: #333;padding:5px 10px;margin: 5px 0;}
@media screen and (max-width:680px){	
.orders-detail-main{padding: 10px 0;}
}
/** 頁次 **/	
.page{font-size: 13px;font-family: "微軟正黑體"; color:#333; text-align: center; clear:both; margin:30px 0 0 0;line-height: 2.4em; }
 .page a { background: #333; color:#fff; padding:4px 15px; }
 .page a:hover { background: #666; color: #fff;}
 .page br { display:none;}

@media screen and (max-width:680px){	
.page br { display:block;}
}

/** 下版 **/
footer{ background: url(../images/footer_bg.jpg) no-repeat center center; background-size: cover;padding: 10px 20px;}
.footer{}
.footer .f-menu{}
.footer .f-menu:after{ content: ""; display: block; background: url(../images/f-menu-line.png)no-repeat center center; width: 100%; height: 1px; background-size: contain;margin: 8px 0 0 0;}
.footer .f-menu ul{ list-style: none;padding: 0;margin: 0; text-align: center;}
.footer .f-menu ul li{padding:4px 0 ;margin: 0;display: inline-block;font-size: 15px; color: #fff;}
.footer .f-menu ul li a{ color: #fff;padding:0 10px;}
.footer .f-menu ul li a:hover{}
.footer .f-information{padding:15px 0 10px 0; display: flex;align-items: flex-end;}
.footer .f-contect{font-size: 15px; color: #fff;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;line-height: 2.2em;}
.footer .f-contect a{ color: #fff;}
.footer .f-contect a:hover{color: #fff;}
.footer .copyright{font-size: 12px; color: #fff;-webkit-flex: 1; /* Safari 6.1+ */ -ms-flex: 1; /* IE 10 */  flex: 1;-webkit-flex: 1; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */  flex: 1;text-align: right;line-height: 1.6em; text-transform: uppercase;}
.footer .copyright a{color: #fff;}
.footer .copyright a:hover{}
.fa-phone{padding: 0 8px 0 0; font-size: 19px;}
.fa-fax{padding: 0 8px 0 15px; font-size: 16px;}
.fa-envelope-open{padding: 0 8px 0 15px; font-size: 16px;}
.fa-map-marker{padding: 0 8px 0 2px; font-size: 20px;}

@media screen and (max-width:1355px){
.footer .f-information{display:block;padding: 10px 10px 5px 10px;}
.footer .f-contect{text-align: center;}
.footer .copyright{text-align: center;padding: 5px 0 0 0;}
}

@media only screen and (max-width: 899px) {
footer{padding: 10px ;}
.footer .f-menu ul li{padding:2px 0;}
}

/** 版面欄位 **/
.warpper-left {float:left; width:250px; margin:0;position: fixed;top: 0;left: 0;height: 100vh;box-shadow: 0px 0 15px 0 rgba(0,0,0,.3);z-index: 99;}
.warpper-right {float: right; width: calc(100% - 250px);}
.main { padding:0px;margin: 0;}
.banner-main{background-position: center center;background-repeat: no-repeat;background-size: cover;min-height: 400px;position: relative;}
.banner{position:absolute;bottom:0%;width:100%; right: 0;margin: 0 auto;text-align: center;padding:15px 20px ;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+50,000000+100&0+0,1+50,0+100 */
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */}
.banner-title-ch{font-size:22px; color: #ddd;font-family:"微軟正黑體";padding:0px 0 0 0;}
.banner-title-en{font-family: 'Quicksand', sans-serif;font-size:50px; color: #fff;text-transform: uppercase;padding:8px 0;letter-spacing: 2px;font-weight:500;line-height: 40px;}
.contect-main{padding:25px;}
.page-main{font-size: 16px; color: #333;}
.page-main a{ color: #333;}
.page-main a:hover{ color: #666;}
.page-title{font-size: 20px; color: #333; background: url(../images/page-title.png) no-repeat top 12px left 0;font-weight: bold;background-size:11px;padding:5px 0 5px 20px;margin:0 0 20px 0;}
.col-100 {width:100%;}
.col-005 { width:5%; float:left;}
.col-010 { width:10%; float:left;}
.col-015 { width:15%; float:left;}
.col-020 { width:20%; float:left;}
.col-025 { width:25%; float:left;}
.col-030 { width:30%; float:left;}
.col-035 { width:35%; float:left;}
.col-040 { width:40%; float:left;}
.col-045 { width:45%; float:left;}
.col-050 { width:50%; float:left;}
.col-055 { width:55%; float:left;}
.col-060 { width:60%; float:left;}
.col-065 { width:65%; float:left;}
.col-070 { width:70%; float:left;}
.col-075 { width:75%; float:left;}
.col-080 { width:80%; float:left;}
.col-085 { width:85%; float:left;}
.col-090 { width:90%; float:left;}
.col-095 { width:95%; float:left;}

.cor-005 { width:5%; float:right;}
.cor-010 { width:10%; float:right;}
.cor-015 { width:15%; float:right;}
.cor-020 { width:20%; float:right;}
.cor-025 { width:25%; float:right;}
.cor-030 { width:30%; float:right;}
.cor-035 { width:35%; float:right;}
.cor-040 { width:40%; float:right;}
.cor-045 { width:45%; float:right;}
.cor-050 { width:50%; float:right;}
.cor-055 { width:55%; float:right;}
.cor-060 { width:60%; float:right;}
.cor-065 { width:65%; float:right;}
.cor-070 { width:70%; float:right;}
.cor-075 { width:75%; float:right;}
.cor-080 { width:80%; float:right;}
.cor-085 { width:85%; float:right;}
.cor-090 { width:90%; float:right;}
.cor-095 { width:95%; float:right;}

@media only screen and (max-width: 899px) {
.warpper-left {float:inherit; width:0;z-index: 99;box-shadow: 0px 0 0px 0 rgba(0,0,0,0);}
.warpper-right {float:inherit; width: 100%; margin: 0 0 0 0px;}
.contect-main{padding:15px;}
}

@media screen and (max-width:680px){
.col-100, .col-005, .col-010, .col-015, .col-020, .col-025, .col-030, .col-035, .col-040, .col-045, .col-050, .col-055, .col-060, .col-065, .col-070, .col-075, .col-080, .col-085, .col-090, .col-095{ width:100%; float:inherit;}
.cor-005, .cor-010, .cor-015, .cor-020, .cor-025, .cor-030, .cor-035, .cor-040, .cor-045, .cor-050, .cor-055, .cor-060, .cor-065, .cor-070, .cor-075, .cor-080, .cor-085, .cor-090, .cor-095{ width:100%; float:inherit;}
.banner-main{background-position: center center;background-repeat: no-repeat;background-size: cover;min-height:300px;position: relative;}
}
@media screen and (max-width:400px){
.contect-main{padding:10px;}
.banner-title-en{font-size:40px;}
}
/** 次分類 **/
.top-menu{padding: 10px 0 40px 0;}
.top-menu>ul{ list-style: none;padding: 0;margin: 0;display: flex;align-items: center;justify-content: center;}
.top-menu>ul>li{padding: 0;margin:0 3px;min-width: 100px;color: #333; text-align: center;position: relative;}
.top-menu>ul>li a{display: block; font-size: 16px; color: #333;border: 1px #351f02 solid;padding: 2px 15px;}
.top-menu>ul>li a:hover{background: #333; color: #fff;}
.top-menu>ul>li .current{ background: #333; border: 1px #351f02 solid;color: #fff;}
.top-menu>ul>li .current:after{content: "";display: block;width: 0;height: 0;border-style: solid;border-width: 8px 10px 0 10px;border-color: #333 transparent transparent transparent;margin:2px auto -10px auto;}
.top-menu>ul>li>ul{ list-style: none;padding: 0;margin: 0;visibility: hidden; position: absolute;top:0%;left: 0;min-width: 150px;background: #eee;border: 1px #351f02 solid;-webkit-transition: -webkit-transform 0.3s;-moz-transition: -moz-transform 0.3s; transition: transform 0.3s;opacity: 0;z-index: 9;}
.top-menu>ul>li:hover ul{visibility:visible; position: absolute;top:100%;left: 0; -webkit-transition: -webkit-transform 0.3s;-moz-transition: -moz-transform 0.3s; transition: transform 0.3s;opacity: 1;}
.top-menu>ul>li>ul>li{padding: 0;margin: 0;}
.top-menu>ul>li>ul>li:hover { background: #E8E8E6;} 
.top-menu>ul>li>ul>li a{display: block;border:none; border-bottom: 1px #333 dashed;}
.top-menu>ul>li>ul>li:last-of-type a{ border-bottom:0px #333 dashed;}
.top-menu>ul>li>ul>li a:hover{}
.m_classLink{display: none;}

@media only screen and (max-width: 899px) {
.classBox{padding:0 0 20px 0;}
ul.classLink{display:none;}
.m_classLink{display:block; position:relative; background-color:#eeeeee; border:1px solid #333;}
.m_classLink a.main{display:block; background:none; font-size:16px; font-family:"微軟正黑體", "arial"; color:#333; position:relative; padding:8px;}
.m_classLink a.main i{display:block; font-size:15px; background:#333; width:45px; height:100%; text-align:center; color:#FFF; line-height:38px; position:absolute; right:0; top:0;}
.m_classLink ul{display:none; margin:0; padding:0; list-style:none; width:100%; background:#FFF; border:1px solid #333; position:absolute; left:0; top:100%; z-index:9; box-sizing:border-box;}
.m_classLink ul li{margin:0; padding:0;}
.m_classLink ul li a{display:block; padding:8px; border-top:1px solid #333; font-family:"微軟正黑體", "新細明體", sans-serif; font-size:15px; color:#222;}
.m_classLink ul li:first-child a{border:none;}
.m_classLink ul li a:hover{background:#eee;}
.m_classLink ul li ul{display:block; margin:0 ; padding:0 ; list-style:none;width:100%; background:#eee; border:0px solid #333; position:inherit; left:inherit; top:inherit; z-index:999; box-sizing:border-box;}
.m_classLink ul li ul li{}
.m_classLink ul li ul li a{padding:8px 15px; }
.m_classLink ul li ul li a:hover{background: #ccc;}
}

