/* CSS Document */



/** 手機選單背景 **/
.flypanels-container .offcanvas { background-color: #1F1F1F;}


/** 上版選單背景 **/
header { background: #1F1F1F; }
.flypanels-topbar {
  background: #1F1F1F; 
}

/** 回首頁按鈕 **/
.head-main .i-home a{ display:block; width:28px; height:28px; background:url(../images/icon_home_w.png) no-repeat; background-size: cover;}


/** 首頁分類　選單背景 **/
.index-menu  { border-top:1px #cccccc solid; background: url(../images/meun_bg.jpg) no-repeat center center;
-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;}

/** 首頁分類　選單 **/
.i-menu>li { color:#fff; float:left; width:24%;font-size:24px; text-align:center; background: none; padding:51px 0; margin:1% 0.5%; border: 1px #8c8989 solid !important;}
.i-menu>li>a { color:#e3e3e3;} 



@media screen and (max-width: 780px) {
	.i-menu>li { width:32%; }
}

@media screen and (max-width: 480px) {
	.i-menu>li { width:49%; }
}




/** 下版　選單背景 **/
footer { border-top:10px #595959 solid; background:url(../images/footer_bg.jpg) no-repeat top center; }



/** 左邊選單 **/
.in-left-menu-02>ul>li>a { background:url(../images/in-top-menu-list-bg-4.png) no-repeat 3px 0 #9d9b5e; color:#FFF; display:block; padding:5px 0 5px 50px; line-height:1.5em; }
.in-left-menu-02>ul>li>a:hover { background:url(../images/in-top-menu-list-bg-4.png) no-repeat 3px 0 #8e8c63; }


/** 上版分類選單 **/
.menu { padding:0 5%; list-style:none; position:relative; max-width:1200px; margin: 0 auto; border-bottom:1px solid #828277; }