@charset "utf-8";
body { width:100%; height:100%; margin:0; padding:0; font-family:"微軟正黑體";  font-size: 14px; line-height: 20px;}
html { width:100%; height:100%;}

.warpper {}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}/* End hide from IE-mac */
a { text-decoration:none;}
img { border:0; vertical-align:middle;}
input { vertical-align:middle;}
.slicknav_menu {display:none;}
input.select-box { border:1px #CBCBCB solid; padding:5px 3%; width:20px; height:20px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; }


/*** padding and border no width ****/
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}



/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder { color:#9a9a9a; }
::-moz-placeholder { color:#9a9a9a; } /* firefox 19+ */
:-ms-input-placeholder { color:#9a9a9a; } /* ie */
input:-moz-placeholder { color:#9a9a9a; }

/* webkit专用 */
#field2::-webkit-input-placeholder { color:#9a9a9a; }
#field3::-webkit-input-placeholder { color:#9a9a9a; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#333; }

/* mozilla专用 */
#field2::-moz-placeholder { color:#9a9a9a; }
#field3::-moz-placeholder { color:#9a9a9a; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#9a9a9a; }






header { background:url(../images/top_bg.png) ;}
.head-main { margin:0 auto; height:108px; padding:0; position:relative; }

.head-main .i-home { display:block; float:left; width:74px; height:108px;padding:40px 22px;}
.head-main .i-home a{ display:block; width:28px; height:28px; background:url(../images/icon-home.png) no-repeat; }

.head-main .logo { float:left; width:50%; }
.head-main .logo img { width:auto; height:90px; margin:10px 0 0 30px;}
.home { display: block; position:absolute; top:-35px; right:0px; width:25px; height:auto;}
.home_w { display:none;}


.edm{ margin:-107px 0 0 0;}

.banner { width:100%; overflow: hidden; position: relative; }
.banner img { vertical-align:middle; width:100%; height:auto; position:absolute;}


h3.login-title { margin:0 0 10px 0; font-family:"Times New Roman"; font-size:24px; line-height:30px; color:#9B9B9B;}
.login-tool { }
.icon-tool { width:40px; height:auto; border-radius: 5px;}

/***  選單與下拉  ***/
nav { }
 .menu { padding:0 5%; list-style:none; position:relative; max-width:1200px; margin: 0 auto; border-bottom:1px solid #FFF; }
 .menu>li { color:#fff; width:12.5%; float:left; font-size:14px; text-align:center; position:relative;  line-height:65px; cursor:pointer;}
 .menu>li>a { color:#FFF; display:block; }  
 .menu>li>a:hover  { color:#FF6; }



/***  首頁選單  ***/
.index-menu  { border-top:11px #b40807 solid;background: url(../images/meun_bg.jpg) no-repeat center center;-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;}
 .i-menu {padding:40px 9%; list-style:none; position:relative; max-width:1200px; margin: 0 auto; text-align:center; }
 .i-menu>li { color:#fff; float:left; width:25%;font-size:24px; text-align:center; background:url(../images/menu_bg02.png) no-repeat center center; padding:51px; margin:1% 0;}
 .i-menu>li>a { color:#fffc00; display:block; transition: 300ms; -moz-transition: 300ms; -webkit-transition: 300ms;}  
 .i-menu>li>a:hover {color:#fffd5c; transition: 300ms; -moz-transition: 300ms; -webkit-transition: 300ms;}

@media screen and (max-width: 990px) {
	.i-menu {padding:40px 5%; }
} 

@media screen and (max-width: 895px) {
	.i-menu {padding:40px 1%; }
}

@media screen and (max-width: 830px) {
	.i-menu>li { width:50%; font-size:20px;}
}

@media screen and (max-width: 400px) {
	.i-menu>li { width:50%; font-size:18px; padding: 40px 20px; -moz-background-size:90%;
-webkit-background-size:90%;
-o-background-size:90%;
background-size:90%;}
}


.i-menu a.i-menu001{ background: url(../images/menu-icon001.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu002{ background: url(../images/menu-icon002.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu003{ background: url(../images/menu-icon003.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu004{ background:url(../images/menu-icon004.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu005{ background:url(../images/menu-icon005.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu006{ background:url(../images/menu-icon006.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu007{ background:url(../images/menu-icon009.png) no-repeat center 5px; padding:60px 0 0 0;} 
.i-menu a.i-menu008{ background:url(../images/menu-icon010.png) no-repeat center 5px; padding:60px 0 0 0;} 

.i-menu a.i-menu001:hover{ background:url(../images/menu-icon001.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu002:hover{ background: url(../images/menu-icon002.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu003:hover{ background:url(../images/menu-icon003.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu004:hover{ background: url(../images/menu-icon004.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu005:hover{ background: url(../images/menu-icon005.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu006:hover{ background: url(../images/menu-icon006.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu007:hover{ background: url(../images/menu-icon009.png) no-repeat center 0px; padding:60px 0 0 0;} 
.i-menu a.i-menu008:hover{ background:url(../images/menu-icon010.png) no-repeat center 0px; padding:60px 0 0 0;} 


/***** 訂單列表  *****/

.order-search { padding-left:30px;}
.order-list { padding-left:30px;} 
.order-list td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.order-list img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.order-list .order-list-th { font-size:15px; color:#FFF; text-align:center; line-height:25px;}
.order-list .order-list-td { font-size:15px; color: #333; text-align: center;}
.order-list .price { font-size:15px; color:#900;}
.order-list .numb { font-size:15px; color: #788BAC; text-align:left;}
.order-list .numb a {color: #788BAC;}
.order-list .count { font-size:15px; color: #333;}
.order-list .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
                     .count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.order-list .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.order-list .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}
.oproject { display:none; color:#900;}


ul.order-list { list-style:none; margin:0 ; padding:0;}
ul.order-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.order-list li:nth-child(odd){ background: #F5F5F5;}
ul.order-list li.th { background: #666; color: #fff; text-shadow:-1px -1px 0 #333; padding:3px 0; -webkit-border-radius:  2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; border:0;}
.th .order-list-img, .th .order-list-name, .th .order-list-price, .th .order-list-quantity, .th .order-list-subtotal, .th .order-list-del { padding-top:5PX; }

.order-list-img { float:left; width:10%; display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
.order-list-img02 { float:left; width:10%; display:table-cell; font-size:15px;  padding-top:5px; vertical-align:middle; text-align:center;}
  .sorder-list-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}


.order-list-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.order-list-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


.order-ditaile-info { padding:0 0 0 40px; font-size:15px; color: #333; line-height:1.5em; }
.jump-window-box  { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

/*** 會員登入  ***/
.member-login-box { max-width:500px; margin:0 auto; border:1px #CCC solid; padding:20px; margin-top:20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*****  購物車  *****/
.cart-body { max-width:1200px; margin:0 auto;}
.shopping-car { padding-left:30px;} 
th.shopping-car-th { background: #69C; font-size:15px; color:#FFF; text-align:center; line-height:25px;  border-right:1px #fff dotted;} 
.shopping-car td { text-align:center; font-size:12px; line-height:1.5em; padding:5px 10px; border-bottom:1px #CCC dotted; border-right:1px #CCC dotted;}
.shopping-car img.pro-photo { width:90px; height:90px; padding:10px; border:1px #CCC solid;}
.shopping-car .pro-name { font-size:15px; color: #333; text-align:left;}
.shopping-car .price { font-size:15px; color:#900;}
.shopping-car .numb { font-size:15px; color: #66F;}
.shopping-car .count { font-size:15px; color: #333;}
.shopping-car .count-portal { padding:10px 0; border-bottom:1px #CCC dotted; margin-bottom:20px;}
              W.count-price { font-size:24px; font-family:Verdana; color: #900; font-weight:bold;}
.shopping-car .portal { display:block; width:200px; font-size:15px; color:#900; float:right; text-align:right;}
.shopping-car .freight { display:block; width:150px; font-size:15px; color:#900; float:right; text-align:right;}



ul.shopping-car-list { list-style:none; margin:0 ; padding:0;}
ul.shopping-car-list li { border-bottom:1px #CCC dotted; padding:5px 0; }
ul.shopping-car-list li.th { background: #777; color: #fff; text-shadow:-1px -1px 0 #393939;  min-height:0px; padding:5px 0; border:0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
.th .shop-car-img, .th .shop-car-name, .th .shop-car-price, .th .shop-car-quantity, .th .shop-car-subtotal, .th .shop-car-del { padding-top:5PX; }

.shop-car-img { display:table-cell; font-size:15px; vertical-align:middle; text-align:center;}
  .shop-car-img img { width:90px; height:auto; padding:5%; border:1px #CCC solid; margin:5%; text-align:center;}
.shop-car-name { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;} 
.shop-car-price {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-quantity { display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-subtotal{  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del {  display:table-cell; padding-top:50PX;  font-size:15px; vertical-align:middle; text-align:center;}
.shop-car-del a { color:#fff; padding:3px 10px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.shop-car-del a:hover { 
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.shopping-car .oproject { font-size:15px; color:#000; display:none; font-weight:bold; }


.checkout-box { background:#eee; padding:10px; margin-left:30px; border-bottom:2px #FFF dotted;}
.checkout-box h3 { background: #999; border-left:5px #333 solid; font-size:18px; color:#fff; text-shadow:-1px -1px 0 #666; line-height:30px; padding-left:20px; font-weight:500;}
.check-box { padding:5px; font-size:15px; color:#000;}
.check-box a { color:#000;}
.check-box a:hover { color:#960; } 

.appointment { max-width:600px; margin:0 auto;}
.appointment-title { text-align:center;}

/*****  產品專區  *****/
.search { padding:0 10px;}
.search-input { padding:10px 0; position:relative;}
.search-input img { position:absolute; right:0; top:10px;}
.search input { background: #e8d5d5; font-size:15px; color: #737946; padding:5px 0 5px 5%; line-height:31px; height:31px; width:85%; 
                -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 10% 0 0; right:70px; vertical-align:middle;}
.search img { vertical-align:middle;}

.pro-store-info { font-size:13px; line-height:1.5em; color:#666; padding:10px 0 10px 35px; border-bottom:1px #CCC dotted; margin-bottom:20px;}
.pro-search-info { font-size:18px; color:#64691F; line-height:1.5em; border-bottom:1px #CCC dotted; margin-bottom:20px; text-align:center; padding-bottom:10px;}

.pro-list { clear:both; margin-bottom:30px;}
.pro-list ul { max-width:1200px; margin:0 auto; padding:0; list-style:none;}
.pro-list ul li {  width:33%; padding:1%; text-align:center; float:left; margin:10px 0 0 0;}

.pro-list ul li h4 { font-size:18px; color:#bcbd6e; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; height:64px; overflow:hidden; }


.pro-photo {  width:100%; display: table; position: relative;}
.pro-photo a { display: table-cell; height:200px; vertical-align: middle; text-align:center;}
.pro-photo img.index-pro-img { width: auto; height: auto; max-width:100%; max-height:100%; border:1px solid #FFF;}

.pro-photo iframe{ width:100%; height:auto;}

.pro-list ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block;;}
.pro-list ul li .index-pro-price { color:#b83400; font-size:18px; padding:0 0 10px 0; display:block; }

.pro-detaile { padding:0 1%; clear:both; max-width:800px; margin:0 auto 40px auto; }
h3.pro-detaile-title { border-bottom:1px #CCC dotted; font-size:20px; color:#333; line-height:30px; margin:0 0 10px 0; padding:5px 0; font-weight:normal;}


.pro-detaile .pro-photo { width:100%; margin:0 0 10px 0; padding:0; max-width:205px; margin:0 auto;}
.pro-detaile .pro-photo img { width:100%; height:auto;}
.pro-specification {  font-size:12px; line-height:1.5em; color:#333; position:relative; margin-bottom:10px;}
.pro-specification p { }
.pro-content { padding:0px 0; font-size:14px; color:#FFF; clear:both; line-height:30px;} 
.pro-content p.spec { margin:0; padding:0; font-size:12px; line-height:1.5em; color:#333;}


/** 師資介紹 **/
.teacher-list{}
.teacher-list ul{}
.teacher-list ul li{width:20%;}



h3.pro-introduce { font-weight:normal; border-bottom:1px #808269 dotted; padding:10px 0 20px 0; font-size:20px; color:#bcbd6e; text-align:center;}
.pro-qr-code {}
.pro-qr-code img { width:100px; height:auto;}
.cart-info { vertical-align:middle; }
.cart-info .price { font-size:28px; font-weight:bold; text-align:right; margin:20px 0; color: #F00;  vertical-align:middle; display:block;}
.cart-info .quantity { font-size:16px; color: #333;  vertical-align:middle; display:block; padding:10px 0; line-height:30px;}
.cart-info .quantity select { line-height:25px;}
 .check-out { text-align:center;  vertical-align:middle; display:block;}
 .check-out a {display:block; vertical-align:middle;  font-size:13px; min-width:130px; color:#333; padding:5px 10px; margin:10px 0; text-shadow:-1px -1px 0 #fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #FFF; border:1px #D4D4D4 solid;}	
 			  
 .check-out a:hover { background: #D4D4D4;  text-shadow:-1px -1px 0 #A2A2A2; color:#333;}
 .check-out a img { vertical-align:middle; margin-right:10px;}
.cart-btn { padding:15px 0 10px 0; text-align:center; margin:15px 0; }

.size { margin:5px 0; padding:7px 0; border-bottom:1px #DFDFDF solid;  border-top:1px #DFDFDF solid; }
.size ul { list-style:none; margin:0 auto; padding:0;}
.size ul li { background:#AAAAAA; font-size:12px; color:#ffffff;  margin:0 2px; float:left; cursor:pointer; width:25px; line-height:25px; text-align:center;}
.size ul li:hover { background:#5E9BC7;}
.size ul li.active { background:#5E9BC7; }
.size ul li.none { background:#E7E7E7; }
.size ul li.title { background: none; font-size:15px; color:#575757; width:auto; }

/**** 產明細圖片特效樣式 ****/
.slider-wrap								{ width: 100%;}	
.stripViewer .panelContainer		        { width: 400% !important;}	
.stripViewer .panelContainer  .panel ul		{ text-align: left; margin: 0 15px 0 30px; width: 100%}
.stripViewer								{ position: relative; overflow: hidden; width:100%; height: auto; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; width:400%; }
.stripViewer .panelContainer .wrapper       { width:100%;}
.stripViewer .panelContainer img            { width:100%; height:auto;}
.stripViewer .panelContainer .panel			{ float: left; position: relative;}
.stripNavL, .stripNavR, .stripNav			{ display: none; width:100%; }
.slider-wrap a                              { height:auto;}
.nav-thumb 									{ margin-right: 5px; }
#movers-row									{ margin:5px 0 0 0; width:101%; }
#movers-row div								{ width: 25%; float: left; padding-right:1%; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; margin-top: 0px; position: relative; padding-top: 0px;}
.active-thumb 								{ background: transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat; }
.panel { width:25%;} /**四張圖 乘 四分之一 **/

/*** 課程介紹 ***/
.class{ padding:0 1%;}
.class ul{ list-style:none; padding:0; margin:0;}
.class ul li{ float:left; width:48%; margin:1%;}
.class ul li img{width:100%;}

/** 分校 **/
.store-list { margin:80px 0 0 0;}
.store-list ul { max-width:1160px; margin:0 auto; padding:0; list-style:none;}
.store-list ul li {  width:30%; padding:1%; margin:0 1.5% 65px 1.5%; text-align:center; float:left; background:#0d0c0b;transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
.store-list ul li:hover{ margin:-10px 1.5% 75px 1.5%;transition: 300ms; -moz-transition: 300ms; -webkit-transition: 300ms;}
.store-list ul li img{  width:100%; height:auto; border:1px solid #FFF; }


.store-list ul li h4 { font-size:18px; color:#bcbd6e; line-height:24px; font-weight:normal; padding:0 0 10px 0; margin:0; }
.store-photo { background:#fff; width:100%; vertical-align: middle; position: relative;}
.store-list-information{ padding:15px 0 10px 0; color:#bdbb8d; font-size:14px;}


.school-box-01{ background:url(../images/bg-school-detail-01.jpg) no-repeat center top; clear:both; padding: 20px 0 90px 0;  -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover; background-size:cover;}
.school-box-02{ background:url(../images/bg-school-detail-02.jpg) no-repeat center top; clear:both; padding: 20px 0 40px 0;  -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover; background-size:cover;}
.school-box-03{ background:url(../images/bg-school-detail-03.jpg) no-repeat center top; clear:both; padding: 30px 0 90px 0;  -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover; background-size:cover;}

.store-detaile { padding:0 2%; max-width:1200px; margin:0 auto; }
h3.store-introduce {margin:35px auto 25px auto; font-weight:normal; border-bottom:1px dotted #808269; padding:10px 15px 25px 15px; font-size:30px; color:#bcbd6e; text-align:center;  max-width:800px;}
.store-content { padding:0 0 30px 0; font-size:14px; line-height:24px; color:#FFF; clear:both; max-width:800px; margin:0 auto;} 
.store-surroundings{padding:0px 0; font-size:12px; line-height:1.5em; color:#999; clear:both;}
.store-surroundings ul{ list-style:none; padding:0; margin:0; text-align:center;}
.store-surroundings ul li{ padding:10px 20px; margin:0; display:inline-block ; text-align:center;}
.store-surroundings ul li img{ width:100%;border-radius:30px;}




/** 環境介紹 圖片輪播**/
.run { max-width:1120px; margin:0 auto; position:relative; padding:0 20px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
.run ul { margin:0; padding:0; list-style:none; white-space: nowrap; /* 不斷行 */ width:100%; overflow:hidden;}
.run ul li { display: inline-table; width:24%; margin:0.5%;}
.run ul li img { width:100%; height:auto;} 
a.btn-left { position:absolute; left:-30px; top:35%; text-decoration:none; width:40px; height:71px;}
a.btn-right { position:absolute; right:-35px; top:35%; text-decoration:none; width:40px; height:71px;}
a.btn-left img,a.btn-right img{ width:100%;}

@media screen and (max-width: 1210px) {
	.run { max-width:1000px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
	a.btn-left { left:-15px; top:35%; text-decoration:none; width:30px; height:auto;}
	a.btn-right { right:-20px; top:35%; text-decoration:none; width:30px; height:auto;}
} 

@media screen and (max-width: 1060px) {
	.run { max-width:840px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
}
@media screen and (max-width: 900px) {
	.run { max-width:730px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}
}
@media screen and (max-width: 800px) {
	.run ul li { display: inline-table; width:32%; margin:0.5%;}
	a.btn-right {right: -12px;}
	a.btn-left { left:-5px; top:35%; width:20px;}
	a.btn-right { right:-5px; top:35%; width:20px; }
}

/** 交通資訊 **/
.traffic{ }
.traffic .map{ width:44%; float:left;}
.traffic .manner{ width:56%; float:left; padding:0 1% 0 2%; height:315px; overflow:auto;}



/*****  關於我們  *****/
.about{ max-width:800px; margin:0 auto; color:#FFF; font-size:14px; line-height:30px;}


/*****  歷屆榜單  *****/
.admit{ padding:0 3%;}



/*****  聯絡我們  *****/
.contact{ max-width:800px;}
.contact-body { padding:0 1%;}
.contact-note { padding:10px 0; font-size:13px; color:#F00;}
.contact-left { }
.contact-left img { width:100%; height:auto; margin-top:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.btn-send { font-size:13px;} 
a.btn-send { background: #434026; padding: 6px  25px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; }
a.btn-send:hover { background: #555021;}
a.btn-reset { background:#bd0a0a;  padding: 6px 25px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; }
a.btn-reset:hover { background:#777;}


a.btn-send-over { background: #79919F; padding: 3px  20px; text-align:center; font-size:15px; color:#fff; width:100px; margin:2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.btn-send-over:hover { background: #63AEBD;}

img.code { width:100px; height:32px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:0 5px; vertical-align:middle;}

/*****  FAQ  *****/
.faq {}
.faq ul { margin:0; padding:0; list-style:none;}
.faq ul li { border-bottom:1px #fff solid; }
.faq ul li .qa_title { background: #DDDCD7; font-weight:normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-left:8px #333 solid;}
.faq ul li a { color: #333; font-size:15px; display:block; padding:10px 0 10px 10px; text-shadow:1px 1px 0 #fff;}
.faq ul li a:hover { background:#C5C4B7; color:#fff;  text-shadow:-1px -1px 0 #666;}
.faq ul li .qa_content { border-top:1px #CCC dotted; padding:10px 0 20px 25px; font-size:13px; line-height:1.5em; color:#666;}



/*****  最新消息  *****/
.news { padding:0 3%;}
.news ul { margin:0; padding:0; list-style:none;}

.opacl { font-size:12px; line-height:20px; padding-bottom:10px; }
.opacl a { background: #888888; color:#fff; padding: 3px 10px; margin:0 5px; -webkit-border-radius: 5px 5px 0 0px; -moz-border-radius: 5px 5px 0 0px; border-radius: 5px 5px 0 0px;}
.opacl a:hover { background:#699;}
a.close_qa { font-size:12px;} 
#qaContent{}
.accordionPart{}


/*** news-list  最新消息 ***/
.news-list { list-style:none;}
.news-list li { clear:both; padding:10px ; margin-bottom:30px;}
.news-list li .news-img { float:left; width:22%; padding:0 4% 0 0; border-right:1px solid #8e7e7f;}
.news-list li .news-img img{ width:100%;}
.news-list li .news-lis-cont { float:left; width:75%; padding:0 0 0 3%; }
.news-list li .news-lis-cont a { color:#bcbd6e; display:block;}
.news-list li .news-lis-cont a:hover { color:#FF6;}
.time { color:#3CA3D5; padding:10px 0 10px 40px; border-bottom:1px #D7D7D7 dotted;}
.news-list li .news-lis-cont .news-title{ padding:5px ; margin:0 0 8px 0; font-size:18px; color:#bcbd6e;}
.news-list li .news-lis-cont .news-date{padding:5px; color:#dcdfb9; margin:0 0 5px;}
.news-list li .news-lis-cont .news-brief{padding:5px; color:#FFF; line-height:24px;}
.news-title02{ padding:5px ; margin:50px 0 5px 0; font-size:18px; color:#bcbd6e; text-align:center;}
.news-date02{padding:15px 5px; color:#dcdfb9; font-size:14px; text-align:center; max-width:800px; border-bottom:1px dotted #808269; margin:0 auto;}

.news-detaile{ max-width:800px; margin:0 auto; color:#FFF; font-size:14px; line-height:30px;}


/*****  內頁架構  *****/
.content-body {max-width:1200px; margin:0 auto; padding:20px 0; }
.page-title {text-align: center; font-size: 36px; color: #fff600; padding: 5px 0 25px 0; max-width: 240px; border-bottom: 2px solid #fff600; margin: 55px auto 20px auto; font-weight:normal;}
.page-name{ color:#FFF; font-size:24px; text-align:center; font-weight:normal; margin:0 0 65px 0; clear:both;}
.page-name-02{ font-size:18px; color:#bcbd6e; border-bottom:1px dotted #808269; margin:0 1% 25px 1%; padding:0 0 20px 0;}
.page-main { padding: 0 1%; font-size: 13px; color:#666; line-height:1.5em;  }

.left-menu-title { background: #909090; text-align:center; font-size:18px; color: #fff; text-shadow:-1px -1px 0px #666;   padding:5px 0 10px 0; border-top:1px #999 dotted;  
                   -webkit-border-radius:0 0 5px 0px; -moz-border-radius:0 0 5px 0px; border-radius:0 0 5px 0px;}
.in-left-menu {  }
.in-left-menu>ul { margin:0; padding:0 6% 0 0; list-style:none; }
.in-left-menu>ul>li  {border-bottom:1px #dc1010 solid ; font-size:15px; color:#666; padding:5px 0;}
.in-left-menu>ul>li>a { background:url(../images/left-icon.png) no-repeat 0 -3px; color:#FFF; display:block; padding:5px 0 5px 30px; line-height:1.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.in-left-menu>ul>li>a:hover { background:url(../images/left-icon.png) no-repeat 0 -3px;}

.in-left-menu>ul>li ul { margin:5px 0 0 40px; padding:0; list-style: square;} 
.in-left-menu>ul>li ul li { border-top:1px #CCC dotted; padding:5px;}
.in-left-menu>ul>li ul li:hover { background: #E8E8E6;} 
.in-left-menu>ul>li ul li a { font-size:13px; color:#666; display:block;}
.in-left-menu>ul>li ul li a:hover { color: #71743D;  }


.in-left-menu-02 {  }
.in-left-menu-02>ul { margin:0; padding:0 6% 0 0; list-style:none; }
.in-left-menu-02>ul>li  { font-size:18px; color:#666; padding:5px 0;}
.in-left-menu-02>ul>li>a { background:url(../images/in-top-menu-list-bg-4.png) no-repeat 3px 0 #5d8538; color:#FFF; display:block; padding:5px 0 5px 50px; line-height:1.5em; }
.in-left-menu-02>ul>li>a:hover { background:url(../images/in-top-menu-list-bg-4.png) no-repeat 3px 0 #467020;}

.in-left-menu-02>ul>li ul { margin:5px 0 0 40px; padding:0; list-style: square;} 
.in-left-menu-02>ul>li ul li { border-top:1px #CCC dotted; padding:5px;}
.in-left-menu-02>ul>li ul li:hover { background: #E8E8E6;} 
.in-left-menu-02>ul>li ul li a { font-size:13px; color:#666; display:block;}
.in-left-menu-02>ul>li ul li a:hover { color: #71743D;  }


/**----- 上方分類 -----**/

/** 樣式一 **/
.top-menu-title { text-align:center; font-size:36px; color: #fff600;  padding:5px 0 25px 0; max-width:240px; border-bottom:2px solid #fff600; margin:55px auto 20px auto; }
.in-top-menu { }
.in-top-menu>ul { margin:0 0 80px 0; padding:10px 0 0px 0; list-style:none; text-align:center; clear:both;}
.in-top-menu>ul>li  {font-size:18px; color:#666; padding:5px 0; text-align:center; display:inline-block; width:15%; margin:0 0.5%;  }
.in-top-menu>ul>li>a { background:url(../images/in-top-menu-list-bg.png) no-repeat #d02218; color:#FFF; display:block;line-height:36px;  border-radius: 20px ; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms; padding:0 5px 0 36px;}
.in-top-menu>ul>li>a:hover { background:url(../images/in-top-menu-list-bg.png) no-repeat #a41810; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}

.in-top-menu-02 {  }
.in-top-menu-02>ul { margin:0 0 80px 0; padding:10px 0 0px 0; list-style:none; text-align:center; clear:both;}
.in-top-menu-02>ul>li  {font-size:18px; color:#666; padding:5px 0; text-align:center; display:inline-block; width:15%; margin:0 0.5%;  }
.in-top-menu-02>ul>li>a { background:url(../images/in-top-menu-list-bg-2.png) no-repeat #d2cc2c; color:#000; display:block;line-height:45px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms; padding:0 5px 0 40px;}
.in-top-menu-02>ul>li>a:hover { background:url(../images/in-top-menu-list-bg-2.png) no-repeat #f7df13; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}


.in-top-menu-03 {  }
.in-top-menu-03>ul { margin:0 0 80px 0; padding:10px 0 0px 0; list-style:none; text-align:center; clear:both;}
.in-top-menu-03>ul>li  {font-size:18px; color:#666; padding:5px 0; text-align:center; display:inline-block; margin:0 0.5%; width:120px;  }
.in-top-menu-03>ul>li>a { border:1px #ffffff solid; color:#FFF; display:block;line-height:45px; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms; padding: 0;}
.in-top-menu-03>ul>li>a:hover { background: #468c07; transition: 500ms; -moz-transition: 500ms; -webkit-transition: 500ms;}


/*****  內頁BANNER  *****/
.inside-banner { background: #909090; padding:20px 0; }
.inside-banner .banner-title { max-width: 1200px; font-size:18px; color:#fff; margin:0 auto; border-left:4px #AAA8A8 solid; padding:0 0 0 20px; line-height:30px;  }


/*****  首頁產品  *****/
.index-pro { max-width:1200px; margin:0 auto;}
.index-pro-title {font-size:24px; color:#333; line-height:30px; padding-bottom:10px; text-align:center; font-weight:normal; border-bottom:3px #DFDFDF solid;} 
.index-pro ul { max-width:1200px; margin:0 auto; padding:0; list-style:none;}
.index-pro ul li {  width:20%; padding:1%; text-align:center; float:left;}
.index-pro ul li:hover { background:#f8f6f6;}
.index-pro ul li h4 { font-size:15px; color:#504f4d; line-height:1.5em; font-weight:normal; padding:5px 0 5px 0; margin:0; }

.index-pro ul li .index-pro-store {color:#938c83; line-height:1.5em; padding:10px 0; display:block; text-decoration: line-through; }
.index-pro ul li .index-pro-price { color:#b83400; font-size:20px; padding:0 0 10px 0; display:block; font-family:Helvetica, Arial; }


a.cart { background:#9B9B9B; padding:5px 8px; color:#ffffff; font-size:15px; display:block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:0px #DBDBDB solid;  width:48%; margin-right:2%; float:left;}
a.cart img { padding-right:0px; vertical-align:middle;}
a.cart:hover { background: #A7A7A7;}

a.check { background:#9B9B9B; padding:5px 8px; color:#ffffff; font-size:15px; display:block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:0px #DBDBDB solid;  width:48%; margin-left:2%; float:left;}
a.check img { padding-right:0px; vertical-align:middle;}
a.check:hover { background: #A7A7A7;}

.index-more { max-width:1200px; border-top:1px #dad0d0 solid; margin:50px auto 0 auto; height:50px; position:relative; }
.index-more a { background:url(../images/index-more-pro.png) no-repeat; color:#a7a7a7; width:132px; height:36px; display:block; margin:0 auto; text-align:center; position:absolute; top:-10px; left:50%; margin-left:-66px;}


/*****  首頁連結  *****/
.index-link { max-width:1200px; margin:0 auto;}
.index-link h3 { color:#333; font-size:36px; font-weight:normal; text-align:center; line-height:0.8em; letter-spacing:2px;}
.index-link h3 .red { color:#d45500; font-size:24px; letter-spacing:0px;}
.index-link h3 .brwon { color:#c2ab8a; font-size:24px; padding-left:15px; letter-spacing:0px;}

.index-link-top { height:75px;}

.index-link ul { background:#e1e1e1; margin:0; padding:0; list-style:none;}
.index-link ul li { float:left; width:25%; margin:0; padding:0; border:1px  #fff dotted;}
.index-link ul li img { width:100%; height:auto; border:0; margin:0; padding:0;}


/*****  首頁 搜尋 最新消息模組  *****/
.index-news { width:100%; position:relative;}
.index-news-line { position:absolute; width:100%; border-bottom:1px #d1d1d1 solid; top:50px; z-index:-1; }

.index-search-news { max-width:1200px; margin:0 auto;}
.index-search { }
.index-search h3 { font-size:24px; color:#333; font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0; }
.index-search span { display:block; float:right; font-size:15px; color:#d1d1d1; font-weight:normal;}
.index-search-input { padding:10px 0 20px 0; position:relative; color:#333;}
.index-search-input img { position:absolute; right:0; top:10px;}
.index-search input { background: #e8d5d5; font-size:15px; color: #333; padding:5px 0 5px 20px; line-height:21px; width:100%; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border:0; margin:0 5% 0 0; right:51px; vertical-align:middle;}
.index-search img { vertical-align:middle;}

.i-news { padding-left:50px;}
.i-news h3 { font-size:24px; color:#333;  font-weight:normal; line-height:40px; margin:10px 0 10px 0; padding:0;}
.i-news h3 span { display:block; float:right; font-size:14px; color:#afaaaa; font-weight:normal;}
.i-news h3 span a {color:#333;}
.i-news h3 span a:hover { color: #12A8D5;}
.i-news ul { list-style:square; color:#333; padding:0 0 0 20px; margin:0; }
.i-news ul li { padding:5px 0; font-size:15px; line-height:1.5em; border-bottom:1px #E7E7E7 solid;  }
.i-news ul li a { color:#333; display:block;  }
.i-news ul li a:hover { color:#F96;}


/***  會員登入  ***/
h3.login-title { margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B;}
.login-tool {}
.icon-tool { width:40px; height:auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.member-signup { font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}
.calender { width:30px; height:auto;}


/***  版面欄位  ***/
.main { padding:0 0 60px 0;}
.col-100 {float:left; width:100%;}
.col-010 { width:9%; margin-right:1%; float:left;}
.col-015 { width:14%; margin-right:1%; float:left;}
.col-020 { width:19%; margin-right:1%; float:left;}
.col-025 { width:24%; margin-right:1%; float:left;}
.col-030 { width:29%; margin-right:1%; float:left;}
.col-040 { width:39%; margin-right:1%; float:left;}
.col-045 { width:44%; margin-right:1%; float:left;}
.col-050 { width:49%; margin-right:1%; float:left;}
.col-055 { width:54%; margin-right:1%; float:left;}
.col-060 { width:59%; margin-right:1%; float:left;}
.col-065 { width:64%; margin-right:1%; float:left;}
.col-070 { width:69%; margin-right:1%; float:left;}
.col-075 { width:74%; margin-right:1%; float:left;}
.col-080 { width:79%; margin-right:1%; float:left;}
.col-085 { width:84%; margin-right:1%; float:left;}

.cor-010 { width:10%; float:left;}
.cor-015 { width:15%; float:left;}
.cor-020 { width:20%; float:left;}
.cor-025 { width:25%; float:left;}
.cor-030 { width:30%; float:left;}
.cor-035 { width:35%; float:left;}
.cor-040 { width:40%; float:left;}
.cor-045 { width:45%; float:left;}
.cor-050 { width:50%; float:left;}
.cor-055 { width:55%; float:left;}
.cor-060 { width:60%; float:left;}
.cor-065 { width:55%; float:left;}
.cor-070 { width:70%; float:left;}
.cor-075 { width:75%; float:left;}



 
 /* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}



/*** 訂位填寫  ***/
.show-date { background:#14A1F0; padding:5px 10px; font-size:14px; color:#fff; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.show-date a { color:#D0FF00; text-decoration:none;}
.show-date a:hover { color:#F0FF9B;}
.kyein-be-member { background: #FF1115; padding:5px 10px; font-size:14px; color: #FFDADA; line-height:25px; margin-bottom:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/*** 訂位區塊  ***/
.info-box { font-size:14px; color: #686868; line-height:20px; padding-bottom:10px; margin-bottom:10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
h4.info-title { background: #FFEDED; font-size:17px; line-height:30px; color: #AD3A3C; padding: 0 0 0 10px; margin:5px 0px 10px 0px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:normal;}
.info-content { padding:0 0 10px 20px;}
.info-content ul { list-style:square; margin:0 0 0 0px; padding:0 0 0 20px;}
.info-content ul li { border-bottom:1px #BFBFBF dotted; margin-bottom:10px; color: #A41C1F;}
.info-content ul li p { font-size:12px; color:#767676; margin:0 0 10px 0; padding:0;}
h5.info-set-opint { color:#69B7FF; font-size:15px; line-height:25px; border-bottom:1px #D9D9D9 solid; margin:0 0 10px 0;}

/***  step  ***/
.step { list-style:none; margin:0; padding: 20px 0;}
.step li { float:left; width:25%; font-size:28px; line-height:1.2em; color:#D9D9D9; border-left:1px #D9D9D9 solid; padding:0px 0; text-align:center;}
.step li.active , .step li.active span { color: #0091ED;}
.step li span { color:#7F7F7F; display:block; font-size:15px; line-height:18px; padding: 5px 0 0 0px; border-top:1px #DBD8D8 dotted; margin:10px auto 0 auto; width:80%;}


/***  定位-選項-時段  ***/
.order-opinion { padding: 0 0 10px 0; }

.time { font-size:14px; color:#7E7E7E; line-height:20px;}
.time ul { margin:0; padding:0; list-style:none;}
.time ul li { background:#FF5558; float:left; text-align:center; font-size:14px; color:#fff; line-height:20px; padding:3px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:1% 1% 0 0; width:11.5%;}
.time ul li a { color:#fff;}
.time ul li:hover { background: #D30003; }
.time ul li.finish { background:#D3D2D2;}
.time ul li span { display:block; border-top:1px #FFB6B7 solid; line-height:20px;}

.order-note { color:#DF0205; padding:10px 0;}


/***  歷史訂單  ***/
.table-border { background: #DBDBDB; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:10px;}
.table-border th {  font-size:14px; color:#fff; padding:3px 5px;}
.table-border td { font-size:14px; color: #515151; padding:3px 5px; text-align:center; }

.table-border tr:first-child { background:#FF6700; font:12px; padding:3px 5px; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.table-border tr:last-child { background:#FFF; font:12px; padding:3px 5px; -webkit-border-radius:0 0px 5px 5px; -moz-border-radius:0 0px 5px 5px; border-radius:0 0px 5px 5px;}
.table-border tr:nth-child(2n){ background:#FFF; }
.table-border tr:nth-child(2n+3){ background:#FFFBF0; }

/***  表單欄位  ***/
.form-box { min-width: 200px; margin:0 0 30px 0;}
.form-box input, .form-box img { vertical-align:middle;}
.form-style01 { font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; padding:5px 0 10px 0; line-height:20px; width:100%;}

.opinion { margin-bottom:8px; }
.opinion-left01 { background:#000; float:left; width:30%; border-left:4px #757749 solid; padding:6px 3%; font-size:14px; font-family:"微軟正黑體"; color:#bcbd6e; line-height:20px;}
				  
.opinion-right01 { float:left; width:7.5%; border:1px #CBCBCB solid; padding:0px 2%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; border-left:0;}
				  
.input-main-style01 { float:left; width:55%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px;
                      -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                  -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                  box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				      }
.input-main-style02 { background:#615757; float:left; width:70%; border:0; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#9a9a9a; line-height:20px;   }			
.input-main-style03 { float:left; width:93.3333%; border:1px #CBCBCB solid; margin:0; padding:5px 3%; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; line-height:20px; text-align:center;
                     -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
				     -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	                 -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	                 box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */
				     }						 
					 
.select-style { font-size:15px; color:#666; line-height:20px; padding:5px 10px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.order-numb { color:#FF0004;}

/***  輸入欄位  ***/

input { }
.input-style01 { background:#615757; border:0; padding:5px 3%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; width:100%; margin-bottom:5px; border-left: 4px #757749 solid;}

.input-botton01 { border:1px #CBCBCB solid; padding:5px 3%; line-height:18px; font-size:13px; font-family:"微軟正黑體"; color:#4E4E4E; width:100px; margin:0 auto; text-align:center; 
                  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:5px; text-shadow: 1px 0px #fff; font-weight:800;}

.select-style01 {border:1px #CBCBCB solid; padding:5px 3%; width:99%; line-height:20px; font-size:14px; font-family:"微軟正黑體"; color:#4E4E4E; margin:0;
                 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
                 -moz-box-shadow:0px 0px 5px #E9E9E9 inset;              /* For Firefox3.6+ */
	             -webkit-box-shadow:0px 0px 5px #E9E9E9 inset;           /* For Chrome5+, Safari5+ */
	             box-shadow:0px 0px 5px #E9E9E9 inset;                   /* For Latest Opera */}

.input-botton-blue {
background: #feffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2UyZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWVkZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffff 0%, #e2feff 35%, #9eede6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#e2feff), color-stop(100%,#9eede6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eede6',GradientType=0 ); /* IE6-8 */
}


.bg-gary-whrite {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.bg-red-orange {
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

/* 頁次 */	
.page{ height:40px; font:14px/40px "微軟正黑體"; color:#FFF; text-align: center; clear:both; margin-top:10px; }
  .page a { border:1px #ffffff solid !important; color:#fff; padding:5px 15px 7px 15px; }
  .page a:hover { background: #da1011 ; color: #fff;}
.page br { display:none;}

.page select{padding:5px; border:0;}

/******  底部資訊  ******/
footer { border-top:11px #b40807 solid; background:url(../images/footer_bg.jpg) no-repeat top center; }
footer .footer { max-width:1200px; margin:0 auto; padding:25px 0 50px 0;  }

footer .footer .information{ float:left; width:240px;font-size:12px; color:#feb3b3; line-height:18px; margin:0 1.5% 0 0;  }
footer .footer .information a{ color:#feb3b3;}
footer .footer .information a:hover{color:#ffcaca;}

footer .footer .f-icon{ float:left; width:25%; border-left:1px #727273 solid; padding:5px 20px; margin:3px 0 0 0; }
footer .footer .f-icon ul{ list-style:none; padding:0; margin:0; text-align:left; height:40px;}
footer .footer .f-icon ul li{ display:inline-table; text-align: center; padding:0 7px; margin:0; }
.f-icon a.f-icon001{ display:block; width:40px; height:40px; background:url(../images/icon-footer.png) no-repeat 0 0;}
.f-icon a.f-icon002{display:block; width:40px; height:40px;background:url(../images/icon-footer.png) no-repeat -58px 0;}
.f-icon a.f-icon001:hover{display:block; width:40px; height:40px;background:url(../images/icon-footer.png) no-repeat 0 -40px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; }
.f-icon a.f-icon002:hover{display:block; width:40px; height:40px;background:url(../images/icon-footer.png) no-repeat -58px -40px;-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; }

footer .footer .copyright{ float:right; width:40%;font-size:12px; color:#ffcaca; text-align:right; }
footer .footer .copyright a{color:#ffcaca;}
footer .footer .copyright a:hover{ color:#FFF;}
