@charset "utf-8";

/** 文字icon **/
@import "font-awesome.min.css";

.banner-title{background-color:#343a40;}
.banner-title h1{margin-bottom:0; padding:16px 0; color:#f8f9fa;}
aside, .page-main{padding-top:24px; padding-bottom:24px;}
aside ul.list-group{list-style:none;}
.m_classLink{display:none;}

@media screen and (max-width:575px){
	.classBox{padding:0 0 20px 0;}
	ul.classLink{display:none;}
	.m_classLink{display:block; position:relative; background-color:#eeeeee; border:1px solid #d1d1d1;}
	.m_classLink a.main{display:block; background:none; font-size:15px; font-family:"Microsoft JhengHei", "新細明體", sans-serif; color:#333; position:relative; padding:8px;}
	.m_classLink a.main i{display:block; font-size:15px; background:#afafaf; width:45px; height:100%; text-align:center; color:#FFF; line-height:40px; position:absolute; right:0; top:0;}
	.m_classLink ul{display:none; margin:0; padding:0; list-style:none; width:100%; background:#FFF; border:1px solid #d1d1d1; position:absolute; left:0; top:100%; z-index:99; box-sizing:border-box;}
	.m_classLink ul li{margin:0; padding:0;}
	.m_classLink ul li a{display:block; padding:8px; border-top:1px solid #d1d1d1; font-family:"Microsoft JhengHei", "新細明體", sans-serif; font-size:15px; color:#222;}
	.m_classLink ul li:first-child a{border:none;}
	.m_classLink ul li a:hover{background:#efeded;}
	.m_classLink ul li ul{display:block; margin:0 10px 10px 10px; padding:0; list-style:none; width:calc(100% - 20px); background:#FFF; border:1px solid #d1d1d1; position:inherit; left:inherit; top:inherit; z-index:999; box-sizing:border-box;}
}





/** 左側拉出購物車LIST模組 **/
#sidr-left{font:15px/1.6 Arial, "Microsoft JhengHei"; display:none; position:absolute; position:fixed; top:0; height:100%; z-index:999999; width:260px; overflow-x:none; overflow-y:auto; font-family:"lucida grande", tahoma, verdana, arial, sans-serif; font-size:15px; background:#333; color:#fff; -webkit-box-shadow:inset 0 0 5px 5px #222; -moz-box-shadow:inset 0 0 5px 5px #222; box-shadow:inset 0 0 5px 5px #222;}
#sidr-left *{font:15px/1.6 Arial, "Microsoft JhengHei"; color:#fff;}
#sidr-left .cart-header{padding:15px; text-align:center; position:relative;}
#sidr-left .cart-header .cross{position:absolute; top:5px; right:10px;}
#sidr-left .cart-header .fa{font:20px FontAwesome;}
#sidr-left .ng-hide{padding:15px; text-align:center;}
#sidr-left .cart-items{padding:15px;}
#sidr-left .cart-item{margin:10px 0; display:flex;}
#sidr-left .cart-item .product-link{width:45px;}
#sidr-left .cart-item .product-link img{width:100%;}
#sidr-left .cart-item .cart-item-content{flex:1; margin:0 10px;}
#sidr-left .cart-item .cart-item-content .title{font-size:13px;}
#sidr-left .cart-item .cart-item-content .ng-scope{font-size:13px;}
#sidr-left .cart-item .cart-item-content .price-details{font-size:13px;}
#sidr-left .cart-item .cart-item-content .ng-binding{font-size:13px;}
#sidr-left .cart-item a.remove{width:30px; font-size:14px; color:#ddd; font-family:Arial, "Microsoft JhengHei";}
#sidr-left .cart-item a.remove:hover{color:#c0392b;}
#sidr-left .cart-chkt-btn{width:100%; display:block; padding:15px;}
#sidr-left .cart-chkt-btn button{width:100%; font-size:14px; line-height:1.4em; padding:6px 12px; border:1px solid #888; text-align:center; background-color:transparent; border-radius:4px;}
#sidr-left .cart-chkt-btn button:hover{background-color:#1f2429;}
.modal-backdrop{background-color:rgba(0,0,0,.5); position:fixed; top:0; right:0; bottom:0; left:0; z-index:-1;}

/* 產品明細頁 */
.addcart-box .modal-title{}
.addcart-box .price.member{color:#9e0c36; font-weight:bold;}
.addcart-box .spec-title{padding:10px 0;}
.addcart-box ul.specs li{display:inline-block; width:auto; margin:0 5px 20px 0; padding:5px; border:2px solid #333; border-radius:5px; cursor:pointer;}
.addcart-box ul.specs li[disable],.addcart-box ul.specs li.current[disable]{background-color:#fff; color:#ccc; border-color:#ccc;}
.addcart-box ul.specs li.current{background-color:#d63b68; color:#fff;}
             ul.specs {margin-left:0; padding-left:0;}

/* RWD表格 */
.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; }
.st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.st-key { /* width: 49%; */ text-align: right; padding-right: 1%; }
.st-val { /* width: 49%; */ padding-left: 1%; }
/* RESPONSIVE EXAMPLE */
.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
}
