@charset "utf-8";
body *{font-weight:300; font-family:'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', sans-serif, 'Microsoft YaHei', Verdana, Arial;}
section{padding:20px 0;}
.section-title{font-size:36px; font-weight:500;}
.section-desc{font-size:24px; font-weight:300;}

/* 主要產品圖 */
.main-image .main-content{position:relative;}
.main-image .text-container{display:flex; flex-wrap:wrap; position:absolute; left:0; top:0; padding:20px; width:100%; height:100%; justify-content:center; align-items:flex-start; color:#fff;}
.main-image .text-container h1{display:block; font-size:56px; text-align:center;}
.main-image .text-container .section-desc{display:block;}

/* 內容3:右圖左文 */
@media (max-width:768px){
	#content-3 article{  flex-direction:column-reverse; }
}

/* YouTube iframe 自動縮放 */
.video-container{position:relative; margin:0 auto; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; max-width:calc(100% - 30px);}
.video-container iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

/* 購物說明 */
.shopping-guide{padding:40px 0; background-color:#323232; color:#fff;}
.shopping-guide .section-title{font-weight:500; font-size:18px;}
.shopping-guide .section-desc{font-size:15px;}
.shopping-guide ul{margin-bottom:1rem;}
.shopping-guide li{margin:5px 0 5px 25px;}

/* FOOTER */
.footer{padding:25px; font-weight:normal; font-size:1rem;}

/* 浮動icon */
.icon-float{position:fixed; bottom:0; right:0; margin:10px; z-index:9999;}
.icon-float ul{display:flex; flex-wrap:wrap-reverse; flex-direction:column-reverse; margin:0; padding:0; list-style:none; width:auto; height:calc(100vh - 100px);}
.icon-float ul li{text-align:center; padding:0; margin:3px; font-size:13px; color:#fff;}
.icon-float a{display:block; width:50px; height:50px; border-radius:50%;}
.icon-float a.icon001{background-color:#ec5923; font-size:25px; line-height:50px; font-family:FontAwesome; color:#fff; text-align:center;}
.icon-float a.icon001 .badge{position:absolute; font-weight:300; font-size:10px; border-radius:20px;}
.icon-float a.icon001:hover{background:#0084ff; color:#fff;}
.icon-float a.icon002{background-color:#0084ff; font-size:25px; line-height:50px; font-family:FontAwesome; color:#fff; text-align:center;}
.icon-float a.icon002:hover{background:#0084ff; color:#fff;}

/* 限時搶購 */
.fixed-countdown{position:fixed; top:10px; padding:5px 10px; z-index:1000; text-align:center; background-color:rgba(201, 76, 76, .7); color:#fff; border-radius:16px; text-decoration:none;}
@media screen and (max-width:400px){
	.fixed-countdown{font-size:12px;}
}
.fixed-countdown i{color:white; margin-left:5px;}
