@charset "utf-8";


/** 頭部 **/
header.inheader { background:#FFFfff; border-bottom: 8px #bbb solid;}


/** 底部資訊 **/
footer#footer { background: #DCDCDC;}
footer .footer-main .f-left .copytight { font-size:12px; color:#333333; line-height:17px; margin-right:12px;}
footer .footer-main .f-left .infor { font-size:12px; color:#333333; line-height:17px;}

@media screen and (max-width: 480px) {
	footer .footer-main .f-right { border-left:0; height: auto; }
} 

footer .footer-main .f-right .tel { background:url(../images/icon-tel.png) no-repeat top right; background-size: contain;  font-family:Arial; font-size:12px; line-height:19px; font-weight:bold; color:#000; padding:0 50px 0 0; margin-right:10px; float: left;}

footer .footer-main .f-right .tel .red { color:#999; padding-left:6px;}
footer .footer-main .f-right .tel .size-22{ font-size:22px; color: #222; }



.top-search .field { border: 0;}